{% extends "layout.html" %} {% block title %} Businesses {% endblock %} {% block body %}

<div class="templatediv">

    <div class="templatedivtopper businessestopper">
        <h1 class="templatedivtitle"><span class="material-icons-outlined iconlarge">
            business
            </span>Businesses</h1>
        <div class="templatedivad"></div>
    </div>

    <div class="templatedivcontent">

        <div class="templateoutertablediv">
            <table class="templatetable templatetable2">
                <tr>
                    <th>Name</th>
                    <th>Type</th>
                </tr>
                <tr>
                    <td><a href="/business/id={{ id }}">{{ name }}</a></td>
                    <td>Name</td>
                </tr>
            </table>
        </div>
    </div>
</div>
{% endblock%}