{% extends "layout.html" %} {% block title %} Template {% endblock %} {% block body %}
<div class="templatediv">

    <div class="templatedivtopper">
        <h1 class="templatedivtitle">{{coalition }} Members</h1>
        <div class="templatedivad"></div>
    </div>

    <div class="templatedivcontent">

        {% endblock %}
        <div class="templatedivflex2left">
            {% for i in names %} look at comment in coalition.html
            <h1>{{ i[0] }}</h1>
            {% endfor %}
        </div>

    </div>
</div>