{% extends "layout.html" %} {% block title %} Peace Offers {% endblock %} {% block body %}
<div class="templatediv">

    <div class="templatedivtopper">
        <h1 class="templatedivtitle"><span class="material-icons-outlined iconlarge">
          favorite_border
            </span>Peace Offers</h1>
        <div class="templatedivad"></div>
    </div>

    <div class="templatedivcontent">
        <!--if no offers-->
        <h2 class="templatecontentheadercenter">You have 0 outgoing offers</h2>
        <!--if there are offers-->
        <h2 class="templatecontentheaderleft">Outgoing Offers</h2>

        <div class="templateoutertablediv">
            <table class="templatetable templatetable2">
                <tr>
                    <th>Name</th>
                    <th>Amount</th>
                    <th>Action</th>
                </tr>
                {% for key,value in outgoing_peace_offers.items() %}
                <tr>
                    <!-- The target of the message -->
                    <td>{{value["receiver"]}}</td>
                    <td>
                        <div class="center fit">
                            <div class="left fit">
                                <!--duplicate this for every resource they offer-->
                                {% for index in range(0, value["resource_count"]) %}
                                <p>{{ value["resources"][index] }} {{ value["amounts"][index] }}</p>
                                {% endfor %}
                                <!--until here-->
                            </div>
                        </div>
                    </td>
                    <td><span class="material-icons iconred">
                      highlight_off
                      </span></td>
                </tr>
                {% endfor %}
            </table>
        </div>

        <!--if no offers-->
        <h2 class="templatecontentheadercenter">You have 0 incoming offers</h2>
        <!--if there are offers-->
        <h2 class="templatecontentheaderleft">Incoming Offers</h2>

        <div class="templateoutertablediv">
            <table class="templatetable templatetable2">
                <tr>
                    <th>Name</th>
                    <th>Amount</th>
                    <th>Action</th>
                </tr>
                {% for key,value in incoming_peace_offers.items() %}
                <tr>
                    <!-- The target of the message -->
                    <td>{{value["author"][1]}}</td>
                    <td>
                        <div class="center fit">
                            <div class="left fit">
                                <!--duplicate this for every resource they offer-->
                                {% for index in range(0, value["resource_count"]) %}
                                <p>{{ value["resources"][index] }} {{ value["amounts"][index] }}</p>
                                {% endfor %}
                                <!--until here-->
                            </div>
                        </div>
                    </td>
                    <td><span class="material-icons iconred">
                      check_circle_outline
                      </span></td>
                </tr>
                {% endfor %}
            </table>
        </div>

    </div>
</div>
{% endblock %}