{% extends "layout.html" %} {% block title %} Peace Offers {% endblock %} {% block body %}
<div class="templatediv">

    <div class="templatedivtopper peaceTopper">
        <h1 class="templatedivtitle"><span class="material-icons-outlined iconlarge">
          favorite_border
            </span>Peace Offers</h1>
        <div class="templatedivad"></div>
    </div>

    <div class="templatedivcontent">
        <!--if no offers-->
        {% if outgoing_counter == 0 %}
        <h2 class="templatecontentheadercenter">You have no outgoing offers</h2>
        <!--if there are offers-->
        {% else %}
        <h2 class="templatecontentheaderleft">Outgoing Offers</h2>

        <div class="templateoutertablediv">
            <table class="templatetable templatetable2">
                <tr>
                    <th>Recipient</th>
                    <th>Resources</th>
                    <th>Action</th>
                </tr>
                {% for key,value in outgoing_peace_offers.items() %}
                <tr>
                    <!-- The target of the message -->
                    <td>{{value["receiver"]}}</td>
                    <td>
                        <div class="center fit">
                            <div class="left middle fit">
                                {% if value["peace_type"] == "white" %} No requests {% else %}
                                <!--duplicate this for every resource they offer-->
                                {% for index in range(0, value["resource_count"]) %}
                                <img src="{{ url_for( 'static', filename='images/res' + value['resources'][index] + '.png ' ) }}" class="resource resourcesmall" /> {{ value["amounts"][index] }} {% endfor %}
                                <!--until here-->
                                {% endif %}
                            </div>
                        </div>
                    </td>
                    <td>
                        <form class="material-icons iconred" method="post" class="material-icons iconred" onclick="event.target.submit();">highlight_off
                            <input type="hidden" name="peace_offer" value="{{key}}">
                            <input type="hidden" name="decision" value="0">
                        </form>
                    </td>
                </tr>
                {% endfor %}
            </table>
        </div>
        {% endif %}

        <!--if no offers-->
        {% if incoming_counter == 0 %}
        <h2 class="templatecontentheadercenter">You have no incoming offers</h2>
        <!--if there are offers-->
        {% else %}
        <h2 class="templatecontentheaderleft">Incoming Offers</h2>

        <div class="templateoutertablediv">
            <table class="templatetable templatetable2">
                <tr>
                    <th>Offerer</th>
                    <th>Resources</th>
                    <th>Action</th>
                </tr>
                {% for key,value in incoming_peace_offers.items() %}
                <tr>
                    <!-- The target of the message -->
                    <td>{{value["author"][1]}}</td>
                    <td>
                        <div class="center fit">
                            <div class="left middle fit">
                                {% if value["peace_type"] == "white" %} No requests {% else %}
                                <!--duplicate this for every resource they offer-->
                                {% for index in range(0, value["resource_count"]) %}
                                <img src="{{ url_for( 'static', filename='images/res' + value['resources'][index] + '.png ' ) }}" class="resource resourcesmall" /> {{ value["amounts"][index] }} {% endfor %}
                                <!--until here-->
                                {% endif %}
                            </div>
                        </div>
                    </td>
                    <td>
                        <form method="post" class="material-icons iconblue" onclick="event.target.submit();">check_circle_outline
                            <input type="hidden" name="peace_offer" value="{{key}}">
                            <input type="hidden" name="decision" value="1">
                        </form>
                    </td>
                </tr>
                {% endfor %}
            </table>
        </div>
        {% endif %}
    </div>
</div>
{% endblock %}