{% extends "layout.html"%} {% block title %} Send peace offer {% endblock %} {% block body %}

<div style="margin: 5em;">
  <h1>Send peace offer</h1>

  <!-- Select where to send an offer -->
  <h2>You're currently fighting against:</h2>
  <form action="" method="post">

    <!-- Can send peace offer to the following users -->
    <div>
      {% for e in enemy %}
        <input id="{{e}}" type="radio" name="enemy" value="{{e}}">
        <label for="{{e}}">{{e}}</label>
      {% endfor %}
    </div>

  <!-- Choose the demands -->
  <h2>Choose your demands</h2>
  <table>

    <input type="hidden" name="resources_send" value="">
    <input type="hidden" name="resources_amount_send" value="">

      <!-- Choice table -->
      <thead>
        <tr>
          <td>
            <h5>Select resource:</h5>
          </td>
          <td>
            <select id="resource">
              <option value="coal">coal</option>
              <option value="iron">iron</option>
            </select>
          </td>
          <td>
            <input id="resource_amount" type="number" placeholder="Resource amount">
          </td>
          <td>
            <button id="adder" type="button">Add to selected</button>
          </td>
        </tr>
      </thead>

      <!-- Selected resources appears here -->
      <tbody id="selected_container">

      </tbody>

    </table>

    <input id="submit_it" type="submit" value="Send peace offer">
  </form>
</div>

<script type="text/javascript">
  window.localStorage["resource"] = "{}";

  const adder = document.getElementById("adder");
  adder.addEventListener("click", (e) => {
    let resource_selector = document.getElementById("resource");
    let selected_resource = resource_selector.options[resource_selector.selectedIndex].value;
    let selected_amount = document.getElementById("resource_amount").value;

    const container = document.getElementById("selected_container");
    let row = document.createElement("tr");

    let resource_add = document.createElement("td");
    resource_add.innerText = selected_resource;

    let amount_add = document.createElement("td");
    amount_add.innerText = selected_amount;

    row.appendChild(resource_add);
    row.appendChild(amount_add);

    // TODO: remove from local storage when deleted from table
    // TODO: If user add same resource multiple times only keep the last
    let s = JSON.parse(window.localStorage["resource"]);
    s[selected_resource] = selected_amount;

    window.localStorage["resource"] = JSON.stringify(s);
    container.appendChild(row);
  });

  const submit_it = document.getElementById("submit_it");
  submit_it.addEventListener("click", (e) => {
    const s = JSON.parse(window.localStorage["resource"]);

    let res_string="", amo_string="", i;
    let keys = Object.keys(s);

    for(i=0; i<keys.length; i++) {
        res_string += keys[i]+",";
        amo_string += s[keys[i]]+",";
    }

    document.getElementsByName("resources_send")[0].value = res_string;
    document.getElementsByName("resources_amount_send")[0].value = amo_string;

    e.submit();

  });

</script>

{% endblock %}
