@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');
@font-face {
    font-family: 'Material Icons';
    font-style: normal;
    font-weight: 400;
    src: url(https://example.com/MaterialIcons-Regular.eot);
    /* For IE6-8 */
    src: local('Material Icons'), local('MaterialIcons-Regular'), url(https://example.com/MaterialIcons-Regular.woff2) format('woff2'), url(https://example.com/MaterialIcons-Regular.woff) format('woff'), url(https://example.com/MaterialIcons-Regular.ttf) format('truetype');
}

.material-icons-outlined {
    font-family: 'Material Icons';
    position: relative;
    top: 5px;
    right: 5px;
    font-size: inherit;
    /* Preferred icon size */
    text-transform: none;
    letter-spacing: normal;
    word-wrap: normal;
    white-space: nowrap;
    /* Support for all WebKit browsers. */
    -webkit-font-smoothing: antialiased;
    /* Support for Safari and Chrome. */
    text-rendering: optimizeLegibility;
    /* Support for Firefox. */
    -moz-osx-font-smoothing: grayscale;
    /* Support for IE. */
    font-feature-settings: 'liga';
}

.landingicon {
    top: 2.5px;
}

.red {
    color: red !important;
}

.blue {
    color: #00a7e1 !important;
}

.iconblue {
    color: #00a7e1 !important;
    font-size: 30px !important;
    cursor: pointer;
    transition: all 0.2s linear;
    vertical-align: middle;
    user-select: none;
}

.iconred {
    color: red !important;
    font-size: 30px !important;
    cursor: pointer;
    transition: all 0.2s linear;
    vertical-align: middle;
    user-select: none;
}

.iconblue:hover,
.iconred:hover {
    opacity: 0.6;
}

.iconlarge {
    font-size: 40px !important;
}

.iconbig {
    font-size: 60px !important;
}

.iconright {
    right: 0px;
    left: 5px;
}


/*Animations*/

@keyframes navbarload {
    from {
        top: -55px;
        opacity: 0;
    }
    to {}
}

@keyframes textload {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

@keyframes bar1 {
    0% {}
    50% {
        width: 0px;
        opacity: 0;
        background: white;
    }
    100% {
        background: #00a7e1;
    }
}

@keyframes bar2 {
    0% {}
    50% {
        width: 0px;
        opacity: 0;
        background: white;
    }
    100% {
        width: 20px;
        background: #00a7e1;
    }
}

@keyframes bar3 {
    0% {}
    50% {
        width: 0px;
        opacity: 0;
        background: white;
    }
    100% {
        background: #00a7e1;
    }
}

@keyframes templatedivtitleload {
    0% {
        opacity: 0;
        pointer-events: none;
        top: -15px;
    }
    50% {
        opacity: 0;
        pointer-events: none;
        top: -15px;
    }
    100% {
        opacity: 1;
        pointer-events: all;
        top: 0px;
    }
}

@keyframes templatedivcontentload {
    0% {
        opacity: 0;
        pointer-events: none;
        top: 15px;
    }
    50% {
        opacity: 0;
        pointer-events: none;
        top: 15px;
    }
    100% {
        opacity: 1;
        pointer-events: all;
        top: 0px;
    }
}

@keyframes templatelandingpagebuttonload {
    0% {
        opacity: 0;
        pointer-events: none;
        top: 8px;
    }
    50% {
        opacity: 0;
        pointer-events: none;
        top: 8px;
    }
    100% {
        opacity: 1;
        pointer-events: all;
        top: -5px;
    }
}

@keyframes toppergradient {
    0% {
        background-position: 0% 50%;
    }
    50% {
        background-position: 100% 50%;
    }
    100% {
        background-position: 0% 50%;
    }
}

@keyframes borderpulse {
    20% {
        border-color: #e3e9f0;
    }
    50% {
        border-color: #00a7e1;
    }
    80% {
        border-color: #e3e9f0;
    }
}

@keyframes unitimage {
    0% {
        animation: unitimage 2s;
        position: fixed;
        left: 50px;
        right: 50px;
        bottom: -50px;
        margin: auto;
        z-index: 1;
        width: 80%;
        max-height: 80%;
        height: 80%;
        box-shadow: rgba(0, 0, 0, 0.7) 0 0 0 10000px;
        opacity: 0;
    }
    25% {
        opacity: 0;
        width: 20%;
        max-height: 20%;
    }
}

@keyframes scrolldownchild {
    0% {
        top: 5px;
    }
    25% {
        top: 5px;
        opacity: 1;
    }
    50% {}
    75% {}
    100% {
        top: 25px;
        opacity: 0;
    }
}

@keyframes scrolldownparentload {
    0% {
        bottom: 0px;
        opacity: 0;
    }
    100% {
        bottom: 15px;
        opacity: 1;
    }
}

.theme-light {
    --background: #f7f9fd;
    --foreground: white;
    --foregroundTwo: #fdfdfd;
    --foregroundThree: #f7f7f7;
    --foregroundFour: rgb(246.5, 246.5, 246.5);
    --foregroundFive: #fdfdfd;
    --foregroundSix: #f7f7f7;
    --border: #e3e9f0;
    --tableOne: #f7f9fd95;
    --tableTwo: white;
    --colorOne: rgb(0, 0, 0);
    --colorTwo: rgb(255, 255, 255);
}

.theme-dark {
    --background: #4a4c58;
    --foreground: #42444e;
    --foregroundTwo: #4a4c58;
    --foregroundThree: #4a4c58;
    --foregroundFour: #5d606b;
    --foregroundFive: #525561;
    --foregroundSix: #f7f7f7;
    --border: #e3e9f000;
    --tableOne: #42444e;
    --tableTwo: #4a4c58;
    --colorOne: rgb(255, 255, 255);
    --colorTwo: rgb(255, 255, 255);
}

body::-webkit-scrollbar {
    width: 14px;
    background: #e3e9f0;
}

body::-webkit-scrollbar-thumb {
    background: #36394550;
    width: 100%;
}

body::-webkit-scrollbar-thumb:hover {
    background: #36394580;
}

body {
    background: var(--background);
    padding: 0;
    margin: 0;
    font-family: 'Ubuntu', sans-serif;
    animation: textload 0.5s;
    transition: all 0.3s ease;
}

a {
    text-decoration: none;
}

p {
    line-height: 30px;
}

label {
    text-align: center;
    display: block;
    opacity: 0.7;
    font-size: 14px;
    color: var(--colorOne);
}

hr {
    background: #f7f7f7;
    border: 0;
    height: 3px;
    width: 90%;
}

.body {
    overflow: hidden;
}

.background {
    position: fixed;
    top: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    z-index: -5;
}


/*NAVBAR*/

.navbar {
    background: #363945;
    position: fixed;
    width: calc(100%);
    height: 55px;
    box-shadow: 0 0 0.5rem 0 rgba(58, 59, 69, 0.8);
    z-index: 1000;
    top: 0;
    animation: navbarload 0.5s;
}

.navbartitle {
    margin-top: 15px;
    font-weight: bold;
    font-size: 26px;
    float: left;
    margin-left: 2px;
    color: white;
    cursor: pointer;
    transition: all 0.2s;
    text-decoration: none;
}

.navbartitle:hover {
    color: rgba(255, 255, 255, 0.7);
}

.navbartitleimage {
    height: 45px;
    width: 45px;
    margin: 5px;
    float: left;
    margin-left: 15px;
    user-select: none;
}

.menubar {
    width: 45px;
    margin-left: 5px;
    height: 45px;
    margin-top: 5px;
    transition: all 0.2s;
    cursor: pointer;
    float: left;
}

@media all and (min-width: 756px) {
    .menubar {
        display: none;
    }
}

.menubar:hover {
    opacity: 0.5;
}

.menubarclick {
    margin-left: 0;
    margin-right: 5px;
}

.bar1,
.bar2,
.bar3 {
    width: 30px;
    height: 4.5px;
    background: rgb(240, 240, 240);
    margin: 8.5px;
    transition: all 0.3s ease;
    border-radius: 2px;
    position: relative;
}

.barclick1 {
    background-color: #00a7e1;
    top: 8px;
    transform: rotate(-30deg);
    width: 20px;
}

.barclick2 {
    background-color: #00a7e1;
    width: 40px;
}

.barclick3 {
    background-color: #00a7e1;
    top: -8px;
    transform: rotate(30deg);
    width: 20px;
}

.menubardiv {
    width: 250px;
    background: #363945;
    position: fixed;
    left: 0px;
    top: 55px;
    bottom: 0;
    margin-left: -250px;
    z-index: 1;
    transition: margin 0.4s ease;
    overflow: hidden;
    font-size: 19px;
}

@media all and (max-width: 600px) {
    .menubardiv {
        width: 100%;
        margin-left: -100%;
    }
}

.menubardivshow {
    margin: 0;
    box-shadow: 0px 0px 300px 10000px rgba(0, 0, 0, 0.75);
    overflow: auto;
}

.menubardiv::-webkit-scrollbar {
    width: 10px;
    background: #e3e9f0;
}

.menubardiv::-webkit-scrollbar-thumb {
    background: #36394550;
    width: 100%;
}

.menubardiv::-webkit-scrollbar-thumb:hover {
    background: #36394580;
}

.menubardiv h3 {
    color: #15aee6;
    margin-left: 10px;
    margin: 18px;
}

@media all and (max-width: 600px) {
    .menubardiv h3 {
        margin: auto;
        text-align: center;
    }
}

.menubara {
    text-decoration: none;
    color: rgba(255, 255, 255, 0.8);
    display: block;
    transition: all 0.2s ease;
    line-height: 40px;
    text-align: left;
    padding: 0px 10px;
    margin: 8px 6px;
    cursor: pointer;
    transition: all 0.2s;
    width: calc(100% -8px);
    background: #42444e;
    border-radius: 4px;
    box-shadow: inset rgba(58, 59, 69, 0.4) 0px 2px 9px 0px;
    position: relative;
}

.menubara:hover {
    color: rgb(255, 255, 255);
    background: #515463;
}

.menubaranotification {
    position: absolute;
    background: red;
    color: white;
    border-radius: 100%;
    font-size: 12px;
    width: 16px;
    margin-top: 5px;
    margin-left: 4px;
    box-shadow: rgba(0, 0, 0, 0.2) 0 4px 12px 0;
    text-align: center;
}

@media all and (max-width: 755px) {
    .navbarloginsignupdiv {
        display: none;
    }
}

.loginsignup {
    float: right;
    width: fit-content;
    transition: all 0.2s;
    line-height: 35px;
    border: 2.5px transparent solid;
    padding: 0 10px;
    text-decoration: none;
    color: white;
    font-size: 18px;
    user-select: none;
    cursor: pointer;
    border-radius: 4px;
    margin: 7.5px 7.5px;
}

.loginsignup:hover {
    color: rgba(255, 255, 255, 0.55);
}


/* Style The Dropdown Button */

.dropbtn {
    color: white;
    padding: 8px 12px;
    padding-top: 3px;
    font-size: 20px;
    border: none;
    cursor: pointer;
    transition: all 0.2s;
    width: max-content;
    box-shadow: rgba(0, 0, 0, 0.15) 0px 3.5px 2px -2px, inset rgba(58, 59, 69, 0.4) 0px 2px 9px 0px;
    border-radius: 4px;
    background: #515463;
}

.dropbtn:hover {
    opacity: 1 !important;
    background: #00a7e1;
}

.dropbtn span {
    transition: 0.4s;
}

.dropdown:hover button span {
    transform: rotate(180deg);
}

.dropdown {
    position: relative;
    float: right;
    width: fit-content;
    margin-top: 6px;
    margin-right: 10px;
    transition: all 0.2s;
    text-decoration: none;
    font-size: 16px;
    color: white;
    user-select: none;
    cursor: pointer;
    border-radius: 4px;
}

.dropdown-content {
    opacity: 0;
    pointer-events: none;
    position: absolute;
    z-index: 1;
    right: -15px;
    top: 60px;
    background: transparent;
    padding: 12px;
    transition: all 0.3s;
}

.dropdown-contentchild {
    box-shadow: rgba(0, 0, 0, 0.15) 0 12px 22px 2px, rgba(0, 0, 0, 0.055) 0 12px 12px;
    border-radius: 4px;
    overflow: hidden;
    background: #363945;
    min-width: 200px;
    width: max-content;
    transition: all 0.3s;
}

.dropdown-contentchild:hover {
    box-shadow: rgba(0, 0, 0, 0.3) 0 12px 22px 2px, rgba(0, 0, 0, 0.075) 0 12px 12px;
}

.dropdown-content a {
    color: white;
    text-decoration: none;
    display: block;
    transition: all 0.2s;
    padding: 4px 10px;
    padding-bottom: 8px;
    margin: 8px 6px;
    border-radius: 4px;
}

.dropdown-content a:hover {
    background-color: #515463;
    box-shadow: inset rgba(58, 59, 69, 0.4) 0px 2px 9px 0px;
}

.dropdown:hover .dropdown-content {
    opacity: 1;
    pointer-events: all;
    top: 40px;
}

.dropdown:hover .dropbtn {
    opacity: 0.6;
    background: #00a7e1;
}

.resourcediv {
    top: 60px;
    right: 5px;
    position: fixed;
    background-color: #363945;
    width: 50px;
    padding-bottom: 10px;
    z-index: 1000;
    height: 40px;
    transition: all 0.4s ease-in-out;
    transition-delay: 0s;
    box-shadow: rgba(58, 59, 69, 0.4) 0px 0px 6px 0px;
    text-align: right;
    z-index: 1000;
    border-radius: 100%;
}

.resourcediv:hover {
    box-shadow: rgba(0, 0, 0, 0.3) 0px 3px 6px 0px;
}

.resourcedivshow {
    box-shadow: rgba(58, 59, 69, 0.4) 0px 6px -6px 0px, inset rgba(58, 59, 69, 0.4) 0px 2px 9px 0px;
    background-color: #515463;
    padding-left: 145px;
    transition-delay: 0.3s;
    border-radius: 0;
    padding-right: 5px;
    right: 0px;
}

.resourceicon {
    font-size: 40px !important;
    cursor: pointer;
    transition: all 0.2s;
    user-select: none;
    color: white;
}

.resourceicon:hover {
    color: rgba(255, 255, 255, 0.5);
}

.resourcedivcontent::-webkit-scrollbar {
    width: 0px;
    background: #e3e9f0;
}

.resourcedivcontent::-webkit-scrollbar-thumb {
    background: #36394550;
    width: 100%;
}

.resourcedivcontent {
    position: fixed;
    top: 60px;
    right: 0px;
    bottom: 0px;
    background-color: #363945;
    width: 200px;
    margin-right: -200px;
    transition: all 0.4s ease;
    padding-top: 60px;
    padding-bottom: 20px;
    overflow-y: hidden;
    overflow-x: hidden;
    color: white;
}

.resourcedivcontent:hover {
    overflow-y: auto;
}

.resourcedivcontentshow {
    margin: 0;
    box-shadow: rgba(58, 59, 69, 0.4) 0px 0px 6px 0px;
}

.resourcedivcontent p {
    text-align: left;
    padding: 0px 10px;
    margin: 8px 6px;
    font-size: 11pt;
    cursor: pointer;
    transition: all 0.2s;
    width: calc(100% -8px);
    background: #42444e;
    box-shadow: inset rgba(58, 59, 69, 0.4) 0px 2px 9px 0px;
    border-radius: 4px;
    line-height: 30px;
}

.resourcedivcontent p:hover {
    background: #515463;
}

.resourcetag {
    position: relative;
    top: -5px;
}

.purchasediv {
    position: fixed;
    right: 26px;
    bottom: 8px;
    width: fit-content;
    z-index: 1;
    margin: auto 0;
    margin-bottom: 40px;
}

.purchasediv div {
    width: 100%;
    background: #363945;
    color: #ffffff;
    box-shadow: 0 0 20px 0 rgba(58, 59, 69, .55);
    padding: 8px;
    justify-self: end;
    height: min-content;
    margin: auto;
    margin-right: -50%;
    opacity: 0;
    pointer-events: none;
    border-left: 3px solid #00a7e1;
}

.purchasediv div h3 {
    margin: 0;
    padding: 0;
    font-size: 19px;
}


/*CONTENT*/

.resource {
    width: 30px;
    height: 30px;
    position: relative;
    top: 5px;
    padding: 0 5px;
}

.resourcesmall {
    width: 25px !important;
    height: 25px !important;
}

.floatleft {
    float: left;
}

.floatright {
    float: right;
}

.left {
    text-align: left;
    display: block;
}

.right {
    text-align: right;
    display: block;
}

.vanilla {
    margin: 2px !important;
    padding: 0px !important;
}

.nopad {
    padding: 0 !important;
}

.nomarg {
    margin: 0 !important;
}

.strongpadding {
    padding: 40px;
}

.strongmargin {
    margin: 40px;
}

.fit {
    width: fit-content;
}

.min {
    width: min-content !important;
}

.center {
    margin: auto;
    text-align: center;
    justify-self: center;
}

.hidden {
    display: none;
}

.space {
    justify-content: space-around !important;
}

.full {
    opacity: 1;
}

.flexwrap {
    flex-wrap: wrap;
}

.bold {
    font-weight: bold;
}

.block {
    display: block !important;
}

.large {
    font-size: 25px;
}

.medium {
    font-size: 19px;
}

.mediumsmall {
    font-size: 16.5px;
}

.small {
    font-size: 14.5px;
}

.whiteblue {
    background: var(--background);
}

@media all and (max-width: 1055px) {
    .whiteblue {
        flex-direction: column-reverse !important;
    }
}

.imageborder {
    background: var(--foregroundFive);
    padding: 2.5px;
    box-shadow: rgba(0, 0, 0, 0.15) 0 14px 54px 4px, rgba(0, 0, 0, 0.075) 0 12px 12px !important;
}

.width100 {
    width: 100% !important;
}

.nopointer {
    cursor: default !important;
}

.block {
    display: block;
}

.warflexparentcolors {
    background: var(--foregroundTwo);
    border: 1.5px solid var(--border);
    transition: all 0.3s ease-in-out;
    width: 95%;
    margin: 12px auto;
    position: relative !important;
    box-shadow: rgba(0, 0, 0, 0.05) 0px 16px 26px 0px;
    border-radius: 4px;
}

.templatediv {
    background: var(--foreground);
    width: 90%;
    margin: 50px auto;
    margin-top: 90px;
    padding-bottom: 25px;
    overflow: hidden;
    border-radius: 4px;
    box-shadow: 0 2rem 3rem 0 rgba(58, 59, 69, .15);
}

@media all and (max-width: 600px) {
    .templatediv {
        width: 95%;
    }
}

.templatedivtopper {
    padding: 0.75vh;
    padding-top: 2.5vh;
    transition: all 0.2s;
    background-size: 400% 400%;
    box-shadow: inset 0px 0px 50px 3px rgba(0, 0, 0, 0.10);
    margin-bottom: 10px;
    position: relative;
    background: #00a7e1;
}

.templatedivtopper img {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 0;
    object-fit: cover;
}

.noboxshadowtopper h1 {
    box-shadow: none;
    padding-bottom: 2.5rem;
    padding-top: 1.5rem;
}

.svgtopper {
    background-color: #1081eb;
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 2000 1500'%3E%3Cdefs%3E%3CradialGradient id='a' gradientUnits='objectBoundingBox'%3E%3Cstop offset='0' stop-color='%230049b6'/%3E%3Cstop offset='1' stop-color='%231081eb'/%3E%3C/radialGradient%3E%3ClinearGradient id='b' gradientUnits='userSpaceOnUse' x1='0' y1='750' x2='1550' y2='750'%3E%3Cstop offset='0' stop-color='%230865d1'/%3E%3Cstop offset='1' stop-color='%231081eb'/%3E%3C/linearGradient%3E%3Cpath id='s' fill='url(%23b)' d='M1549.2 51.6c-5.4 99.1-20.2 197.6-44.2 293.6c-24.1 96-57.4 189.4-99.3 278.6c-41.9 89.2-92.4 174.1-150.3 253.3c-58 79.2-123.4 152.6-195.1 219c-71.7 66.4-149.6 125.8-232.2 177.2c-82.7 51.4-170.1 94.7-260.7 129.1c-90.6 34.4-184.4 60-279.5 76.3C192.6 1495 96.1 1502 0 1500c96.1-2.1 191.8-13.3 285.4-33.6c93.6-20.2 185-49.5 272.5-87.2c87.6-37.7 171.3-83.8 249.6-137.3c78.4-53.5 151.5-114.5 217.9-181.7c66.5-67.2 126.4-140.7 178.6-218.9c52.3-78.3 96.9-161.4 133-247.9c36.1-86.5 63.8-176.2 82.6-267.6c18.8-91.4 28.6-184.4 29.6-277.4c0.3-27.6 23.2-48.7 50.8-48.4s49.5 21.8 49.2 49.5c0 0.7 0 1.3-0.1 2L1549.2 51.6z'/%3E%3Cg id='g'%3E%3Cuse href='%23s' transform='scale(0.12) rotate(60)'/%3E%3Cuse href='%23s' transform='scale(0.2) rotate(10)'/%3E%3Cuse href='%23s' transform='scale(0.25) rotate(40)'/%3E%3Cuse href='%23s' transform='scale(0.3) rotate(-20)'/%3E%3Cuse href='%23s' transform='scale(0.4) rotate(-30)'/%3E%3Cuse href='%23s' transform='scale(0.5) rotate(20)'/%3E%3Cuse href='%23s' transform='scale(0.6) rotate(60)'/%3E%3Cuse href='%23s' transform='scale(0.7) rotate(10)'/%3E%3Cuse href='%23s' transform='scale(0.835) rotate(-40)'/%3E%3Cuse href='%23s' transform='scale(0.9) rotate(40)'/%3E%3Cuse href='%23s' transform='scale(1.05) rotate(25)'/%3E%3Cuse href='%23s' transform='scale(1.2) rotate(8)'/%3E%3Cuse href='%23s' transform='scale(1.333) rotate(-60)'/%3E%3Cuse href='%23s' transform='scale(1.45) rotate(-30)'/%3E%3Cuse href='%23s' transform='scale(1.6) rotate(10)'/%3E%3C/g%3E%3C/defs%3E%3Cg transform='rotate(0 0 0)'%3E%3Cg transform='rotate(0 0 0)'%3E%3Ccircle fill='url(%23a)' r='3000'/%3E%3Cg opacity='0.5'%3E%3Ccircle fill='url(%23a)' r='2000'/%3E%3Ccircle fill='url(%23a)' r='1800'/%3E%3Ccircle fill='url(%23a)' r='1700'/%3E%3Ccircle fill='url(%23a)' r='1651'/%3E%3Ccircle fill='url(%23a)' r='1450'/%3E%3Ccircle fill='url(%23a)' r='1250'/%3E%3Ccircle fill='url(%23a)' r='1175'/%3E%3Ccircle fill='url(%23a)' r='900'/%3E%3Ccircle fill='url(%23a)' r='750'/%3E%3Ccircle fill='url(%23a)' r='500'/%3E%3Ccircle fill='url(%23a)' r='380'/%3E%3Ccircle fill='url(%23a)' r='250'/%3E%3C/g%3E%3Cg transform='rotate(0 0 0)'%3E%3Cuse href='%23g' transform='rotate(10)'/%3E%3Cuse href='%23g' transform='rotate(120)'/%3E%3Cuse href='%23g' transform='rotate(240)'/%3E%3C/g%3E%3Ccircle fill-opacity='0.1' fill='url(%23a)' r='3000'/%3E%3C/g%3E%3C/g%3E%3C/svg%3E");
    background-attachment: fixed;
    background-size: cover;
}

.provincestopper {
    overflow: hidden;
    text-align: center;
    background-image: url("images/provinces.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    object-fit: cover;
    background-position-y: 50%;
}

.markettopper {
    overflow: hidden;
    text-align: center;
    background-image: url("images/market.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    object-fit: cover;
    background-position-y: 50%;
}

.wartopper {
    overflow: hidden;
    text-align: center;
    background-image: url("images/war.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    object-fit: cover;
    background-position-y: 50%;
}

.militarytopper {
    overflow: hidden;
    text-align: center;
    background-image: url("images/military.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    object-fit: cover;
    background-position-y: 50%;
}

.coalitionstopper {
    overflow: hidden;
    text-align: center;
    background-image: url("images/coalitions.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    object-fit: cover;
    background-position-y: 50%;
}

.coalitiontopper {
    overflow: hidden;
    text-align: center;
    background-image: url("images/coalition.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    object-fit: cover;
    background-position-y: 50%;
}

.countriestopper {
    overflow: hidden;
    text-align: center;
    background-image: url("images/countries.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    object-fit: cover;
    background-position-y: 50%;
}

.marketoffertopper {
    overflow: hidden;
    text-align: center;
    background-image: url("images/marketoffer.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    object-fit: cover;
    background-position-y: 50%;
}

.businessestopper {
    overflow: hidden;
    text-align: center;
    background-image: url("images/businesses.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    object-fit: cover;
    background-position-y: 50%;
}

.assemblytopper {
    overflow: hidden;
    text-align: center;
    background-image: url("images/assembly.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    object-fit: cover;
    background-position-y: 50%;
}

.templatedivtitle {
    text-align: center;
    color: rgb(255, 255, 255);
    font-size: 40px;
    animation: templatedivtitleload 1.5s;
    margin: 0;
    padding: 0px;
    position: relative;
    box-shadow: inset 0px 0px 100vw 0 #00000075;
    width: fit-content;
    margin: auto;
    padding: 10px 20px;
    text-shadow: 0px 1px 4px #084955;
    text-transform: capitalize;
    font-family: 'Montserrat', sans-serif;
}

.advert {
    text-align: center;
}

.advertimage {
    width: 80%;
    height: 20vh;
    padding: 8px;
    margin: 25px auto;
    margin-top: 0px;
    box-shadow: rgba(58, 59, 69, 0.15) 0px 0px 48px 0px;
    object-fit: cover;
    transition: all 0.3s;
    cursor: pointer;
}

.advertimage:hover {
    transform: scale(0.985);
}

.templatedivad {
    width: 80%;
    height: 20vh;
    margin: 20px auto;
    background: black;
}

.templatedivcontent {
    color: black;
    animation: templatedivcontentload 0.85s;
    position: relative;
}

.templatecontentheaderleft {
    background: var(--foregroundThree);
    font-size: 23px;
    margin: 20px 6px;
    padding: 8px 12px;
    color: var(--colorOne);
    border-radius: 4px;
}

.templatecontentheadercenter {
    text-align: center;
    font-size: 25px;
    padding-top: 16px;
    padding-bottom: 20px;
    margin: 0;
    color: var(--colorOne);
}

.templatecontentpleft {
    text-indent: 25px;
    padding: 8px;
    font-size: 16px;
    color: var(--colorOne);
    opacity: 0.7;
    font-weight: normal;
    text-align: justify;
}

.templatecontentpcenter {
    text-indent: 25px;
    padding: 8px;
    font-size: 17px;
    color: var(--colorOne);
    font-weight: normal;
    text-align: center;
}

.templatehr {
    border: 2px solid #e3e9f0;
}

.templatedivbutton {
    width: fit-content;
    margin: 5px;
    background-size: 200% 200%;
    background-position: 0% 0%;
    padding: 5px 40px;
    padding-bottom: 10px;
    text-decoration: none;
    color: white;
    border: none;
    font-size: 1rem;
    cursor: pointer;
    user-select: none;
    outline: none;
    text-align: center;
    text-transform: uppercase;
    transition: all 0.3s ease-in-out;
    background-color: #00a7e1;
    display: block;
    width: max-content;
    letter-spacing: 1px;
    box-shadow: inset rgba(39, 41, 59, 0.15) 0px 0px 0px 0px, rgba(39, 41, 59, 0.15) 0px 2px 5px 0px, inset rgba(58, 59, 69, 0.4) 0px 2px 9px 0px;
    border-radius: 100px;
    animation: templatedivcontentload 1.25s;
    position: relative;
}

.templatedivbutton:hover {
    box-shadow: inset rgba(39, 41, 59, 0.3) 0px 0px 150px 2px, rgba(39, 41, 59, 0.15) 0px 4px 6px 0px, inset rgba(58, 59, 69, 0.4) 0px 2px 9px 0px;
}

.templatedivbutton:focus {
    box-shadow: inset rgba(39, 41, 59, 0.5) 0px 0px 150px 2px, rgba(39, 41, 59, 0.15) 0px 4px 6px 0px;
}

.templatedivbutton span {
    font-size: 1.3rem;
    right: 8px;
}

.templatecenteredbutton {
    transition: all 0.2s;
    margin: 5px auto;
}

.smallactionbutton {
    text-transform: capitalize;
    margin: 0px auto;
    float: none;
    letter-spacing: 0;
}

.templateclosedbutton {
    background: #00a9e18a;
    cursor: not-allowed;
    color: black;
    position: relative;
}

.templateclosedbutton:hover {
    box-shadow: none;
    background: #00a9e170;
}

.templateclosedbutton::after {
    opacity: 0;
    pointer-events: none;
    transition: all 0.3s ease;
    position: absolute;
    text-transform: none;
    top: 120%;
    left: 0;
    right: 0;
    background: var(--background);
    box-shadow: rgba(0, 0, 0, 0.075) 0 12px 22px 0;
    color: var(--colorOne);
    padding: 8px;
    font-size: 15px;
    z-index: 1;
}

.templateclosedbutton:hover::after {
    opacity: 1;
    pointer-events: all;
}

.nuclearreactordisabledbutton {
    content: "You require the Nuclear Testing Facility project to build a Nuclear Reactor";
}

.borderbutton {
    background: #00a9e1;
}

.borderbutton:hover {
    color: white;
    opacity: 0.7;
}

.borderbutton:focus {
    box-shadow: rgba(39, 41, 59, .7) 0px 4px 6px 0px;
}

.discordbutton {
    background: #7289da;
    margin-top: 17px;
}

.smallheader {
    font-size: 1.2rem;
}

.templatelink {
    color: #00a7e1;
    transition: all 0.2s;
    text-decoration: none;
    cursor: pointer;
    background: transparent;
    border: transparent;
    outline: none;
    font-size: 16px;
}

.templatelink:hover {
    color: rgb(88, 196, 231);
}

.templatediv ul {
    font-weight: 500;
    color: var(--colorOne);
    padding: 0;
    text-align: center;
}

.templatecheckmarklabel {
    display: block;
    position: relative;
    padding-left: 25px;
    margin: 12px auto;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.templatecheckmarklabel input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
    height: 0;
    width: 0;
}

.templatecheckmark {
    position: absolute;
    margin: auto;
    top: 0;
    bottom: 0;
    left: 0;
    height: 15px;
    width: 15px;
    background: linear-gradient(180deg, var(--foregroundFour) 50%, #00a7e1 50%);
    background-size: 200% 200%;
    background-position: 0% 0%;
    transition: all 0.3s ease;
}

.templatecheckmarklabel input:checked~.templatecheckmark {
    background-position: 0% 100%;
}

.templatecheckmarklabel:after {
    content: "";
    position: absolute;
    display: none;
}

.templatecheckmarklabel input:checked~.templatecheckmark:after {
    display: block;
}

.templatecheckmarklabel .templatecheckmark:after {
    left: 9px;
    top: 5px;
    width: 5px;
    height: 10px;
    border: solid white;
    border-width: 0 3px 3px 0;
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);
}

.radiodivparent {
    justify-content: center !important;
}

@media all and (max-width: 1400px) {
    .radiodivparent {
        flex-direction: column;
    }
}

.radiodiv {
    list-style: none;
    margin: 0;
    padding: 0;
    margin: 10px !important;
    display: flex;
    flex-direction: column;
    transition: all 0.4s ease;
    border-radius: 4px;
}

.radiodiv:hover {
    background: var(--foreground);
    box-shadow: rgba(0, 0, 0, 0.075) 0 12px 22px 0;
}

.radioleft {
    display: block;
    position: relative;
    float: left;
    width: fit-content;
    margin: 0 auto;
}

.radioleft input[type=radio] {
    position: absolute;
    visibility: hidden;
}

.radioleft label {
    position: relative;
    font-size: 0.95rem;
    padding: 10px 20px 0px 40px;
    margin: 10px auto;
    height: 30px;
    z-index: 9;
    cursor: pointer;
    width: fit-content;
    transition: all 0.25s;
    color: var(--colorOne);
    opacity: 1 !important;
}

.radioleft .check {
    position: absolute;
    border: 3px solid var(--colorOne);
    border-radius: 100%;
    height: 15px;
    width: 15px;
    top: 15px;
    bottom: 0;
    left: 10px;
    z-index: 5;
    transition: all .25s;
    margin: auto;
    opacity: 0.8 !important;
}

.radioleft:hover .check {
    opacity: 0.6;
}

.radioleft .check::before {
    position: absolute;
    content: '';
    border-radius: 100%;
    top: 0;
    bottom: 0;
    margin: auto;
    height: 0px;
    width: 0px;
    left: 0px;
    right: 0;
    transition: all 0.25s;
    background-color: rgba(0, 0, 0, 0);
}

.radioleft input[type=radio]:checked~.check {
    border: 3px solid #00a7e1;
    box-shadow: #00a9e190 0 0 22px 0;
}

.radioleft input[type=radio]:checked~.check::before {
    background: #00a7e1;
    height: 10px;
    width: 10px;
}

.radiodiv:hover .radioright {
    opacity: 0.8;
    pointer-events: all;
}

.radiodiv:hover .radioright div {
    top: 0;
}

.radioright {
    opacity: 0;
    pointer-events: none;
    color: var(--colorOne);
    font-size: 15px;
    width: fit-content;
    transition: all 0.4s ease;
}

.radioright div {
    position: relative;
    top: -10px;
    transition: all 0.4s ease;
}

.templateselect {
    padding: 10px;
    margin: 8px;
    outline: none;
    font-size: 16px;
    transition: all 0.2s;
    cursor: pointer;
    transition: all 0.3s ease-in-out;
    background: linear-gradient(-90deg, var(--foregroundFive) 50%, var(--foregroundFour) 50%);
    border: 1.5px solid var(--border);
    color: var(--colorOne);
    background-size: 400% 400%;
    background-position: -50% 0%;
    float: none;
    border-radius: 4px;
}

.templateselect:hover {
    box-shadow: rgba(39, 41, 59, 0.10) 0px 8px 12px 0px;
}

.templateselect:focus {
    background-position: -100% 0%;
    box-shadow: rgba(39, 41, 59, 0.10) 0px 8px 12px 0px;
}

.templateselect option {
    background: var(--background);
}

.imageinput {
    display: block;
    padding-left: 25px;
    cursor: pointer;
    user-select: none;
    padding: 8px;
    padding-top: 5px;
    outline: none;
    font-size: 16px;
    margin: 12px auto;
    transition: all 0.3s ease-in-out;
    background: linear-gradient(-90deg, var(--foregroundFive) 50%, var(--foregroundFour) 50%);
    border: 1.5px solid var(--border);
    color: var(--colorOne);
    background-size: 400% 400%;
    background-position: -50% 0%;
    float: none;
    opacity: 1;
    border-radius: 4px;
}

.imageinput:hover {
    box-shadow: rgba(39, 41, 59, 0.10) 0px 8px 12px 0px;
}

.imageinput:focus {
    background-position: -100% 0%;
    box-shadow: rgba(39, 41, 59, 0.10) 0px 8px 12px 0px;
}

.imageinput input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
    height: 0;
    width: 0;
}

.templatetextarea {
    border-radius: 4px;
    padding: 10px;
    margin: 8px;
    outline: none;
    font-size: 16px;
    transition: all 0.2s;
    background: white;
    min-width: 40vw;
    min-height: 40vh;
    max-width: 40vw;
    max-height: 40vh;
    box-shadow: rgba(39, 41, 59, 0.15) 0px 2px 5px 0px;
    font-family: sans-serif;
    transition: all 0.3s ease-in-out;
    background: linear-gradient(-90deg, var(--foregroundFive) 50%, var(--foregroundFour) 50%);
    border: 1.5px solid var(--border);
    color: var(--colorOne);
    background-size: 400% 400%;
    background-position: -50% 0%;
    float: none;
}

@media all and (max-width: 600px) {
    .templatetextarea {
        min-width: 60vw;
        max-width: 60vw;
    }
}

.templatetextarea:hover {
    box-shadow: rgba(39, 41, 59, 0.15) 0px 6px 10px 0px;
}

.templatetextarea:focus {
    background-position: -100% 0%;
    box-shadow: rgba(39, 41, 59, 0.15) 0px 6px 10px 0px;
}

.templatetextarea::placeholder {
    color: var(--colorOne);
}

.infodiv {
    background: var(--foregroundTwo);
    border: 1.5px solid var(--border);
    padding: 8px;
    width: max-content;
    max-width: 95%;
    margin: auto;
    box-shadow: rgba(0, 0, 0, 0.05) 0 16px 26px 0;
    border-radius: 4px;
}

.infodiv div div {
    padding: 12px 40px;
    margin: auto;
}

.notificationdiv {
    margin: auto;
    max-width: 20%;
    flex-wrap: wrap;
}

.notificationdiv div {
    margin: 0 10px;
    padding: 0;
    width: fit-content;
}

.notificationdiv ul {
    background: #363945;
    color: #ffffff;
    box-shadow: 0 0 20px 0 rgba(58, 59, 69, .55);
    padding: 10px !important;
    margin: 6px 0 !important;
    font-size-adjust: 16px;
    justify-self: end;
    height: fit-content;
    border-left: 3px solid #00a7e1;
    text-align: left;
}

.templatedivflex2 {
    display: flex;
    justify-content: center;
}

@media all and (max-width: 1055px) {
    .templatedivflex2 {
        flex-direction: column;
    }
}

.divflex2full {
    border-bottom: solid 3px #e3e9f0;
    align-items: center;
    width: 98%;
    margin: auto;
    height: min-content;
    justify-content: center;
    animation: borderpulse 4s infinite;
    display: flex;
    flex-wrap: wrap;
}

.divflex2full div {
    width: fit-content;
    padding: 0;
    text-align: center;
    margin: 10px auto;
}

@media all and (max-width: 1055px) {
    .divflex2full div {
        width: 46%;
    }
}

@media all and (max-width: 600px) {
    .divflex2full {
        flex-direction: row;
    }
}

.divflex2center {
    height: min-content;
    width: fit-content;
    justify-items: center;
    justify-self: center;
    margin: auto;
    float: none;
    text-align: center;
}

.divflex2center div {
    height: min-content;
    width: max-content;
    justify-items: center;
    justify-self: center;
    padding: 6px;
    margin: auto;
    float: none;
}

@media all and (max-width: 1055px) {
    .divflex2center {
        width: 100%;
    }
}

.divflex2full select,
input,
button {
    margin: auto 2%;
    float: none;
}

.templateflexfullinput {
    float: none;
    margin: 0px auto;
}

.templatedivflex2left,
.templatedivflex2right {
    width: 100%;
    margin: 20px auto;
    padding: 8px;
    flex-direction: column;
    flex-wrap: wrap;
    border-radius: 4px;
}

.flex2rightfloatright {
    text-align: right;
}

@media all and (max-width: 1055px) {
    .templatedivflex2left,
    .templatedivflex2right {
        width: 90%;
        margin: 20px auto;
        float: none;
        justify-content: center;
        text-align: center;
    }
}

.flexchildvanilla {
    margin: 6px;
    padding: 0px;
}

.templatesidemenuflexparent {
    padding: 0;
    margin: 0;
    justify-content: stretch;
    align-items: stretch;
}

.templatefullwidthflexchild {
    width: 90%;
    margin: 0;
    padding: 0;
}

.stickyflexmenu {
    margin-top: 20px;
    padding: 0;
    min-width: 10% !important;
    height: 100%;
    background: #f7f7f7;
    border-radius: 0px;
    overflow: hidden;
    font-size: 14px;
}

@media all and (max-width: 600px) {
    .stickyflexmenu {
        left: 2.5%;
    }
}

.stickyflexmenu h3 {
    color: #00a9e1e1;
    margin-left: 10px;
    margin: 18px;
}

@media all and (max-width: 600px) {
    .stickyflexmenu h3 {
        margin: auto;
        text-align: center;
    }
}

.smalltable td {
    line-height: 40px !important;
    height: 0px !important;
    margin: 0;
    padding: 0;
}

.talltabletd {
    line-height: 60px;
}

.templatetable {
    padding: 8px;
    margin: 8px auto;
    width: 90%;
    background: var(--tableTwo);
    box-shadow: rgba(58, 59, 69, 0.15) 0px 0px 48px 0px;
    border-radius: 4px;
}

.templatetable tr {
    border-collapse: collapse;
}

.templatetable th {
    height: 40px;
    background-color: #00a7e1;
    color: white;
    font-size: 20px;
    column-span: 1;
    letter-spacing: 0.5px;
    font-weight: 450px;
    position: relative;
    box-shadow: rgba(0, 0, 0, 0.12) 0px 2px 3px 0px, rgba(39, 41, 59, 0.15) 0px 2px 5px 0px;
    text-transform: capitalize;
    text-align: center;
}

.templatetable th:first-child {
    border-top-left-radius: 4px;
    border-bottom-left-radius: 4px;
}

.templatetable th:last-child {
    border-top-right-radius: 4px;
    border-bottom-right-radius: 4px;
}

.templatetable tr:nth-child(odd) {
    background: var(--tableOne);
}

.templatetable tr:nth-child(even) {
    background: var(--tableTwo);
}

.templatetable td {
    margin: 0px 2%;
    width: 46%;
    text-align: left;
    display: table;
    font-weight: 500;
    color: var(--colorOne);
    opacity: 0.9;
    font-size: 15px;
    position: relative;
    float: left;
    line-height: 45px;
    height: 0;
}

.templatetable td:nth-child(even) {
    text-align: right;
    float: left;
}

.templatesmalltd {
    font-size: 12px !important;
}

.templatetable .anchor,
.templatetable2 .anchor {
    color: #00a7e1;
    transition: all 0.2s;
    text-decoration: none;
    text-align: center;
    float: none;
    justify-self: center;
    width: 100%;
    margin: 3px auto;
    font-weight: normal;
}

.templatetable .anchor a,
.templatetable2 .anchor a {
    display: block;
    width: fit-content;
    padding: 12px 15%;
}


/*table2*/

.templateoutertablediv {
    padding: 8px;
    width: 90%;
    margin: 25px auto;
    background: var(--tableTwo);
    box-shadow: rgba(58, 59, 69, 0.15) 0px 0px 48px 0px;
    border-radius: 4px;
}

.templatetable2 {
    margin: 0px auto;
    width: 100%;
    box-shadow: none;
    border-collapse: collapse;
}

.templatetable2 th {
    column-span: all;
    box-shadow: rgba(0, 0, 0, 0.12) 0px 2px 3px 0px, rgba(39, 41, 59, 0.15) 0px 2px 5px 0px;
}

.templatetable2 td {
    text-align: center;
    height: 45px;
    width: 23%;
    float: none;
    display: table-cell;
}

.templatetable2 td:nth-child(even) {
    text-align: center;
    float: none;
}

.templatetable a,
.templatetable2 a {
    color: #00a7e1;
    transition: all 0.2s;
    text-decoration: none;
    text-align: center;
    cursor: pointer;
}

.templatetable a:hover,
.templatetable2 a:hover {
    color: rgb(88, 196, 231);
}


/*Table3*/

.templatetable3 {
    border-collapse: collapse;
    margin: 8px 0px;
}

.templatetable3 tr {
    background: rgba(255, 255, 255, 0) !important;
}

.templatetable3 td {
    display: table-cell;
    text-align: right !important;
    float: none !important;
    margin: 0 !important;
    padding: 8px 0px !important;
}

.templatetable3 td:nth-child(even) {
    padding-left: 5px;
}


/**/

.inverttable {
    background: var(--tableOne);
}

.inverttable tr:nth-child(odd) {
    background: var(--tableTwo);
}

.inverttable tr:nth-child(even) {
    background: var(--tableOne);
}


/*flexbox*/

.menuflex2 {
    justify-content: center;
    text-align: center;
    width: 85%;
    margin: 10px auto;
    box-shadow: rgba(39, 41, 59, 0.1) 0px 2px 3px 1px;
    padding: 0;
    overflow: hidden;
    flex-direction: row;
    border-radius: 4px;
}

.menuflex2 div {
    cursor: pointer;
    padding: 10px;
    margin: 0px;
    transition: all 0.2s ease-out;
    border-radius: 0px;
    text-transform: uppercase;
    user-select: none;
    border-collapse: collapse;
    background: var(--foregroundFive);
    position: relative;
}

.menuflex2 div h3 {
    margin: 0;
    font-size: 19px;
    font-weight: normal;
    letter-spacing: 0.5px;
    color: var(--colorOne);
}

.menuflex2 div:hover {
    background: var(--foregroundFour);
}

.menuflex2notification {
    position: absolute;
    background: red;
    color: white;
    border-radius: 100%;
    font-size: 12px;
    width: 16px;
    height: 13px !important;
    line-height: 13px !important;
    top: 7px;
    margin-left: 4px;
    box-shadow: rgba(0, 0, 0, 0.2) 0 4px 12px 0;
    text-align: center;
}

.warning {
    color: red !important;
}

.redactionbutton {
    background: red;
}

.progressbarparent {
    margin: 12px auto;
    border-radius: 0px;
    width: 90%;
    background-color: var(--foreground);
    position: relative;
    box-shadow: inset rgba(0, 0, 0, 0.015) 0 0 1000px 0, rgba(0, 0, 0, 0.03) 0px 2px 16px 0px, rgba(39, 41, 59, 0.06) 0px 2px 5px 0px;
}

.progressbarparentlight {
    background-color: var(--background);
}

.progressbarchild {
    background: #00a7e1;
    padding: 15px;
    font-size: 17px;
}

.progressbargreen {
    background: rgb(26, 196, 26);
}

.progressbarchildtext {
    position: absolute;
    left: 0;
    top: 5px;
    bottom: 0;
    right: 0;
    margin: auto;
    width: fit-content;
    font-weight: 450;
    color: var(--colorOne);
}

.video {
    height: 0;
    width: 0;
}


/*LANDING PAGE*/

.landingpagediv {
    width: 100%;
    box-shadow: none;
    border-radius: 0;
    padding-top: 0;
    margin: 0;
    padding: 0;
}

.landingtopper {
    min-height: calc(100vh - 110px);
    padding: 55px 0;
    align-items: center;
    background: var(--background);
}

.landingparent {
    display: flex;
    flex-direction: row;
    width: 90%;
    border-radius: 4px;
    overflow: hidden;
    margin: auto;
    background: var(--background);
    height: max-content;
    box-shadow: rgba(0, 0, 0, 0.2) 0 12px 48px;
    margin-top: 7.5vh;
}

@media all and (max-width: 800px) {
    .landingparent {
        flex-direction: column;
    }
}

.landingchild {
    width: 90%;
    padding: 0px 5%;
    margin: 0;
    animation: contentload 0.75s;
}

@media all and (max-width: 800px) {
    .landingchild {
        text-align: center;
    }
}

.landingchildleft {
    background-color: #1081eb;
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 2000 1500'%3E%3Cdefs%3E%3CradialGradient id='a' gradientUnits='objectBoundingBox'%3E%3Cstop offset='0' stop-color='%230049b6'/%3E%3Cstop offset='1' stop-color='%231081eb'/%3E%3C/radialGradient%3E%3ClinearGradient id='b' gradientUnits='userSpaceOnUse' x1='0' y1='750' x2='1550' y2='750'%3E%3Cstop offset='0' stop-color='%230865d1'/%3E%3Cstop offset='1' stop-color='%231081eb'/%3E%3C/linearGradient%3E%3Cpath id='s' fill='url(%23b)' d='M1549.2 51.6c-5.4 99.1-20.2 197.6-44.2 293.6c-24.1 96-57.4 189.4-99.3 278.6c-41.9 89.2-92.4 174.1-150.3 253.3c-58 79.2-123.4 152.6-195.1 219c-71.7 66.4-149.6 125.8-232.2 177.2c-82.7 51.4-170.1 94.7-260.7 129.1c-90.6 34.4-184.4 60-279.5 76.3C192.6 1495 96.1 1502 0 1500c96.1-2.1 191.8-13.3 285.4-33.6c93.6-20.2 185-49.5 272.5-87.2c87.6-37.7 171.3-83.8 249.6-137.3c78.4-53.5 151.5-114.5 217.9-181.7c66.5-67.2 126.4-140.7 178.6-218.9c52.3-78.3 96.9-161.4 133-247.9c36.1-86.5 63.8-176.2 82.6-267.6c18.8-91.4 28.6-184.4 29.6-277.4c0.3-27.6 23.2-48.7 50.8-48.4s49.5 21.8 49.2 49.5c0 0.7 0 1.3-0.1 2L1549.2 51.6z'/%3E%3Cg id='g'%3E%3Cuse href='%23s' transform='scale(0.12) rotate(60)'/%3E%3Cuse href='%23s' transform='scale(0.2) rotate(10)'/%3E%3Cuse href='%23s' transform='scale(0.25) rotate(40)'/%3E%3Cuse href='%23s' transform='scale(0.3) rotate(-20)'/%3E%3Cuse href='%23s' transform='scale(0.4) rotate(-30)'/%3E%3Cuse href='%23s' transform='scale(0.5) rotate(20)'/%3E%3Cuse href='%23s' transform='scale(0.6) rotate(60)'/%3E%3Cuse href='%23s' transform='scale(0.7) rotate(10)'/%3E%3Cuse href='%23s' transform='scale(0.835) rotate(-40)'/%3E%3Cuse href='%23s' transform='scale(0.9) rotate(40)'/%3E%3Cuse href='%23s' transform='scale(1.05) rotate(25)'/%3E%3Cuse href='%23s' transform='scale(1.2) rotate(8)'/%3E%3Cuse href='%23s' transform='scale(1.333) rotate(-60)'/%3E%3Cuse href='%23s' transform='scale(1.45) rotate(-30)'/%3E%3Cuse href='%23s' transform='scale(1.6) rotate(10)'/%3E%3C/g%3E%3C/defs%3E%3Cg transform='rotate(0 0 0)'%3E%3Cg transform='rotate(0 0 0)'%3E%3Ccircle fill='url(%23a)' r='3000'/%3E%3Cg opacity='0.5'%3E%3Ccircle fill='url(%23a)' r='2000'/%3E%3Ccircle fill='url(%23a)' r='1800'/%3E%3Ccircle fill='url(%23a)' r='1700'/%3E%3Ccircle fill='url(%23a)' r='1651'/%3E%3Ccircle fill='url(%23a)' r='1450'/%3E%3Ccircle fill='url(%23a)' r='1250'/%3E%3Ccircle fill='url(%23a)' r='1175'/%3E%3Ccircle fill='url(%23a)' r='900'/%3E%3Ccircle fill='url(%23a)' r='750'/%3E%3Ccircle fill='url(%23a)' r='500'/%3E%3Ccircle fill='url(%23a)' r='380'/%3E%3Ccircle fill='url(%23a)' r='250'/%3E%3C/g%3E%3Cg transform='rotate(0 0 0)'%3E%3Cuse href='%23g' transform='rotate(10)'/%3E%3Cuse href='%23g' transform='rotate(120)'/%3E%3Cuse href='%23g' transform='rotate(240)'/%3E%3C/g%3E%3Ccircle fill-opacity='0.1' fill='url(%23a)' r='3000'/%3E%3C/g%3E%3C/g%3E%3C/svg%3E");
    background-attachment: fixed;
    background-size: cover;
}

.landingchildright {
    background-image: url("https://media.istockphoto.com/illustrations/american-soldiers-on-battlefield-illustration-id827768536?k=6&m=827768536&s=612x612&w=0&h=IUGZczkMELktpSFTG27YPEna4GmNXPhy8f_n8CH0EGA=");
    min-height: 70vh;
    object-fit: cover;
    background-size: cover;
}

.landingheader {
    font-size: 48px;
    color: white;
    margin: auto;
    text-shadow: rgb(214, 214, 214) 3px 3px 1px, rgb(214, 214, 214) 1px 1px 1px, rgb(214, 214, 214) 2px 2px 1px, rgba(0, 0, 0, 0.8) 0px 3px 8px;
    margin: 30px 0;
}

.landingcontent {
    color: #ffffff;
    margin: 30px auto;
    font-size: 20px;
    line-height: 25px;
    text-shadow: rgba(0, 0, 0, 0.3) 2px 3px 3px;
}

.landingchildcontainerparent {
    display: flex;
    width: fit-content;
    justify-content: center;
    margin: 30px auto;
    margin-bottom: 20px;
    vertical-align: bottom;
}

.landingchildcontainerchild {
    width: 50%;
    margin: 10px;
}

.landingbutton {
    box-shadow: rgba(0, 0, 0, 0.3) 0 2px 4px, rgba(0, 0, 0, 0.15) 0 8px 16px, inset rgba(0, 0, 0, 0.1) 0 10000px;
    padding: 10px 40px;
    padding-bottom: 12px;
    font-size: 20px;
    background: rgb(58, 58, 58);
}

.landingbutton:hover {
    box-shadow: rgba(0, 0, 0, 0.2) 0 2px 4px, rgba(0, 0, 0, 0) 0 8px 16px, inset rgba(0, 0, 0, 0.3) 0 10000px;
}

.landingbutton:focus {
    box-shadow: rgba(0, 0, 0, 0.2) 0 2px 4px, rgba(0, 0, 0, 0) 0 8px 16px, inset rgba(0, 0, 0, 0.5) 0 10000px;
}

.discordlink {
    width: 65%;
    border: none;
    display: block;
    margin: 10px auto;
    height: 450px;
    position: relative;
    top: -5px;
    transition: all 0.3s;
    border-radius: 8px;
    box-shadow: rgba(0, 0, 0, 0.2) 0px 10px 32px 2px, #00a9e140 0px 8px 0px 0px;
}

.discordlink:hover {
    top: 0;
    box-shadow: rgba(0, 0, 0, 0.2) 0px 2px 4px 0px;
}

@media all and (max-width: 600px) {
    .discordlink {
        width: 85%;
    }
}

.scrolldownparent {
    border-radius: 16px;
    border: 3px solid rgba(0, 0, 0, .5);
    position: absolute;
    bottom: 15px;
    left: 0;
    right: 0;
    height: 40px;
    width: 20px;
    margin: auto;
    box-shadow: rgba(0, 0, 0, 0.15) 0 0px 40px 3px;
    animation: scrolldownparentload 1.2s;
    transition: all 0.3 ease;
}

@media all and (max-width: 800px) {
    .scrolldownparent {
        display: none;
    }
}

.scrolldownchild {
    position: absolute;
    left: 0;
    right: 0;
    top: 5px;
    background: rgba(0, 0, 0, .5);
    box-shadow: rgba(0, 0, 0, 0.2) 0 0px 12px 2px;
    width: 12px;
    height: 12px;
    border-radius: 100%;
    margin: auto;
    animation: scrolldownchild 2s infinite;
    transition: all 0.3 ease;
    animation-delay: 1.2s;
}

.cardparent {
    margin: 50px;
    padding: 0px;
    overflow: hidden;
    background: var(--foregroundTwo);
    border: 1.5px solid var(--border);
    position: relative;
    top: 0px;
    box-shadow: rgba(0, 0, 0, 0.05) 0 8px 32px 0;
    transition: all 0.3s ease;
    border-radius: 4px;
}

.cardparent:hover {
    top: -5px;
    box-shadow: rgba(0, 0, 0, 0.025) 0 8px 32px 0, rgba(0, 0, 0, 0.075) 0 12px 12px;
}

.cardimage {
    width: 100%;
}

.cardcontent {
    padding: 30px 15px;
}

.landingcontactdiv {
    margin: 50px;
    padding: 20px;
    width: fit-content;
    border-radius: 4px;
}

.twitter-timeline {
    height: 40px !important;
}


/*LOGINSIGNUP*/

.loginsignupdiv {
    left: 0;
    right: 0;
    height: min-content;
    width: 60%;
    box-shadow: inset 0 0 100000px 0 rgba(0, 0, 0, 0.0), 0px 6px 12px 4px #0f638030;
}

@media all and (max-width: 600px) {
    .loginsignupdiv {
        min-width: 80%;
    }
}

.mapselect {
    background: rgba(0, 0, 0, 0.75);
    width: 90%;
    height: 50vh;
    border: 4px solid #e3e9f0;
    margin: 0px auto;
    box-shadow: rgba(39, 41, 59, 0.2) 0px 20px 50px 10px;
    position: relative;
}

.loginsignupinput {
    padding: 10px;
    outline: none;
    font-size: 16px;
    transition: all 0.2s;
    display: block;
    margin: 14px auto;
    transition: all 0.3s ease-in-out;
    background: linear-gradient(-90deg, var(--foregroundFive) 50%, var(--foregroundFour) 50%);
    border: 1.5px solid var(--border);
    color: var(--colorOne);
    background-size: 400% 400%;
    background-position: -50% 0%;
    float: none;
    border-radius: 4px;
}

.loginsignupinput:focus {
    background-position: -100% 0%;
}

.loginsignupinput::placeholder {
    color: var(--colorOne);
    opacity: 0.8;
}

.loginsignupbutton {
    float: right;
    margin: 10px;
    margin-bottom: -15px;
    transition: all 0.2s;
    text-decoration: none;
    font-size: 14px;
    font-size: 18px;
    cursor: pointer;
    user-select: none;
    outline: none;
    text-align: center;
}

.loginsignupforgot {
    color: #00a7e1;
    padding: 2px;
    transition: all 0.2s;
    text-decoration: none;
    cursor: pointer;
}

.loginsignupforgot:hover {
    color: rgb(88, 196, 231);
}

.login,
.signup {
    position: absolute;
    top: 5px;
    left: 5px;
}

.signup {
    top: -4px;
}

.forgotpasscode {
    display: block;
    text-align: center;
    width: fit-content;
    margin: auto;
}

.loginsignuplink {
    padding: 18px;
    width: 50%;
    font-size: 25px;
    display: block;
    margin: 15px auto;
}


/*COUNTRY*/

.countryimagediv {
    padding: 5px;
    margin: 15px auto;
    display: block;
    width: 95%;
    transition: all 0.2s;
    overflow: hidden;
    text-align: center;
    background-image: url("https://i.pinimg.com/originals/5e/65/20/5e6520289b44e11a9e74363c18ce3ee1.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    object-fit: cover;
    background-position-y: 50%;
    box-shadow: 0 0.2rem 1rem 0.2rem rgba(58, 59, 69, 0.3);
    user-select: none;
}

.countryimage {
    width: 40vw;
    height: 22.5vw;
    float: left;
    box-shadow: 0 0.5rem 2rem 0.2rem rgba(58, 59, 69, 0.3);
    text-align: center;
    background-image: url("https://i.pinimg.com/originals/5e/65/20/5e6520289b44e11a9e74363c18ce3ee1.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    object-fit: cover;
    background-position-y: 50%;
    border: 6px solid #36394590;
    position: relative;
}

.countrycoalitionimage {
    float: right;
    box-shadow: 0 0.5rem 2rem 0.2rem rgba(58, 59, 69, 0.3);
    width: 20vw;
    height: 11.25vw;
    text-align: center;
    background-image: url("https://i.pinimg.com/originals/5e/65/20/5e6520289b44e11a9e74363c18ce3ee1.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    object-fit: cover;
    background-position-y: 50%;
    border: 6px solid #36394590;
    position: relative;
}

.countryanthem {
    width: 16vw;
    height: 9vw;
}

.view,
.revenue,
.news,
.actions,
.edit {
    display: none;
}

.viewclick,
.revenueclick,
.newsclick,
.actionsclick,
.editclick {
    display: initial;
}

.countryviewclick,
.countryrevenueclick,
.countrynewsclick,
.countryactionsclick,
.countryeditclick {
    background: #00a7e1 !important;
}

.countryviewclick h3,
.countryrevenueclick h3,
.countrynewsclick h3,
.countryactionsclick h3,
.countryeditclick h3 {
    color: var(--colorTwo) !important;
}


/*PROVINCE*/

.notificationparent {
    display: flex;
}

@media all and (max-width: 600px) {
    .notificationparent {
        flex-direction: column;
    }
}

.notificationchild {
    background: var(--background);
    margin: 8px;
    line-height: 30px;
    padding: 10px !important;
    border-radius: 4px;
    box-shadow: rgba(0, 0, 0, 0.075) 0 12px 22px 0;
}

.provinceimage {
    margin-top: -15px;
    width: 100%;
    height: 20vh;
    background: #f7f7f7;
}

.city,
.land {
    display: none;
}

.cityclick,
.landclick {
    display: initial;
}

.provincecityclick,
.provincelandclick {
    background: #00a7e1 !important;
    color: white !important;
}

.provincecityclick h3,
.provincelandclick h3 {
    color: var(--colorTwo) !important;
}

.electricity,
.retail,
.works {
    display: none;
}

.electricityclick,
.retailclick,
.worksclick {
    display: initial;
}

.cityelectricityclick,
.cityretailclick,
.cityworksclick {
    background: #00a7e1 !important;
    color: white !important;
}

.cityelectricityclick h3,
.cityretailclick h3,
.cityworksclick h3 {
    color: var(--colorTwo) !important;
}

.military,
.industry,
.processing {
    display: none;
}

.militaryclick,
.industryclick,
.processingclick {
    display: initial;
}

.landmilitaryclick,
.landindustryclick,
.landprocessingclick {
    background: #00a7e1 !important;
    color: white !important;
}

.landmilitaryclick h3,
.landindustryclick h3,
.landprocessingclick h3 {
    color: var(--colorTwo) !important;
}


/*MILITARY*/

.menuflex {
    align-items: center;
    justify-content: center;
}

.menuflex p {
    text-align: left;
}

.menuflex div {
    text-align: center;
}

.smallimage img {
    margin: 8px;
    height: 204px;
    vertical-align: middle;
}

.unitimage {
    width: 80%;
    max-height: 425px;
    box-shadow: 0 20px 50px 10px rgba(39, 41, 59, 0.2);
    user-select: none;
    object-fit: cover;
    position: relative;
    z-index: 0;
    top: 0;
    transition: all 0.4s ease-in-out;
    animation: templatedivcontentload 1.25s;
    outline: none;
    cursor: pointer;
    border-radius: 4px;
}

.unitimage:focus {
    animation: unitimage 0.6s;
    position: fixed;
    left: 50px;
    right: 50px;
    bottom: -50px;
    margin: auto;
    z-index: 1;
    width: 40%;
    height: auto;
    box-shadow: rgba(0, 0, 0, 0.7) 0 0 0 10000px;
}

.purchasemilitarydiv {
    height: min-content;
}

.land,
.air,
.water,
.special {
    display: none;
}

.landclick,
.airclick,
.waterclick,
.specialclick {
    display: initial;
}

.militarylandclick,
.militaryairclick,
.militarywaterclick,
.militaryspecialclick {
    background: #00a7e1 !important;
    color: white !important;
}

.militarylandclick h3,
.militaryairclick h3,
.militarywaterclick h3,
.militaryspecialclick h3 {
    color: var(--colorTwo) !important;
}


/*create_coalition*/

.coalitionimagepreview {
    margin: auto;
    text-align: center;
    justify-content: center;
    text-align: center;
    padding: 0 !important;
}

.coalitionimagepreview image {
    margin: auto;
}


/*WARS*/

.warflexparent {
    background: var(--foregroundTwo);
    border: 1.5px solid var(--border);
    transition: all 0.3s ease-in-out;
    cursor: pointer;
    width: 95%;
    margin: 12px auto;
    position: relative !important;
    border-radius: 4px;
}

.warflexparent:hover {
    box-shadow: rgba(0, 0, 0, 0.10) 0px 8px 16px 0.5px;
}

.warflexparent image:hover {
    transform: scale(1);
}

.warflexlink {
    position: absolute;
    display: block;
    z-index: 100;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
}

.borderbottom {
    flex-direction: row;
}

.borderbottom div {
    border-radius: 0px;
    box-shadow: rgba(0, 0, 0, 0.12) 0px 2px 3px 0px, rgba(39, 41, 59, 0.15) 0px 2px 5px 0px;
    background: #00a7e1;
    transition: all 0.3s;
    transform: scale(0.995);
    margin: 12px !important;
}

@media all and (max-width: 1055px) {
    .borderbottom div {
        margin-left: auto;
        margin-right: auto;
    }
}

.borderbottom div:hover {
    transform: scale(0.985);
}

.borderbottom div h2 {
    color: rgb(255, 255, 255) !important;
}


/*Coalition*/

.general,
.join,
.leader,
.member {
    display: none;
}

.generalclick,
.joinclick,
.leaderclick,
.memberclick {
    display: initial;
}

.coalitiongeneralclick,
.coalitionjoinclick,
.coalitionleaderclick,
.coalitionmemberclick {
    background: #00a7e1 !important;
    color: white !important;
}

.coalitiongeneralclick h3,
.coalitionjoinclick h3,
.coalitionleaderclick h3,
.coalitionmemberclick h3 {
    color: var(--colorTwo) !important;
}

.scrolltable {
    max-height: 20vh;
    overflow: scroll;
}


/*DEFENSE*/

.unitcard {
    margin: 10px;
    border-radius: 8px;
    align-self: stretch;
    top: -5px;
    position: relative;
    box-shadow: rgba(0, 0, 0, 0.12) 0px 6px 16px 1px, #00a9e140 0px 8px 0px 0px;
    transition: all 0.3s ease-in-out;
    background: var(--tableTwo);
    cursor: pointer;
    opacity: 1;
    user-select: none;
}

.unitcard img {
    pointer-events: none;
}

.unitcard:hover {
    top: 0;
    box-shadow: rgba(0, 0, 0, 0.2) 0px 2px 4px 0px;
}

.unitcard:focus {
    top: 0;
    box-shadow: rgba(0, 0, 0, 0.2) 0px 2px 4px 0px;
}

.unitcardcheck {
    width: 0%;
    background: #00a9e1;
    color: white;
    padding: 6px 50%;
    margin: auto;
    position: static;
    box-shadow: rgba(0, 0, 0, 0.2) 0 4px 12px 0;
    opacity: 0;
    margin-left: -15px;
    user-select: none;
    transition: width 0.3s, opacity 0s, padding 0s;
    pointer-events: none;
}

.unitcard input[type=checkbox]:checked~.unitcardcheck {
    opacity: 1;
    margin-left: 0;
    width: 80%;
    padding: 6px 0;
    transition: opacity 0.3s, width 0.3s, padding 0.15s;
}


/*UPGRADES*/

.economic,
.military {
    display: none;
}

.economicclick,
.militaryclick {
    display: initial;
}

.upgradeseconomicclick,
.upgradesmilitaryclick {
    background: #00a7e1 !important;
    color: white !important;
}

.upgradeseconomicclick h3,
.upgradesmilitaryclick h3 {
    color: var(--colorTwo) !important;
}


/*TUTORIAL*/

.tutorialdiv {
    position: relative;
    overflow: hidden;
}

.checkmarkparent {
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    margin: auto;
    height: min-content;
    width: min-content;
    padding: 50px;
    background: #00a7e1;
    z-index: 100;
    box-shadow: rgba(0, 0, 0, 0.2) 0 4px 12px 0, rgba(0, 0, 0, 0.2) 0 0 0 10000px;
    width: 80%;
    padding: 6px 0;
    color: white;
    opacity: 0;
    pointer-events: none;
}

.tutorialdivactive {
    pointer-events: none;
}

.tutorialdivactive .templatedivflex2left {
    opacity: 0.5;
}

.tutorialdivactive .checkmarkparent {
    opacity: 1;
}


/*FOOTER*/

.footer {
    background: #363945;
    z-index: 1;
    padding: 2vw 2vh;
    padding-bottom: 35px;
    color: black;
    display: flex;
    min-height: 10vh;
}

.footerleft,
.footerright {
    width: 50%;
    flex-direction: column;
    flex-wrap: wrap;
}

.footerright {
    text-align: right;
}

.footer div a {
    display: block;
    width: fit-content;
    text-decoration: none;
    transition: all 0.2s;
    color: #00a7e1;
    padding: 2px;
    transition: all 0.2s;
    cursor: pointer;
}

.footer .footerright a {
    float: right;
    margin-left: 100%;
    width: max-content;
}

.footer div a:hover {
    color: rgb(88, 196, 231);
}