{% extends "layout.html" %} {% block title %} Account {% endblock %} {% block body %}
<div class="templatediv">

    <div class="templatedivtopper noboxshadowtopper">
        <h1 class="templatedivtitle"><span class="material-icons-outlined iconlarge">
            perm_identity
            </span>{{ name }}'s Account</h1>
        <div class="templatedivad"></div>
    </div>

    <div class="templatedivcontent">

        <h2 class="templatecontentheaderleft">Account Information</h2>


        <form action="/change" method="POST">
            <div class="infodiv">
                <div class="templateoutertablediv">
                    <table class="templatetable templatetable2">
                        <tr>
                            <th>Category</th>
                            <th>Value</th>
                            <th>Change Info</th>
                        </tr>
                        <tr>
                            <td>Country:</td>
                            <td>{{ username }}</td>
                            <td><input class="loginsignupinput" name="name" placeholder="New name" /></td>
                        </tr>
                        <tr>
                            <td>Email:</td>
                            <td>{{ email }}</td>
                            <td><input class="loginsignupinput" name="email" placeholder="New email" /></td>
                        </tr>
                        <tr>
                            <td>Password:</td>
                            <td>************</td>
                            <td> <button class="templatedivbutton templatecenteredbutton" type="submit"><span class="material-icons-outlined">
                                arrow_forward
                                </span>Send email</button></td>
                        </tr>
                        <tr>
                            <td>Date joined:</td>
                            <td>{{ date }}</td>
                            <td></td>
                        </tr>
                    </table>
                </div>
    
                <input class="loginsignupinput" name="current_password" placeholder="Enter current password" />
    
                <button class="templatedivbutton templatecenteredbutton" type="submit"><span class="material-icons-outlined">
                    check
                    </span>Update</button>
            </div>
        </form>

        <h2 class="templatecontentheaderleft">General</h2>

        <div class="infodiv">

            <!--
            <input class="loginsignupinput" name="" placeholder="Discord Username" />
            -->

            <label class="templatecheckmarklabel fit">Dark Mode
                <input type="checkbox" onchange="toggleTheme()" id="slider">
                <span class="templatecheckmark center"></span>
              </label>

            <!-- <button id="templatedivbutton" class="templatedivbutton templatecenteredbutton" type="submit"><span class="material-icons-outlined">
                        check
                    </span>Update</button>
                -->

        </div>
    </div>

    <h2 class="templatecontentheaderleft">Danger Zone</h2>

    <div class="infodiv">
        <form method="POST">
            <div class="templatedivflex2 menuflex">
                <div class="templatedivflex2left">

                    <button formaction="/delete_own_account" type="submit" class="templatedivbutton templatecenteredbutton redactionbutton" value="submit"><span class="material-icons-outlined">
                                cancel
                                </span>Delete account</button>

                </div>

                <div class="templatedivflex2left">

                    <a class="templatedivbutton templatecenteredbutton redactionbutton" href="/logout"><span class="material-icons-outlined">
                            arrow_forward
                            </span>Log Out</a>

                </div>
            </div>
        </form>
    </div>
</div>
</div>
{% endblock %}