{% extends "layout.html" %} {% block title %} Account {% endblock %} {% block body %}
<div class="templatediv">

    <div class="templatedivtopper">
        <h1 class="templatedivtitle"><span class="material-icons-outlined iconlarge">
            perm_identity
            </span>{{ name }}'s Account</h1>
        <div class="templatedivad"></div>
    </div>

    <div class="templatedivcontent">

        <h2 class="templatecontentheaderleft">Background Color</h2>



        <div class="infodiv">

            <div class="coalitionimagepreview">
                <img id="imageBackground" />
            </div>

            <div class="templatedivflex2 menuflex">
                <div class="templatedivflex2left">

                    <label for="bgcolor">Choose a color</label>
                    <select class="templateselect" name="bgcolor">

                        <option class="templateoption" selected>Default</option>
                        <option class="templateoption">Gray</option>
                        <option class="templateoption">Light Blue</option>
                        <option class="templateoption">Dark Blue</option>
                        <option class="templateoption">Red</option>
                        <option class="templateoption">Dark Gray</option>
                        <option class="templateoption">Black</option>
                        <option class="templateoption">Green</option>
                    
                    </select>

                </div>
                <div class="templatedivflex2left">
                    <label for="bgimage">Or a custom image</label>

                    <label class="imageinput fit center"><span class="material-icons-outlined">
                        wallpaper
                            </span>Choose Image
                            <input type="file" name="bgimage" id="imageinput" accept="image/*" onchange="imageBackground(event)">
                          </label>

                </div>
            </div>
            <!--if both an image and color are selected the image overrides the color-->
            <button class="templatedivbutton templatecenteredbutton" type="submit"><span class="material-icons-outlined">
                check
                </span>Update</button>
        </div>

        <h2 class="templatecontentheaderleft">Account information</h2>

        <div class="infodiv">
            <div class="templatedivflex2 menuflex">
                <div class="templatedivflex2left">

                    <input class="loginsignupinput" name="discordUsername" placeholder="Discord Username" />

                </div>
                <div class="templatedivflex2left">

                    test

                </div>
            </div>
            <div class="templatedivflex2 menuflex">
                <div class="templatedivflex2left">

                    <button type="submit" class="templatedivbutton templatecenteredbutton redactionbutton" value="submit">Delete account</button>

                </div>
                <div class="templatedivflex2left">

                    <button id="templatedivbutton" class="templatedivbutton templatecenteredbutton" type="submit"><span class="material-icons-outlined">
                                check
                            </span>Update</button>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}