{% extends "layout.html" %} {% block title %} Account {% endblock %} {% block body %}
<div class="templatediv">

    <div class="templatedivtopper">
        <h1 class="templatedivtitle"><span class="material-icons-outlined iconlarge">
            perm_identity
            </span>{{ name }}'s Account</h1>
        <div class="templatedivad"></div>
    </div>

    <div class="templatedivcontent">

        <h2 class="templatecontentheaderleft">Account Information</h2>



        <div class="infodiv">

            <div class="templatedivflex2 divflex2center">
                <div class="templatedivflex2left">

                    <input class="loginsignupinput" name="" placeholder="New Email" />

                </div>
                <div class="templatedivflex2left">

                    <input class="loginsignupinput" name="" placeholder="New Passcode" />

                </div>
            </div>
            <div class="templatedivflex2 divflex2center">
                <div class="templatedivflex2left">

                    <input class="loginsignupinput" name="" placeholder="Current Passcode" />

                </div>
                <div class="templatedivflex2left">

                    <button class="templatedivbutton templatecenteredbutton" type="submit"><span class="material-icons-outlined">
                        check
                        </span>Update</button>

                </div>
            </div>

        </div>

        <h2 class="templatecontentheaderleft">General</h2>

        <div class="infodiv">

            <!--
            <input class="loginsignupinput" name="" placeholder="Discord Username" />
            -->

            <label class="templatecheckmarklabel fit">Dark Mode
                <input type="checkbox" onchange="toggleTheme()" id="slider">
                <span class="templatecheckmark center"></span>
              </label>

            <!-- <button id="templatedivbutton" class="templatedivbutton templatecenteredbutton" type="submit"><span class="material-icons-outlined">
                        check
                    </span>Update</button>
                -->

        </div>
    </div>

    <h2 class="templatecontentheaderleft">Danger Zone</h2>

    <div class="infodiv">
        <form method="POST">
            <div class="templatedivflex2 menuflex">
                <div class="templatedivflex2left">

                    <button formaction="/delete_own_account" type="submit" class="templatedivbutton templatecenteredbutton redactionbutton" value="submit"><span class="material-icons-outlined">
                                cancel
                                </span>Delete account</button>

                </div>

                <div class="templatedivflex2left">

                    <a class="templatedivbutton templatecenteredbutton redactionbutton" href="/logout"><span class="material-icons-outlined">
                            arrow_forward
                            </span>Log Out</a>

                </div>
            </div>
        </form>
    </div>
</div>
</div>
{% endblock %}