{% extends "layout.html"%} {% block title %} Assembly {% endblock %} {% block body %}

<div class="templatediv">

    <div class="templatedivtopper assemblytopper">
        <h1 class="templatedivtitle"><span class="material-icons-outlined iconlarge">
            chat
            </span>Assembly</h1>
        <div class="templatedivad"></div>
    </div>

    <div class="templatedivcontent">

        <table class="templatetable">
            <tr>
                <th>Official</th>
            </tr>
            <tr>
                <td>Game Announcements</td>
                <td>Created By</td>
            </tr>
            <tr>
                <td>Declerations</td>
                <td>Created By</td>
            </tr>
            <tr>
                <td>Declerations</td>
                <td>Created By</td>
            </tr>
        </table>

    </div>
</div>
{% endblock %}