{% extends "layout.html"%} {% block title %} Assembly {% endblock %} {% block body %}

<div class="templatediv">

    <div class="templatedivtopper assemblytopper">
        <h1 class="templatedivtitle"><span class="material-icons-outlined iconlarge">
            chat
            </span>Assembly</h1>
        <div class="templatedivad"></div>
    </div>

    <div class="templatedivcontent">

        <div class="templateoutertablediv">
            <table class="templatetable templatetable2">
                <tr>
                    <th>Issue</th>
                    <th>Last Author</th>
                    <th>Last Post</th>
                </tr>
                <tr>
                    <td>
                        <a href="/dows">Declerations of War</a>
                    </td>
                    <td>[[ lastAuthor ]]</td>
                    <td>[[ timeSince ]]</td>
                </tr>
                <tr>
                    <td>
                        <a href="/dows">Declerations of War</a>
                    </td>
                    <td>[[ lastAuthor ]]</td>
                    <td>[[ timeSince ]]</td>
                </tr>
                <tr>
                    <td>
                        <a href="/dows">Declerations of War</a>
                    </td>
                    <td>[[ lastAuthor ]]</td>
                    <td>[[ timeSince ]]</td>
                </tr>
                <tr>
                    <td>
                        <a href="/dows">Declerations of War</a>
                    </td>
                    <td>[[ lastAuthor ]]</td>
                    <td>[[ timeSince ]]</td>
                </tr>
                <tr>
                    <td>
                        <a href="/dows">Declerations of War</a>
                    </td>
                    <td>[[ lastAuthor ]]</td>
                    <td>[[ timeSince ]]</td>
                </tr>
                <tr>
                    <td>
                        <a href="/dows">Declerations of War</a>
                    </td>
                    <td>[[ lastAuthor ]]</td>
                    <td>[[ timeSince ]]</td>
                </tr>
            </table>
        </div>

    </div>
</div>
{% endblock %}