{% extends "layout.html" %} {% block title %} Coalitions {% endblock %} {% block body %}

<div class="templatediv">

    <div class="templatedivtopper coalitionstopper">
        <h1 class="templatedivtitle">Coalitions</h1>
        <div class="templatedivad"></div>
    </div>

    <div class="templatedivcontent">
        <form action="/coalitions" method="POST">
            <div class="templatedivflex2 divflex2full">

                <div class="templatedivflex2left">

                    <select class="templateselect">

                        <option class="templateoption">Influence</option>
                        <option class="templateoption">Military</option>
                        <option class="templateoption">Population</option>
                        <option class="templateoption">GDP</option>
                        <option class="templateoption">GDP per capita</option>
                        <option class="templateoption">Established</option>
                    
                    </select>

                </div>
                <div class="templatedivflex2right">

                    <select class="templateselect">

                        <option>Ascending</option>
                        <option class="templateoption">Descending</option>
                    
                    </select>

                </div>
                <form action="/coalitions" method="POST">
                    <div class="templatedivflex2left">

                        <input class="loginsignupinput templateflexfullinput" autocomplete="off" name="search" placeholder="Search" />

                    </div>
                    <div class="templatedivflex2right">

                        <button class="center templatedivbutton smallactionbutton" type="submit">Submit</button>

                    </div>

            </div>
            </form>
            <div class="templatedivflex2 divflex2center">
                <div class="templatedivflex2left">

                    <ul>Looking for a coalition?</ul>

                </div>
                <div class="templatedivflex2right">

                    <a href="/recruitments" class="templatedivbutton templatecenteredbutton"><span class="material-icons-outlined">
                    group_add
                    </span>Recruitment list</a>

                </div>
            </div>

            <div class="templateoutertablediv">
                <table class="templatetable templatetable2">
                    <tr>
                        <th>Name</th>
                        <th>Influence</th>
                        <th>Members</th>
                        <th>Type</th>
                    </tr>
                    {% for name, id, members, type in resultAll %}
                    <tr>
                        <td><a href="/coalition/{{ id }}">{{ name }}</a> </td>
                        <td>Influence</td>
                        <td>{{ members }}</td>
                        <td>{{ type }}</td>
                    </tr>
                    {% endfor %}
                </table>
            </div>
    </div>
</div>

{% endblock%}