{% extends "layout.html"%} {% block title %} Country {% endblock %} {% block body %}

<div class="templatediv">

    <div class="templatedivtopper">
        <h1 class="templatedivtitle">{{ name }}</h1>
    </div>

    <div class="templatedivcontent">

        <div class="templatedivad"></div>

        <!--<div class="coalitionimagediv">

            <img class="coalitionimage" src="files/images/file.svg" /> // currently turned this off because it looks broken

        </div> -->


        <div class="templatedivflex2 menuflex2">
            <div class="templatedivflex2left" id="coalitiongeneral" onclick="coalitiongeneral()">

                <h3 class="smallheader">General</h3>

            </div>
            <div class="templatedivflex2left" id="coalitionabout" onclick="coalitionabout()">

                <h3 class="smallheader">About</h3>

            </div>
            <div class="templatedivflex2left" id="coalitionjoin" onclick="coalitionjoin()">

                <h3 class="smallheader">Join</h3>
                <!--HIDE THIS WHEN USER IS A COALITION MEMBER-->

            </div>
            <div class="templatedivflex2left" id="coalitionleader" onclick="coalitionleader()">

                <h3 class="smallheader">Leader Panel</h3>
                <!--SHOW THIS TO GOVERNMENT ONLY-->

            </div>
            <div class="templatedivflex2left" id="coalitionmember" onclick="coalitionmember()">

                <h3 class="smallheader">Member Panel</h3>
                <!--SHOW THIS TO MEMBERS ONLY NOT GOVERNMENT-->

            </div>
        </div>
        <!--GENERAL-->
        <div class="general" id="general">


            <div class="templatedivflex2 menuflex">
                <div class="templatedivflex2left">

                    <table class="templatetable">
                        <tr>
                            <th>General</th>
                        </tr>
                        <tr>
                            <td>Members:</td>
                            <td class="anchor"><a class="forgotpasscode loginsignupforgot" href="">{{ coalitionmembers }}</a></td>
                        </tr>
                        <tr>
                            <td>Influence:</td>
                            <td>{{ coalitioninfluence }}</td>
                        </tr>
                        <tr>
                            <td>Average Influence:</td>
                            <td>{{ coalitionAverageInfluence }}</td>
                        </tr>

                    </table>
                    <table class="templatetable">
                        <tr>
                            <th>Military</th>
                        </tr>
                        <tr>
                            <td>Military power:</td>
                            <td>power#</td>
                        </tr>
                        <tr>
                            <td>Land Military:</td>
                            <td>30%</td>
                        </tr>
                        <tr>
                            <td>Air Military:</td>
                            <td>60%</td>
                        </tr>
                        <tr>
                            <td>Water Military:</td>
                            <td>10%</td>
                        </tr>
                        <tr>
                            <td class="anchor"><a class="forgotpasscode loginsignupforgot" href="nationstats">View stats</a></td>
                        </tr>
                        <tr>
                    </table>
                    <table class="templatetable">
                        <th>Affairs</th>
                        </tr>
                        <tr>
                            <td>Allied:</td>
                            <td>Y / N</td>
                        </tr>
                        <!--ONLY display ally TYPE (below) if nation IS in an ALLIED coalition-->
                        <tr>
                            <td>Ally Type:</td>
                            <td>{{ treatyType }}</td>
                        </tr>
                        <tr>
                            <td>Allies:</td>
                            <td>View allies</td>
                        </tr>
                        <tr>
                            <td>Water Military:</td>
                            <td>10%</td>
                        </tr>
                        <tr>
                    </table>
                    <table class="templatetable">
                        <th>More Info</th>
                        </tr>
                        <tr>
                            <td>Provinces:</td>
                            <td>{{ coalitionProvinces }}</td>
                        </tr>
                        <tr>
                            <td>Average Provinces:</td>
                            <td>{{ coalitionAverageProvinces }}</td>
                        </tr>
                        <tr>
                            <td>Cities:</td>
                            <td>{{ coalitionCities }}</td>
                        </tr>
                        <tr>
                            <td>Average Cities:</td>
                            <td>{{ coalitionAverageCities }}</td>
                        </tr>
                        <tr>
                            <td>GPD:</td>
                            <td>{{ coalitiongpd }}</td>
                        </tr>
                        <tr>
                            <td>GDP Per Capita:</td>
                            <td>{{ coalitiongpdPerCapita }}</td>
                        </tr>
                    </table>

                </div>
                <div class="templatedivflex2left">



                </div>
            </div>
        </div>
        <!--ABOUT-->
        <div class="about" id="about">



            <!--<div class="coalitionimagediv">

            <img class="coalitionimage" src="files/images/file.svg" /> // currently turned this off because it looks broken

        </div> -->

            <div class="coalitiondescription">
                Coalition Description
            </div>
        </div>
        <!--JOIN-->
        <div class="join" id="join">

            <div class="templatedivflex2 divflex2center">
                <form>
                    <!--Hide / deactvate certian buttons depending on the alliance type-->
                    <!--will become deactivated if the user doesnt meet the specified influence-->
                    <button class="templatedivbutton templatecenteredbutton">Join</button>
                    <button class="templatedivbutton templatecenteredbutton">Request to join</button>
                    <!--There buttons will be deactivated-->
                    <button class="templatedivbutton templatecenteredbutton templateclosedbutton" disabled="disabled">Closed</button>
                    <button class="templatedivbutton templatecenteredbutton templateclosedbutton" disabled="disabled">Not enough Influence</button>
                    <!--if the player does not meet the specified (by the leader) influnece required to join the coalition this button will appear-->
                </form>
            </div>

        </div>
        <!--LEADER PANEL-->
        <div class="leader" id="leader">

            <div class="templatedivflex2">
                <div class="templatedivflex2left">



                </div>
                <div class="templatedivflex2right">



                </div>
            </div>

        </div>
        <!--MEMBER-->
        <div class="member" id="member">

            <div class="templatedivflex2">
                <div class="templatedivflex2left">

                </div>
                <div class="templatedivflex2right">

                </div>
            </div>

        </div>
        <!--END-->

    </div>
</div>
{% endblock %}