{% extends "layout.html" %} {% block title %} Coalitions {% endblock %} {% block body %}

<div class="templatediv">

    <div class="templatedivtopper">
        <h1 class="templatedivtitle">Coalitions</h1>
    </div>

    <div class="templatedivcontent">
        <h2 class="templatecontentheaderleft"></h2>
        <p class="templatecontentpleft"></p>

        <table class="templatetable templatetable2">
            <tr>
                <th>Name</th>
                <th>Influence</th>
                <th>Members</th>
                <th>Type</th>
            </tr>
            <tr>
                <td>name</td>
                <td>Influence</td>
                <td>105,565</td>
                <td>Open / Closed / invite only</td>

            </tr>
        </table>

    </div>
</div>

{% endblock%}