{% extends "layout.html"%} {% block title %} Coalition {% endblock %} {% block body %}

<div class="templatediv">

    <div class="templatedivtopper coalitiontopper">
        <h1 class="templatedivtitle">{{ name }}</h1>
        <div class="templatedivad"></div>
    </div>

    <div class="templatedivcontent">

        <!--<div class="coalitionimagediv">

            <img class="coalitionimage" src="files/images/file.svg" /> // currently turned this off because it looks broken

        </div> -->


        <div class="templatedivflex2 menuflex2">
            <div class="templatedivflex2left" id="coalitiongeneral" onclick="coalitiongeneral()">

                <h3 class="smallheader">General</h3>

            </div>
            <div class="templatedivflex2left" id="coalitionabout" onclick="coalitionabout()">

                <h3 class="smallheader">About</h3>

            </div>
            {% if userInCol == True %}
            <!-- if user isnt in coalition, maybe this is wrong ?-->
            <script>
                $(document).ready(function() {

                    joinhide();

                });
            </script>{% endif %}

            <div class="templatedivflex2left" id="coalitionjoin" onclick="coalitionjoin()">
                <h3 class="smallheader">Join</h3>
                <!--HIDE THIS WHEN USER IS A COALITION MEMBER-->
            </div>
            {% if userLeader == False %}
            <script>
                $(document).ready(function() {

                    leaderhide();

                });
            </script>
            {% endif %}

            <div class="templatedivflex2left" id="coalitionleader" onclick="coalitionleader()">
                <h3 class="smallheader">Leader Panel</h3>
                <!--SHOW THIS TO GOVERNMENT ONLY-->
                <!-- somewhy doesnt work, no idea why -->
            </div>

            {% if userInCol == False %}
            <!--TODO: fix this lul-->
            <script>
                $(document).ready(function() {

                    memberhide();

                });
            </script>
            {% endif %} {% if userInCurCol == True %}
            <div class="templatedivflex2left" id="coalitionmember" onclick="coalitionmember()">
                <h3 class="smallheader">Member Panel</h3>
            </div>
            {% endif %}

        </div>
        <!--GENERAL-->
        <div class="general" id="general">


            <div class="templatedivflex2">
                <div class="templatedivflex2left">

                    <table class="templatetable">
                        <tr>
                            <th>General</th>
                        </tr>
                        <tr>
                            <td>Members:</td>
                            <!-- <td><a href="{{ alinktocoalitionmembers }}">{{ coalitionmembers }}</a></td> 
                            currently disabled the link because we dont have where to link, will show count of total members
                            -->
                            <td>
                                <a href="/coalition/members">{{ members }}</a></td>
                        </tr>
                        <tr>
                            <td>Influence:</td>
                            <td>{{ total_influence }}</td>
                        </tr>
                        <tr>
                            <td>Average Influence:</td>
                            <td>{{ average_influence }}</td>
                        </tr>
                        <tr>
                            <td>Coalition type:</td>
                            <td>{{ colType }}</td>
                        </tr>

                    </table>

                    <table class="templatetable">
                        <th>Affairs</th>
                        </tr>
                        <tr>
                            <td>Allied:</td>
                            <td>Y / N</td>
                        </tr>
                        <!--ONLY display ally TYPE (below) if nation IS in an ALLIED coalition-->
                        <tr>
                            <td>Ally Type:</td>
                            <td>{{ treatyType }}</td>
                        </tr>
                        <tr>
                            <td>Allies:</td>
                            <td>View allies</td>
                        </tr>
                        <tr>
                            <td>Water Military:</td>
                            <td>10%</td>
                        </tr>
                        <tr>
                    </table>


                </div>
                <div class="templatedivflex2left">

                    <table class="templatetable">
                        <tr>
                            <th>Military</th>
                        </tr>
                        <tr>
                            <td>Military power:</td>
                            <td>power#</td>
                        </tr>
                        <tr>
                            <td>Land Military:</td>
                            <td>30%</td>
                        </tr>
                        <tr>
                            <td>Air Military:</td>
                            <td>60%</td>
                        </tr>
                        <tr>
                            <td>Water Military:</td>
                            <td>10%</td>
                        </tr>
                        <tr>
                            <td class="anchor"><a class="forgotpasscode loginsignupforgot" href="nationstats">View stats</a></td>
                        </tr>
                        <tr>
                    </table>
                    <table class="templatetable">
                        <th>More Info</th>
                        </tr>
                        <tr>
                            <td>Provinces:</td>
                            <td>{{ coalitionProvinces }}</td>
                        </tr>
                        <tr>
                            <td>Average Provinces:</td>
                            <td>{{ coalitionAverageProvinces }}</td>
                        </tr>
                        <tr>
                            <td>Cities:</td>
                            <td>{{ coalitionCities }}</td>
                        </tr>
                        <tr>
                            <td>Average Cities:</td>
                            <td>{{ coalitionAverageCities }}</td>
                        </tr>
                        <tr>
                            <td>GPD:</td>
                            <td>{{ coalitiongpd }}</td>
                        </tr>
                        <tr>
                            <td>GDP Per Capita:</td>
                            <td>{{ coalitiongpdPerCapita }}</td>
                        </tr>
                    </table>

                </div>
            </div>
        </div>
        <!--ABOUT-->
        <div class="about" id="about">



            <!--<div class="coalitionimagediv">

            <img class="coalitionimage" src="files/images/file.svg" /> // currently turned this off because it looks broken

        </div> -->

            <div class="coalitiondescription">
                {{ description }}
            </div>
        </div>
        <!--JOIN-->
        <form action="/join/{{ colId }}" method="POST">
            <div class="join" id="join">
                <div class="templatedivflex2 menuflex">
                    <div class="templatedivflex2left">

                        {% if colType == "Invite Only" %}
                        <h3 class="unitcount">Applying for {{ name }}</h3>

                        <p class="templatecontentpleft">
                            You are
                            <!--applying if invite only, joining if not-->applying for {{ name }} please send a message to them about why you want to join, what you can offer or whatever else you would like to say.
                        </p>
                        <ul>
                            {{ name }} is a [coalition type (economic, war, trade)] coalition.
                        </ul>
                        <!--if not at war don't show the warning below-->
                        <ul class="warning">
                            {{ name }} is currently at war!
                        </ul>
                    </div>
                    <div class="templatedivflex2left">
                        <!-- <form> temporarily commented out this form-->
                        <textarea name="message" class="templatetextarea" autocomplete="off" placeholder="Your message"></textarea>
                    </div>

                </div>

                <form action="/join/{{ colId }}" method="POST">
                    <button type="submit" value="submit" class="templatedivbutton loginsignupbutton">Request to join</button>
                </form>
                {% endif %}

                <!--Hide / deactvate certian buttons depending on the coalition type-->
                <!--will become deactivated if the user doesnt meet the specified influence-->

                <!-- currently only added join for open coalitions, without message-->

        </form>

        {% if colType == "Open" %}
        <form action="/join/{{ colId }}" method="POST">
            <button type="submit" class="templatedivbutton loginsignupbutton" value="submit">Join</button>
        </form>
        {% endif %}
        <!--There buttons will be deactivated-->
        <!-- <button class="templatedivbutton loginsignupbutton templateclosedbutton" disabled="disabled">Not enough Influence</button> -->
        <!--if the player does not meet the specified (by the leader) influnece required to join the coalition this button will appear-->
        </div>

        <!--LEADER PANEL-->

        <div class="leader" id="leader">
            <!-- fix not being able to go here from /coalition even if user is leader-->
            <div class="menudiv">

                <h2 class="templatecontentheaderleft">Diplomacy</h2>

                <div class="templatedivflex2 menuflex">
                    <div class="templatedivflex2left">

                        <select class="templateselect" name="diplomacy">
                            <option class="templateoption" selected disabled>Choose Treaty</option>
                            {% for i in treaties%}
    <!--hovering over the options tags will tell the users what they do-->
                            <option class="templateoption">{{ i[0] }}</option>
                            {% endfor %}
                        
                        </select>

                        <div class="templatedivflex2 divflex2center">
                            <div class="templatedivflex2left flexchildvanilla">

                                <input class="loginsignupinput" autocomplete="off" name="apllicantsearch" placeholder="Filter Coalitions" />

                            </div>
                            <div class="templatedivflex2left flexchildvanilla">

                                <button class="templatedivbutton templatecenteredbutton" required><span class="material-icons-outlined">
                                    check
                                    </span>Go</button>

                            </div>
                        </div>

                    </div>
                    <div class="templatedivflex2left">

                        <div class="templateoutertablediv">
                            <table class="templatetable templatetable2 applicanttable">
                                <tr>
                                    <th>Action</th>
                                    <th>Name</th>
                                </tr>
                                <!--for every coalition make a row with 10 max-->
                                <tr>
                                    <td>add icon</td>
                                    <td>Coalition Name</td>
                                </tr>
                                <tr>
                                    <td>add icon</td>
                                    <td>Coalition Name</td>
                                </tr>
                                <tr>
                                    <td>add icon</td>
                                    <td>Coalition Name</td>
                                </tr>
                                <tr>
                                    <td>add icon</td>
                                    <td>Coalition Name</td>
                                </tr>
                                <tr>
                                    <td>add icon</td>
                                    <td>Coalition Name</td>
                                </tr>
                                <tr>
                                    <td>add icon</td>
                                    <td>Coalition Name</td>
                                </tr>
                                <tr>
                                    <td>add icon</td>
                                    <td>Coalition Name</td>
                                </tr>
                                <tr>
                                    <td>add icon</td>
                                    <td>Coalition Name</td>
                                </tr>
                            </table>
                        </div>
                    </div>
                </div>

                <h2 class="templatecontentheadercenter">Current Allies</h2>
                <div class="templateoutertablediv">
                    <table class="templatetable templatetable2 applicanttable">
                        <tr>
                            <th>Action</th>
                            <th>Time Remaining</th>
                            <th>Ally</th>
                        </tr>
                        <!--for every ally make a row-->
                        <tr>
                            <td><span class="material-icons iconred">
                                highlight_off
                                </span></td>
                            <td>Time remaining</td>
                            <td>Coalition Name</td>
                        </tr>
                    </table>
                </div>
            </div>
            <!--HIDE if alliance type is "open"-->
            <div class="menudiv">

                <h2 class="templatecontentheaderleft">Applicants</h2>

                <div class="templatedivflex2 menuflex">
                    <div class="templatedivflex2left">
                        <div class="templatedivflex2 divflex2center">
                            <div class="templatedivflex2left flexchildvanilla">

                                <input class="loginsignupinput" autocomplete="off" name="apllicantsearch" placeholder="Filter Applicants" />

                            </div>
                            <div class="templatedivflex2left flexchildvanilla">

                                <button class="templatedivbutton templatecenteredbutton" required><span class="material-icons-outlined">
                                    check
                                    </span>Go</button>

                            </div>
                        </div>
                    </div>
                    <div class="templatedivflex2left">

                        <div class="templateoutertablediv">
                            <table class="templatetable templatetable2 applicanttable">
                                <tr>
                                    <th>Action</th>
                                    <th>Name</th>
                                    <th>Influence</th>
                                    <th>Message</th>
                                </tr>
                                <!--for every applicant make a row-->
                                {% for id, name, message in requests %}
                                <tr>
                                    <td>
                                        <form method="POST">
                                            <div class="templatedivflex2 menuflex">
                                                <!-- plus sign-->
                                                <div class="templatedivflex2left flexchildvanilla">

                                                    <button formaction="/add/{{ id[0] }}"><span class="material-icons iconblue">
                                                    add_circle_outline
                                                    </span></button>

                                                </div>
                                                <!-- minus sign-->
                                                <div class="templatedivflex2left flexchildvanilla">

                                                    <button formaction="/remove/{{ id[0] }}"><span class="material-icons iconred">
                                                    highlight_off
                                                    </span></button>

                                                </div>
                                            </div>
                                        </form>
                                    </td>
                                    <td><a href="/country/id={{ id[0] }}">{{ name[0] }}</a></td>
                                    <td></td>
                                    <td class="templatesmalltd">{{ message[0] }}</td>
                                </tr>
                                {% endfor %}
                            </table>
                        </div>
                    </div>
                </div>
                <input class="templatedivbutton templatecenteredbutton" value="Update" type="submit" />
            </div>
            <div class="menudiv">

                <h2 class="templatecontentheaderleft">Coalition Background</h2>

                <div class="templatedivflex2 menuflex">
                    <div class="templatedivflex2left">

                        <label for="bgcolor">Choose a color</label>
                        <select class="templateselect" name="bgcolor">
    
                            <option class="templateoption" selected>Defualt</option>
                            <option class="templateoption">Gray</option>
                            <option class="templateoption">Light Blue</option>
                            <option class="templateoption">Dark Blue</option>
                            <option class="templateoption">Red</option>
                            <option class="templateoption">Dark Gray</option>
                            <option class="templateoption">Black</option>
                            <option class="templateoption">Green</option>
                        
                        </select>

                    </div>
                    <div class="templatedivflex2left">

                        <div class="coalitionimagepreview">
                            <img id="imageBackground" />
                        </div>

                        <label for="bgimage">Or a custom image</label>

                        <label class="imageinput fit center"><span class="material-icons-outlined">
                            wallpaper
                                </span>Choose Image
                                <input type="file" name="bgimage" id="imageinput" accept="image/*" onchange="imageBackground(event)">
                              </label>

                    </div>
                </div>
                <button class="templatedivbutton templatecenteredbutton" type="submit"><span class="material-icons-outlined">
                    check
                    </span>Change</button>
            </div>

        </div>
        <!--MEMBER-->
        <div class="member" id="member">

            <div class="templatedivflex2">
                <div class="templatedivflex2left">



                </div>
                <div class="templatedivflex2right">

                </div>
            </div>
            <form action="/leave/{{ colId }}" method="POST">
                <button type="submit" class="templatedivbutton loginsignupbutton redactionbutton" value="submit">Leave Coalition</button>
            </form>
        </div>

        <!-- currently disabled this because of bug, moved it elsewhere-->
        <!--END-->


    </div>
</div>
{% endblock %}