{% extends "layout.html" %} {% block title %} Countries {% endblock %} {% block body %}

<div class="templatediv">

    <div class="templatedivtopper countriestopper">
        <h1 class="templatedivtitle"><span class="material-icons-outlined iconlarge">
            person_pin_circle
            </span>Countries</h1>
        <div class="templatedivad"></div>
    </div>

    <div class="templatedivcontent">
        <form action="/countries" method="GET">
            <div class="templatedivflex2 divflex2full">

                <div class="templatedivflex2left">

                    <select name="sort" class="templateselect">
                        <option value="influence" class="templateoption">Influence</option>
                        <!-- <option class="templateoption">Military</option> -->
                        <option value="population" class="templateoption">Population</option>
                        <option value="age" class="templateoption">Age</option>
                        <!-- <option class="templateoption">GDP</option> -->
                        <!-- <option class="templateoption">War Range</option> -->
                    </select>

                </div>
                <div class="templatedivflex2right">

                    <select name="sortway" class="templateselect">
                        <option value="desc" class="templateoption">Descending</option>
                        <option value="asc" class="templateoption">Ascending</option>
                    </select>

                </div>

                <div class="templatedivflex2left">

                    <input class="loginsignupinput templateflexfullinput" autocomplete="off" name="search" placeholder="Search" />

                </div>
                <div class="templatedivflex2right">

                    <button class="center templatedivbutton smallactionbutton" type="submit"><span class="material-icons-outlined">
                        arrow_forward
                        </span>Submit</button>

                </div>

            </div>
        </form>

        <div class="templateoutertablediv">
            <table class="templatetable templatetable2">
                <tr>
                    <th>Name</th>
                    <th>Influence</th>
                    <th>Date Created</th>
                    <th>Coalition</th>
                    <th>Provinces</th>

                    {% for id, username, date, flag, province_population, colId, colName, province_count, influence, unix in countries %}
                    <tr>

                        <!--
                        {% if flag != None %}
                        {% endif %}
                        -->

                        <td><a href="/country/id={{ id }}">{{ username }}</a></td>
                        <td>{{ influence }}</td>
                        <td>{{ date }}</td>
                        {% if colName == None %}
                        <td>No coalition</td>
                        {% else %}
                        <td><a href="/coalition/{{ colId }}">{{ colName }}</a></td>
                        {% endif %}
                        <td>{{ province_count }}</td>


                    </tr>
                    {% endfor %}

            </table>
        </div>
    </div>
</div>
{% endblock%}