{% extends "layout.html" %} {% block title %} Countries {% endblock %} {% block body %}

<div class="templatediv">

    <div class="templatedivtopper">
        <h1 class="templatedivtitle">Countries</h1>
    </div>

    <div class="templatedivcontent">
        <h2 class="templatecontentheaderleft"></h2>
        <p class="templatecontentpleft"></p>

        <table class="templatetable templatetable2">
            <tr>
                <th>Name</th>
                <th>Influence</th>
                <th>Population</th>
                <th>Alliance</th>
            </tr>
            <tr>
                <td>name</td>
                <td>105,565</td>
                <td>1,850,943</td>
                <td>alliance name w/ link</td>

            </tr>
        </table>

    </div>
</div>

{% endblock%}