{% extends "layout.html"%} {% block title %} Country {% endblock %} {% block body %}

<div class="templatediv">

    <div class="templatedivtopper">
        <h1 class="templatedivtitle">{{ username }}</h1>
    </div>

    <div class="templatedivcontent">

        <div class="templatedivad"></div>

        <div class="templatedivflex2 menuflex2">
            <div class="templatedivflex2left" id="countryview" onclick="countryview()">

                <h3 class="smallheader">View</h3>

            </div>
            <div class="templatedivflex2left" id="countryrevenue" onclick="countryrevenue()">

                <h3 class="smallheader">Revenue</h3>

            </div>
            <div class="templatedivflex2left" id="countryfeed" onclick="countryfeed()">

                <h3 class="smallheader">News</h3>

            </div>
        </div>

        <!--<div class="countryimagediv">

            <img class="countryimage" src="files/images/file.svg" /> // currently turned this off because it looks broken

        </div> -->

        <h2 class="templatecontentheaderleft">Country info</h2>

        <div class="templatedivflex2">
            <div class="templatedivflex2left">


                <table class="templatetable">
                    <tr>
                        <th>General</th>
                    </tr>
                    <tr>
                        <td>Country name:</td>
                        <td>{{ username }}</td>
                    </tr>
                    <tr>
                        <td>Country ID:</td>
                        <td>{{ cId }}</td>
                    </tr>
                    <tr>
                        <td>Country location:</td>
                        <td>{{ location }}</td>
                    </tr>
                    <tr>
                        <td>Population:</td>
                        <td>{{ population }}</td>
                    </tr>
                    <tr>
                        <td>Happiness:</td>
                        <td>{{ happiness }}%</td>
                    </tr>
                </table>
                <table class="templatetable">
                    <tr>
                        <th>Affairs</th>
                    </tr>
                    <tr>
                        <td>Coalition name:</td>
                        <td>Name</td>
                    </tr>
                    <tr>
                        <td>Coalition role:</td>
                        <td>role</td>
                    </tr>
                    <tr>
                        <td>Allied:</td>
                        <td>Yes/No</td>
                    </tr>
                </table>
                <table class="templatetable">
                    <tr>
                        <th>Military</th>
                    </tr>
                    <tr>
                        <td>Military power:</td>
                        <td>power#</td>
                    </tr>
                    <tr>
                        <td>In your war range:</td>
                        <td>Yes/No</td>
                    </tr>
                </table>

            </div>
            <div class="templatedivflex2right">
            </div>
        </div>


    </div>
</div>
{% endblock %}