{% extends "layout.html" %} {% block title %} Countries {% endblock %} {% block body %}

<div class="templatediv">

    <div class="templatedivtopper">
        <h1 class="templatedivtitle">Countries</h1>
    </div>

    <div class="templatedivcontent">
        <h2 class="templatecontentheaderleft"></h2>
        <p class="templatecontentpleft"></p>

        <div class="templatedivad"></div>
        <div class="templateoutertablediv">
            <table class="templatetable templatetable2">
                <tr>
                    <th>Name</th>
                    <th>Influence</th>
                    <th>Population</th>
                    <th>Coalition</th>
                </tr>
                {% for pop, id, name, colId  in new_zipped%}
                <tr>

                    <td><a href="/country/id={{ id[0] }}">{{ name }}</a></td>
                    <td>Influence</td>
                    <td>{{ pop }}</td>
                    <td><a href="/coalition/{{ colId[0] }}">{{ colId }}</a></td>

                </tr>
                {% endfor %}
            </table>
        </div>
    </div>
</div>
{% endblock%}