{% extends "layout.html" %} {% block title %} Create Province {% endblock %} {% block body %}
<div class="templatediv">

    <div class="templatedivtopper provincestopper">
        <h1 class="templatedivtitle"><span class="material-icons-outlined iconlarge">
            account_balance
            </span>New Province</h1>
        <div class="templatedivad"></div>
    </div>

    <div class="templatedivcontent">

        <p class="templatecontentpleft landingpagecontent">
            Provinces are the foundation of your countries economy. Each province allows you to expand your land and build cities, which allows for more citizens to pay taxes, more mineral deposits to harvest, and more space to manufacture. You can learn more about
            provinces <a class="templatelink" href="/coalition_types">here</a>.
        </p>

        <div class="menudiv">

            <div class="templatedivflex2 menuflex">
                <div class="templatedivflex2left">
                    <form action="/createprovince" method="POST">
                        <div class="infodiv">
                            <ul>Your next province costs <img src="{{ url_for( 'static', filename='images/resmoney.png' ) }}" class="resource resourcesmall" />{{ price }}</ul>
                            <div class="templatedivflex2 divflex2center">
                                <div class="templatedivflex2left">

                                    <input class="loginsignupinput" autocomplete="off" name="name" placeholder="Province Name" maxlength="15" required/>

                                </div>
                                <div class="templatedivflex2left">

                                    <button type="submit" class="templatedivbutton templatecenteredbutton"><span class="material-icons-outlined">
                                add_circle_outline
                                </span>Create</button>

                                </div>
                            </div>
                        </div>
                    </form>
                </div>
                <div class="templatedivflex2left">

                    <img tabindex="0" class="unitimage" src="static/images/province.jpg" />

                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}