{% extends "layout.html" %} {% block title %} CreateProvince {% endblock %} {% block body %}
<div class="templatediv">

    <div class="templatedivtopper">
        <h1 class="templatedivtitle">New Province</h1>
    </div>

    <div class="templatedivad"></div>

    <div class="templatedivcontent">

        <p class="templatecontentpleft">information about provinces</p>

        <label for="newProvince">Your next province costs {{ x }}</label>
        <div class="templatedivflex2 divflex2center">
            <div class="templatedivflex2left">

                <input class="loginsignupinput" autocomplete="off" name="newProvince" placeholder="Province Name" required/>

            </div>
            <div class="templatedivflex2right">

                <button class="templatedivbutton templatecenteredbutton">Create</button>

            </div>
        </div>

    </div>
</div>
{% endblock %}