{% extends "layout.html" %} {% block title %} CreateProvince {% endblock %} {% block body %}
<div class="templatediv">

    <div class="templatedivtopper">
        <h1 class="templatedivtitle">New Province</h1>
    </div>

    <div class="templatedivad"></div>

    <div class="templatedivcontent">

        <p class="templatecontentpleft">information about provinces</p>

        <div class="menudiv">

            <div class="templatedivflex2 menuflex">
                <div class="templatedivflex2left">

                    <div class="templatedivflex2 divflex2center">
                        <div class="templatedivflex2left">


                            <label for="newProvince">Your next province costs {{ x }}</label>
                            <form action="/createprovince" method="POST">

                                <input class="loginsignupinput" autocomplete="off" name="name" placeholder="Province Name" required/>

                        </div>
                        <div class="templatedivflex2right">

                            <button type="submit" class="templatedivbutton templatecenteredbutton"><span class="material-icons-outlined">
                                add_circle_outline
                                </span>Create</button>

                        </div>

                        </form>
                    </div>

                </div>
                <div class="templatedivflex2left">

                    <img class="unitimage" src="static/images/province.jpg" />

                </div>
            </div>
        </div>

    </div>
</div>
{% endblock %}