{% extends "layout.html" %} {% block title %} {{ code }} {% endblock %} {% block body %}
<img class="background" id="background" src="{{ url_for('static', filename='images/error.jpg') }}" />
<div class="templatediv noboxshadowtopper loginsignupdiv">

    <div class="templatedivtopper noboxshadowtopper">
        <h1 class="templatedivtitle"><span class="material-icons-outlined iconlarge">
            highlight_off
            </span>Error</h1>
    </div>

    <div class="templatedivcontent">

        <p class="landingcontent center">{{ code }}</p>
        <br /><br />
        <p class="landingcontent center">{{ message }}</p>

        <div class="templatedivflex2 divflex2center">
            <div class="templatedivflex2left">

                <a class="templatedivbutton landingbutton templatecenteredbutton" href="#" onclick="history.go(-1)"><span class="material-icons-outlined landingicon">
                    arrow_back
                    </span>Back</a>

            </div>
            <div class="templatedivflex2right">

                {% if session.get('user_id') != None %}
                <a class="templatedivbutton landingbutton templatecenteredbutton" href="/country/id={{ session['user_id'] }}"><span class="material-icons-outlined landingicon">
            outlined_flag
            </span>Country</a> {% endif %}{% if session.get('user_id') == None %}
                <a class="templatedivbutton landingbutton templatecenteredbutton" href="/"><span class="material-icons-outlined landingicon">
                    home
                    </span>Home</a> {% endif %}

            </div>
        </div>
    </div>
</div>
{% endblock %}