{% extends "layout.html" %} {% block title %} {{ code }} {% endblock %} {% block body %}
<div class="templatediv">

    <div class="templatedivtopper">
        <h1 class="templatedivtitle"><span class="material-icons iconlarge">
            highlight_off
            </span>Error</h1>
    </div>

    <div class="templatedivcontent">
        <p class="center"><b>{{ code }}</b></p> <!-- need to make it bigger -- t0dd -->
        <p class="center">{{ message }}</p> <!-- maybe also bigger? idk -->
    </div> 
</div>
{% endblock %}