{% extends "layout.html" %} {% block title %} Establish Coalition {% endblock %} {% block body %}
<div class="templatediv">

    <div class="templatedivtopper">
        <h1 class="templatedivtitle">Establish a Coalition</h1>
        <div class="templatedivad"></div>
    </div>

    <div class="templatedivcontent">

        <div class="menuflex">
            <p class="templatecontentpleft">Coalitions allow you to work together with other players, sharing resources, helping each other in war, and receiving bonuses through projects and the chosen coalition type.
                <br /> You can learn more about types of coalitions
                <a class="templatelink" href="/coalition_types">here</a>
            </p>
        </div>

        <div class="coalitionimagepreview">
            <img id="output" />
        </div>

        <form action="/establish_coalition" method="POST">

            <div class="templatedivflex2 divflex2center">
                <div class="templatedivflex2left">

                    <input class="loginsignupinput" autocomplete="off" name="name" placeholder="Coalition Name" required/>

                </div>
                <!-- <div class="templatedivflex2right">

                    <label for="coalitionflag">Coalition Flag</label>
                    <input class="loginsignupinput" type="file" name="coalitionflag" accept="image/*" onchange="loadFile(event)" required/>

                </div> temporarily disabled flags because its a lot of work to add them-->
            </div>
            <!-- <p class="templatecontentpcenter">Flags should be in a 16:9 format.</p>-->
            <div class="templatedivflex2 menuflex">
                <div class="templatedivflex2left">

                    <div class="templatedivflex2 menuflex">
                        <div class="templatedivflex2left">

                            <!-- <select name="type" class="templateselect">
        
                                <option disabled="true" selected="selected">Coalition Type</option>
                                <option class="templateoption">Economic</option>
                                <option class="templateoption">Trade</option>
                                <option class="templateoption">War</option>
                            
                            </select>  will implement this later for now we'll have invite only/closed -->

                            <select name="type" class="templateselect">
                            <option disabled="true" selected="selected">Application Type</option>
                            <option class="templateoption">Open</option>
                            <option class="templateoption">Invite Only</option>
                            </select>

                        </div>
                        <!-- <div class="templatedivflex2left">

                            <input class="loginsignupinput" autocomplete="off" name="name" placeholder="Leader Title" required/>
                            <input class="loginsignupinput" autocomplete="off" name="name" placeholder="2nd in Command Title" required/>
                            <input class="loginsignupinput" autocomplete="off" name="name" placeholder="3rd In Command Title" required/>
                            <input class="loginsignupinput" autocomplete="off" name="name" placeholder="Member Title" required/>

                        </div> temporarily disabled leader types, will add later-->
                    </div>
                </div>
                <div class="templatedivflex2left">

                    <textarea class="templatetextarea" name="description" placeholder="Description" maxlength="240"></textarea>
                    <!-- CURRENT CHAR LIMIT: 240 - ADDED HTML FOR IT-->

                </div>
            </div>

            <button class="templatedivbutton templatecenteredbutton"><span class="material-icons-outlined">
                group_add
                </span>Establish</button>
            <p class="templatecontentpcenter">You can establish a coalition every 30 days</p>
        </form>


    </div>
</div>
{% endblock %}