{% extends "layout.html" %} {% block title %} EstablishCoalition {% endblock %} {% block body %}
<div class="templatediv">

    <div class="templatedivtopper">
        <h1 class="templatedivtitle">Establish a Coalition</h1>
    </div>

    <div class="templatedivcontent">

        <p class="templatecontentheadercenter">information about provinces and such</p>

        <div class="templatedivflex2 divflex2center">
            <div class="templatedivflex2left">

                <input class="loginsignupinput" autocomplete="off" name="username" placeholder="Province Name" required/>

            </div>
            <div class="templatedivflex2right">

                <button class="templatedivbutton templatecenteredbutton">Establish</button>

            </div>
        </div>

    </div>
</div>
{% endblock %}