{% extends "layout.html"%} {% block title %} Forgot password {% endblock %} {% block body %}
<div class="templatediv">
    <h1>Forgot password</h1>
    <p>A link will be sent to the provided email (if such account exists), upon clicking it you will be able to reset your password</p>
    <form method="POST" action="/request_password_reset">
        <input class="loginsignupinput" name="email" placeholder="Email" />
        <button class="templatedivbutton templatecenteredbutton" type="submit"><span class="material-icons-outlined">
            check
            </span>Request reset</button>
    </form>
</div>
{% endblock %}