{% extends "layout.html"%} {% block title %} Home {% endblock %} {% block body %}

<div class="templatediv landingpagediv">

    <div class="landingpagetopper noboxshadowtopper">
        <h1 class="templatedivtitle">Affairs and Order</h1>

        <div class="menudiv">
            <div class="templatedivflex2 menuflex">
                <div class="templatedivflex2left">

                    <div class="landingpageinfoleft">

                        <h1>Lead a Country!</h1>
                        <p class="templatecontentpleft">
                            In Affairs and Order you can lead a country, developing its economy, fighting in epic battles against other players, and joining a coalition with your friends to trade and conquer.
                        </p>

                    </div>

                </div>
                <div class="templatedivflex2left">

                    <div class="landingpageinforight">

                        <ul class="bold medium">Go to your country</ul>
                        {% if session.get("logged_in") != True %}
                        <a class="loginsignuplink templatedivbutton landingpagebutton" href="/login"><span class="material-icons-outlined">
                            login
                            </span>LOGIN</a>
                        <ul class="bold medium">Or create one!</ul>
                        <a class="loginsignuplink templatedivbutton landingpagebutton" href="/signup"><span class="material-icons-outlined">
                            add_circle_outline
                            </span>SIGNUP</a> {% elif session.get("logged_in") == True %}
                        <a class="loginsignuplink templatedivbutton landingpagebutton" href="/country/id={{ session['user_id'] }}"><span class="material-icons-outlined">
                            outlined_flag
                            </span>COUNTRY</a> {% endif %}


                    </div>

                </div>
            </div>
        </div>
    </div>

    <div class="templatedivcontent">

        <h2 class="templatecontentheaderleft">Fight Against real Players</h2>
        <div class="templatedivflex2 menuflex">
            <div class="templatedivflex2left">

                <!--image of user clicking declare war-->
                <img class="unitimage" src="{{ url_for('static', filename='images/farm.jpg') }}" />

            </div>
            <div class="templatedivflex2left">

                <p class="templatecontentpleft">Raid other players for profit, and defend your country in brutal warfare. Create the strongest army and work with your friends to become the strongest coalition
                    <br /><br />
                </p>

            </div>
        </div>

        <div class="templatedivflex2 menuflex whiteblue">
            <div class="templatedivflex2left">

                <h2 class="templatecontentheadercenter">Join our Community</h2>
                <p class="templatecontentpleft">Head over to our Discord server to chat with our community, and check out our Reddit and Twitter as well! You can find a coalition to join in our Discord, and you can stay up to date on changes through our Twitter.
                </p>

                <div class="templatedivflex2 divflex2center">
                    <div class="templatedivflex2left">

                        <a href="https://www.reddit.com/r/AffairsAndOrder/" target="blank" class="center redactionbutton templatedivbutton"><span class="material-icons-outlined">
                            north_east
                            </span>Reddit</a>

                    </div>
                    <div class="templatedivflex2right">

                        <a href="" target="blank" class="center templatedivbutton"><span class="material-icons-outlined">
                            north_east
                            </span>Twitter</a>

                    </div>

                    </form>
                </div>

            </div>
            <div class="templatedivflex2left">

                <iframe src="https://discordapp.com/widget?id=708006319658893385&theme=dark" class="discordlink"></iframe>

            </div>
        </div>
    </div>
</div>
{% endblock %}