{% extends "layout.html"%} {% block title %} Home {% endblock %} {% block body %}

<div class="templatediv landingpagediv">

    <div class="landingpagetopper noboxshadowtopper">
        <h1 class="templatedivtitle">Affairs and Order</h1>

        <div class="menudiv">
            <div class="templatedivflex2 menuflex">
                <div class="templatedivflex2left">

                    <div class="landingpageinfoleft">

                        <h1>Lead a Country!</h1>
                        <p class="templatecontentpleft">
                            In Affairs and Order you can lead a country, developing its economy, fighting in epic battles against other players, and joining a coalition with your friends to trade and conquer.
                        </p>

                    </div>

                </div>
                <div class="templatedivflex2left">

                    <div class="landingpageinforight">

                        <h2 class="templatecontentheadercenter">Go to your country</h2>
                        {% if session.get("logged_in") != True %}
                        <a class="loginsignuplink templatedivbutton landingpagebutton" href="/login"><span class="material-icons-outlined">
                            login
                            </span>LOGIN</a>
                        <h2 class="templatecontentheadercenter">Or create one!</h2>
                        <a class="loginsignuplink templatedivbutton landingpagebutton" href="/signup"><span class="material-icons-outlined">
                            add_circle_outline
                            </span>SIGNUP</a> {% elif session.get("logged_in") == True %}
                        <a class="loginsignuplink templatedivbutton landingpagebutton" href="/country/id={{ session['user_id'] }}"><span class="material-icons-outlined">
                            outlined_flag
                            </span>COUNTRY</a> {% endif %}


                    </div>

                </div>
            </div>
        </div>

        <div class="templatedivcontent">

            <h2 class="templatecontentheaderleft">Welcome!</h2>
            <p class="templatecontentpleft">Affairs & Order is a nation simulation game, where you can make your own nation, build a military and industry, and declare war!
                <a class="templatelink">Learn More</a>
            </p>

            <div class="templatedivflex2">
                <div class="templatedivflex2left">

                    <div>

                        graph of global population / happiness / GDP / Distribution of wealth / other</div>

                </div>
                <div class="templatedivflex2right">
                    <h2 class="templatecontentheaderleft">126,564 Active players!</h2>
                    <h2 class="templatecontentheadercenter">Join our discord</h2>
                    <iframe src="https://discordapp.com/widget?id=708006319658893385&theme=dark" class="discordlink"></iframe>
                </div>
            </div>
        </div>
    </div>
    <div class="footer">

        <div class="footerleft">

            <a href="https://discord.gg/bvSVudc">Discord</a>
            <a href="#">Forum</a>
            <a href="#">Wiki</a>
            <a href="#">Reddit</a>

        </div>
        <div class="footerright">

            <a>Copyright Claim</a>
            <a href="#">Terms of Use</a>
            <a href="#">Support</a>

        </div>
    </div>
    {% endblock %}