{% extends "layout.html"%}

{% block title %} 
    Home 
{% endblock %} 

{% block body %}

<div class="templatediv">

    <div class="templatedivtopper">
        <h1 class="templatedivtitle">Affairs and Order</h1>
    </div>

    <div class="templatedivcontent">

        <h2 class="templatecontentheaderleft">Welcome!</h2>
        <p class="templatecontentpleft">Affairs & Order is a nation simulation game, where you can make your own nation, build a military and industry, and declare war!</p>

        <div class="templatedivflex2">
            <div class="templatedivflex2left">
                <h2 class="templatecontentheadercenter">Go to your nation</h2>
                {% if session.get("logged_in") != True %}
                <a class="loginsignuplink templatedivbutton" href="/login">LOGIN</a>
                <h2 class="templatecontentheadercenter">Or create one!</h2>
                <a class="loginsignuplink templatedivbutton" href="/signup">SIGNUP</a> {% elif session.get("logged_in") == True %}
                <a class="loginsignuplink templatedivbutton" href="/country/id={{ seshId }}">COUNTRY</a> {% endif %}

                <div>

                    graph of global population / happiness / GPD / Distribution of wealth / other</div>

            </div>
            <div class="templatedivflex2right">
                <h2 class="templatecontentheaderleft">126,564 Active players!</h2>
                <h2 class="templatecontentheadercenter">Join our discord</h2>
                <iframe src="https://discordapp.com/widget?id=708006319658893385&theme=dark" class="discordlink"></iframe>
            </div>
        </div>
    </div>
</div>

<div class="footer">

    <div class="footerleft">

        Footer Left

    </div>
    <div class="footerright">

        Footer Right

    </div>
</div>
{% endblock %}