{% extends "layout.html"%} {% block title %} Intelligence {% endblock %} {% block body %}

<div class="templatediv">

    <div class="templatedivtopper wartopper">
        <h1 class="templatedivtitle"><span class="material-icons-outlined iconlarge">
                military_tech
            </span>Intelligence</h1>
        <div class="templatedivad"></div>
    </div>

    <div class="templatedivcontent">

        <!--duplicate for every country you've spied on in the last 14 days-->
        <h2 class="templatecontentheaderleft">[[ countryName ]]</h2>


        <h2 class="templatecontentheadercenter">[[ countryName ]]'s known Military</h2>

        <div class="templateoutertablediv">
            <table class="templatetable templatetable2">
                <tr>
                    <th>Army</th>
                    <th>Air Force</th>
                    <th>Navy</th>
                    <th>Special</th>
                </tr>
                <tr>
                    <td>{{ units["soldiers"] }} Soldiers</td>
                    <td>{{ units["fighters"] }} Fighter Jets</td>
                    <td>{{ units["submarines"] }} Submarines</td>
                    <td>{{ units["spies"] }} Spies</td>
                </tr>
                <tr>
                    <td>{{ units["artillery"] }} Artillery</td>
                    <td>{{ units["bombers"] }} Bombers</td>
                    <td>{{ units["cruisers"] }} Cruisers</td>
                    <td>{{ units["icbms"] }} ICBMs</td>
                </tr>
                <tr>
                    <td>{{ units["tanks"] }} Tanks</td>
                    <td>{{ units["apaches"] }} Apaches</td>
                    <td>{{ units["destroyers"] }} Destroyers</td>
                    <td>{{ units["nukes"] }} Nukes</td>
                </tr>
            </table>
        </div>

        <h2 class="templatecontentheadercenter">[[ countryName ]]'s known Resources</h2>

        <div class="templateoutertablediv">
            <table class="templatetable templatetable2">
                <tr>
                    <th>Army</th>
                    <th>Air Force</th>
                    <th>Navy</th>
                    <th>Special</th>
                </tr>
                <tr>
                    <td>{{ units["soldiers"] }} Soldiers</td>
                    <td>{{ units["fighters"] }} Fighter Jets</td>
                    <td>{{ units["submarines"] }} Submarines</td>
                    <td>{{ units["spies"] }} Spies</td>
                </tr>
                <tr>
                    <td>{{ units["artillery"] }} Artillery</td>
                    <td>{{ units["bombers"] }} Bombers</td>
                    <td>{{ units["cruisers"] }} Cruisers</td>
                    <td>{{ units["icbms"] }} ICBMs</td>
                </tr>
                <tr>
                    <td>{{ units["tanks"] }} Tanks</td>
                    <td>{{ units["apaches"] }} Apaches</td>
                    <td>{{ units["destroyers"] }} Destroyers</td>
                    <td>{{ units["nukes"] }} Nukes</td>
                </tr>
            </table>
        </div>

    </div>
</div>
{% endblock %}