{% extends "layout.html"%} {% block title %} Intelligence {% endblock %} {% block body %}

<div class="templatediv">

    <div class="templatedivtopper wartopper">
        <h1 class="templatedivtitle"><span class="material-icons-outlined iconlarge">
            person_search
            </span>Intelligence</h1>
        <div class="templatedivad"></div>
    </div>

    <div class="templatedivcontent">
        <!-- if you have up-to-date intelligence -->
        {% if all_info %}
        {% for info in all_info %}
        <h2 class="templatecontentheadercenter">{{ enemy }}'s military</h2>

        <div class="templateoutertablediv">
            <table class="templatetable templatetable2">
                <tr>
                    <th>Army</th>
                    <th>Air Force</th>
                    <th>Navy</th>
                    <th>Special</th>
                </tr>
                <tr>
                    <td>{{ info["soldiers"] }} Soldiers</td>
                    <td>{{ info["fighters"] }} Fighter Jets</td>
                    <td>{{ info["submarines"] }} Submarines</td>
                    <td>{{ info["spies"] }} Spies</td>
                </tr>
                <tr>
                    <td>{{ info["artillery"] }} Artillery</td>
                    <td>{{ info["bombers"] }} Bombers</td>
                    <td>{{ info["cruisers"] }} Cruisers</td>
                    <td>{{ info["icbms"] }} Ballistic Missiles</td>
                </tr>
                <tr>
                    <td>{{ info["tanks"] }} Tanks</td>
                    <td>{{ info["apaches"] }} Attack Helicopters</td>
                    <td>{{ info["destroyers"] }} Destroyers</td>
                    <td>{{ info["nukes"] }} Nukes</td>
                </tr>
            </table>
        </div>

        <h2 class="templatecontentheadercenter">{{ enemy }}'s Resources</h2>

        <table class="templatetable">
            <tr>
                <th><span class="material-icons-outlined">
                        article
                        </span>Resources</th>
            </tr>
            <tr>
                <td>Rations:</td>
                <td>{{ info["rations"] }}</td>
            </tr>
            <tr>
                <td>Oil:</td>
                <td>{{ info["oil"] }}</td>
            </tr>
            <tr>
                <td>Coal:</td>
                <td>{{ info["coal"] }}</td>
            </tr>
            <tr>
                <td>Uranium:</td>
                <td>{{ info["uranium"] }}</td>
            </tr>
            <tr>
                <td>Iron:</td>
                <td>{{ info["iron"] }}</td>
            </tr>
            <tr>
                <td>Lead:</td>
                <td>{{ info["lead"] }}</td>
            </tr>
            <tr>
                <td>Bauxite:</td>
                <td>{{ info["bauxite"] }}</td>
            </tr>
            <tr>
                <td>Copper:</td>
                <td>{{ info["copper"] }}</td>
            </tr>
            <tr>
                <td>Lumber:</td>
                <td>{{ info["lumber"] }}</td>
            </tr>
            <tr>
                <td>Components:</td>
                <td>{{ info["components"] }}</td>
            </tr>
            <tr>
                <td>Steel:</td>
                <td>{{ info["steel"] }}</td>
            </tr>
            <tr>
                <td>Consumer goods:</td>
                <td>{{ info["consumer_goods"] }}</td>
            </tr>
            <tr>
                <td>Aluminium:</td>
                <td>{{ info["aluminium"] }}</td>
            </tr>
            <tr>
                <td>Gasoline:</td>
                <td>{{ info["gasoline"] }}</td>
            </tr>
            <tr>
                <td>Ammunition:</td>
                <td>{{ info["ammunition"] }}</td>
            </tr>
        </table>
        {% endfor %}
        {% else %}
        <!--If you have no up-to-date intelligence-->
        <h2 class="templatecontentheadercenter">No up-to-date intelligence</h2>
        {% endif %}
    </div>
</div>
{% endblock %}