{% extends "layout.html"%} {% block title %} Intelligence {% endblock %} {% block body %}

<div class="templatediv">

    <div class="templatedivtopper wartopper">
        <h1 class="templatedivtitle"><span class="material-icons-outlined iconlarge">
            person_search
            </span>Intelligence</h1>
        <div class="templatedivad"></div>
    </div>

    <div class="templatedivcontent">
        <!-- if you have up-to-date intelligence -->
        {% if info %}
            {% for user, data in info.items() %}
            <h2 class="templatecontentheadercenter"><a href="/country/id={{ data['spyee'] }}">{{ data["username"] }}</a>'s military</h2>

            <div class="templateoutertablediv">
                <table class="templatetable templatetable2">
                    <tr>
                        <th>Army</th>
                        <th>Air Force</th>
                        <th>Navy</th>
                        <th>Special</th>
                    </tr>
                    <tr>
                        <td>{{ data["soldiers"] }} Soldiers</td>
                        <td>{{ data["fighters"] }} Fighter Jets</td>
                        <td>{{ data["submarines"] }} Submarines</td>
                        <td>{{ data["spies"] }} Spies</td>
                    </tr>
                    <tr>
                        <td>{{ data["artillery"] }} Artillery</td>
                        <td>{{ data["bombers"] }} Bombers</td>
                        <td>{{ data["cruisers"] }} Cruisers</td>
                        <td>{{ data["icbms"] }} Ballistic Missiles</td>
                    </tr>
                    <tr>
                        <td>{{ data["tanks"] }} Tanks</td>
                        <td>{{ data["apaches"] }} Attack Helicopters</td>
                        <td>{{ data["destroyers"] }} Destroyers</td>
                        <td>{{ data["nukes"] }} Nukes</td>
                    </tr>
                </table>
            </div>

            <h2 class="templatecontentheadercenter"><a href="/country/id={{ data['spyee'] }}">{{ data["username"] }}</a>'s Resources</h2>

            <table class="templatetable">
                <tr>
                    <th><span class="material-icons-outlined">
                            article
                            </span>Resources</th>
                </tr>
                <tr>
                    <td>Rations:</td>
                    <td>{{ data["rations"] }}</td>
                </tr>
                <tr>
                    <td>Oil:</td>
                    <td>{{ data["oil"] }}</td>
                </tr>
                <tr>
                    <td>Coal:</td>
                    <td>{{ data["coal"] }}</td>
                </tr>
                <tr>
                    <td>Uranium:</td>
                    <td>{{ data["uranium"] }}</td>
                </tr>
                <tr>
                    <td>Iron:</td>
                    <td>{{ data["iron"] }}</td>
                </tr>
                <tr>
                    <td>Lead:</td>
                    <td>{{ data["lead"] }}</td>
                </tr>
                <tr>
                    <td>Bauxite:</td>
                    <td>{{ data["bauxite"] }}</td>
                </tr>
                <tr>
                    <td>Copper:</td>
                    <td>{{ data["copper"] }}</td>
                </tr>
                <tr>
                    <td>Lumber:</td>
                    <td>{{ data["lumber"] }}</td>
                </tr>
                <tr>
                    <td>Components:</td>
                    <td>{{ data["components"] }}</td>
                </tr>
                <tr>
                    <td>Steel:</td>
                    <td>{{ data["steel"] }}</td>
                </tr>
                <tr>
                    <td>Consumer goods:</td>
                    <td>{{ data["consumer_goods"] }}</td>
                </tr>
                <tr>
                    <td>Aluminium:</td>
                    <td>{{ data["aluminium"] }}</td>
                </tr>
                <tr>
                    <td>Gasoline:</td>
                    <td>{{ data["gasoline"] }}</td>
                </tr>
                <tr>
                    <td>Ammunition:</td>
                    <td>{{ data["ammunition"] }}</td>
                </tr>
            </table>
            <!-- Remove this -->
            <h1>--------------------------------------------------------------------------------------------------------------------------------------------------------------------</h1>
            {% endfor %}
        {% else %}
        <!--If you have no up-to-date intelligence-->
        <h2 class="templatecontentheadercenter">No up-to-date intelligence</h2>
        {% endif %}
    </div>
</div>
{% endblock %}