<!DOCTYPE html>

<html>

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <link href="{{ url_for('static', filename='style.css') }}" rel="stylesheet" type="text/css" />
    <link href="{{ url_for('static', filename='simple-grid.css') }}" rel="stylesheet" type="text/css" />

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script src="{{ url_for('static', filename='script.js') }}"></script>
    <link rel="icon" href="{{ url_for('static', filename='images/favicon.png') }}" type="image/png">
    <title>Affairs & Order | {% block title %}{% endblock %}</title>
</head>

<body>
    <div class="navbar">

        {% if session.get("logged_in") == True %}
        <div class="menubar" onclick="menubardrop()" id="menubar">
            <div class="bar1" id="bar1"></div>
            <div class="bar2" id="bar2"></div>
            <div class="bar3" id="bar3"></div>
        </div>
        {% endif %}

        <img src="{{ url_for('static', filename='images/titleimage.png') }}" class="navbartitleimage" />
        <a class="navbartitle" href="/">Affairs and Order</a> {% if session.get("logged_in") != True %}

        <img class="resourceicon" onclick="resourcebar()" src="" />

        <a class="loginsignup" href="/login">Login</a>
        <a class="loginsignup" href="/signup">Signup</a> {% elif session.get("logged_in") == True %}
        <a class="loginsignup" href="/country/id={{ session['user_id'] }}">Country</a> {% endif %}

    </div>

    {% if session.get("logged_in") == True%}
    <div class="menubardiv" id="menubardiv">

        <a class="menubara" href="/country/id={{ session['user_id'] }}">Country</a>
        <a class="menubara" href="/market">Market</a>
        <a class="menubara" href="/military">Military</a>
        <a class="menubara" href="/coalition">Coalition</a>
        <a class="menubara" href="/world">World</a>

    </div>
    {% endif %}
    <!--
    <div class="menubardiv" id="menubardiv">

        <a class="menubara" href="/country/id={{ session['user_id'] }}">Country</a>

        <a class="menubara" href="market.html">Market</a>

        <a class="menubara" href="military.html">Military</a>

        <a class="menubara" href="index.html">Coalition</a>

        <a class="menubara" href="index.html">World</a>
    
    </div>
    -->
    {% block body %}
    
    {% endblock %}
</body>

</html>