<!DOCTYPE html>

<html>

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <link href="{{ url_for('static', filename='style.css') }}" rel="stylesheet" type="text/css" />
    <link href="{{ url_for('static', filename='simple-grid.css') }}" rel="stylesheet" type="text/css" />
    <link href="https://fonts.googleapis.com/css?family=Material+Icons|Material+Icons+Outlined|Material+Icons+Two+Tone|Material+Icons+Round|Material+Icons+Sharp" rel="stylesheet">

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script src="{{ url_for('static', filename='script.js') }}"></script>
    <link rel="icon" href="{{ url_for('static', filename='images/favicon.png') }}" type="image/png">
    <title>Affairs & Order | {% block title %}{% endblock %}</title>
</head>

<body>
    {% if session.get("logged_in") == True%}
    <div class="purchasediv">
        <div class="purchasenotif">

            <h3>You purchased 50 soldiers</h3>

        </div>
    </div>
    {% endif %}
    <div class="navbar">

        {% if session.get("logged_in") == True %}
        <div class="menubar" onclick="menubardrop()" id="menubar">
            <div class="bar1" id="bar1"></div>
            <div class="bar2" id="bar2"></div>
            <div class="bar3" id="bar3"></div>
        </div>
        {% endif %}

        <img src="{{ url_for('static', filename='images/titleimage.png') }}" class="navbartitleimage" />
        <a class="navbartitle" href="/">Affairs and Order</a>

        <!---->

        <div class="navbarloginsignupdiv">
            {% if session.get("logged_in") != True %}
            <a class="loginsignup" href="/login"><span class="material-icons-outlined">
            login
            </span>Login</a>
            <a class="loginsignup" href="/signup"><span class="material-icons-outlined">
            add_circle_outline
            </span>Signup</a> {% elif session.get("logged_in") == True %}
            <div class="dropdown">
                <button class="dropbtn">Other</button>
                <div class="dropdown-content">
                    <a class="" href="/account"><span class="material-icons-outlined">
                    perm_identity
                    </span>Account</a>
                    <a class="" href="/tutorial"><span class="material-icons-outlined">
                    school
                    </span>Tutorial</a>
                    <a class="" href="/statistics"><span class="material-icons-outlined">
                    insert_chart_outlined
                    </span>Statistics</a>
                </div>
            </div>
            <div class="dropdown">
                <button class="dropbtn">Global Affairs</button>
                <div class="dropdown-content">
                    {% if inCol.startswith("/coalition/") %}
                    <a class="" href="{{ inCol }}"><span class="material-icons-outlined">
                    group
                    </span>My Coalition</a> {% endif %} {% if not inCol.startswith("/coalition/") %}
                    <a class="" href="/establish_coalition"><span class="material-icons-outlined">
                        group_add
                        </span>Establish a Coalition</a> {% endif %}
                    <a class="" href="/coalitions"><span class="material-icons-outlined">
                    public
                    </span>Coalitions</a>
                    <a class="" href="/countries"><span class="material-icons-outlined">
                    person_search
                    </span>Countries</a>
                    <a class="" href="/businesses"><span class="material-icons-outlined">
                        business
                        </span>Businesses</a>
                </div>
            </div>
            <div class="dropdown">
                <button class="dropbtn">Internal Affairs</button>
                <div class="dropdown-content">
                    <a class="" href="/country/id={{ session['user_id'] }}"><span class="material-icons-outlined">
                        outlined_flag
                        </span>Country</a>
                    <a class="" href="/provinces"><span class="material-icons-outlined">
                        account_balance
                        </span>Provinces</a>
                    <a class="" href="/market"><span class="material-icons-outlined">
                        local_grocery_store
                        </span>Market</a>
                    <a class="" href="/war"><span class="material-icons-outlined">
                        military_tech
                        </span>War</a>
                </div>
            </div>
            {% endif %}

        </div>
    </div>

    {% if session.get("logged_in") == True%}
    <div class="menubardiv" id="menubardiv">

        <h3>Internal Affairs</h3>
        <a class="menubara" href="/country/id={{ session['user_id'] }}"><span class="material-icons-outlined">
            outlined_flag
            </span>Country</a>
        <a class="menubara" href="/provinces"><span class="material-icons-outlined">
            account_balance
            </span>Provinces</a>
        <a class="menubara" href="/market"><span class="material-icons-outlined">
            local_grocery_store
            </span>Market</a>
        <a class="menubara" href="/war"><span class="material-icons-outlined">
            military_tech
            </span>War</a>

        <h3>Global Affairs</h3>
        {% if inCol.startswith("/coalition/") %}
        <a class="menubara" href="{{ inCol }}"><span class="material-icons-outlined">
            group
            </span>My Coalition</a> {% endif %} {% if not inCol.startswith("/coalition/") %}
        <a class="menubara" href="/establish_coalition"><span class="material-icons-outlined">
                group_add
                </span>Establish a Coalition</a> {% endif %}
        <a class="menubara" href="/coalitions"><span class="material-icons-outlined">
            public
            </span>Coalitions</a>
        <a class="menubara" href="/countries"><span class="material-icons-outlined">
            person_search
            </span>Countries</a>
        <a class="menubara" href="/businesses"><span class="material-icons-outlined">
                business
                </span>Businesses</a>

        <h3>Other</h3>
        <a class="menubara" href="/account"><span class="material-icons-outlined">
                perm_identity
                </span>Account</a>
        <a class="menubara" href="/tutorial"><span class="material-icons-outlined">
                school
                </span>Tutorial</a>
        <a class="menubara" href="/statistics"><span class="material-icons-outlined">
                insert_chart_outlined
                </span>Statistics</a>

        <div class="resourcediv" id="resourcediv">
            <a> <span class="material-icons-outlined resourceicon" onclick="resourcedivcontentshow()">
        monetization_on
        </span></a>
        </div>
        <div class="resourcedivcontent" id="resourcedivcontent">

            <p onmouseover="moneyon()" onmouseout="moneyoff()" class="money">[moneyAmount]</p>
            <br />
            <p onmouseover="moneyon()" onmouseout="moneyoff()" class="rations">[rationsAmount]</p>
            <p onmouseover="moneyon()" onmouseout="moneyoff()" class="oil">[oilAmount]</p>
            <p onmouseover="moneyon()" onmouseout="moneyoff()" class="coal">[coalAmount]</p>
            <p onmouseover="moneyon()" onmouseout="moneyoff()" class="coal">[uraniumAmount]</p>
            <p onmouseover="moneyon()" onmouseout="moneyoff()" class="coal">[bauxiteAmount]</p>
            <p onmouseover="moneyon()" onmouseout="moneyoff()" class="coal">[ironAmount]</p>
            <p onmouseover="moneyon()" onmouseout="moneyoff()" class="coal">[leadAmount]</p>
            <p onmouseover="moneyon()" onmouseout="moneyoff()" class="coal">[copperAmount]</p>
            <br />
            <p onmouseover="moneyon()" onmouseout="moneyoff()" class="coal">[componentsAmount]</p>
            <p onmouseover="moneyon()" onmouseout="moneyoff()" class="coal">[steelAmount]</p>
            <p onmouseover="moneyon()" onmouseout="moneyoff()" class="coal">[consumerGoodsAmount]</p>
            <br />
            <p onmouseover="moneyon()" onmouseout="moneyoff()" class="coal">[copperPlatesAmount]</p>
            <p onmouseover="moneyon()" onmouseout="moneyoff()" class="coal">[aluminumAmount]</p>
            <p onmouseover="moneyon()" onmouseout="moneyoff()" class="coal">[gasolineAmount]</p>
            <p onmouseover="moneyon()" onmouseout="moneyoff()" class="coal">[ammunitionAmount]</p>

        </div>
    </div>
    {% endif %}
    <!-- <div class="menubardiv" id="menubardiv">

        <a class="menubara" href="/country/id={{ session['user_id'] }}">Country</a>

            <a class="menubara" href="market.html">Market</a>

            <a class="menubara" href="military.html">Military</a>

            <a class="menubara" href="index.html">Coalition</a>

            <a class="menubara" href="index.html">World</a>

        </div>
        -->{% block body %} {% endblock %}
</body>

</html>