{% extends "layout.html" %}

{% block title %}
    Login
{% endblock %}

{% block body %}
<!-- START------------------------------------------------------------------------->

    <div class="templatediv">

        <div class="templatedivtopper">
            <h1 class="templatedivtitle">Login</h1>
        </div>

        <div class="templatedivcontent">
            <a class="login loginsignupforgot" href="signup.html">Signup</a>
            <form class="loginsignupform">
                <input class="loginsignupinput" placeholder="Username / Email" />

                <input class="loginsignupinput" placeholder="Passcode" type="passcode" />

                <a class="forgotpasscode loginsignupforgot" href="forgotpasscode.html">Forgot passcode</a>

                <input class="loginsignupbutton" value="Login" type="submit" />
            </form>
        </div>
    </div>
{% endblock %}