{% extends "layout.html" %} {% block title %} Login {% endblock %} {% block body %}
<!-- START------------------------------------------------------------------------->
<style>
    .templatecontainer {
        background: rgba(255, 255, 255, 0);
    }
    
    .footer {
        display: none;
    }
</style>
<img alt="Army soldiers" class="background" id="background" src="{{ url_for('static', filename='images/4.jpg') }}" />

<div class="templatediv noboxshadowtopper loginsignupdiv">

    <div class="templatedivtopper noboxshadowtopper">
        <h1 class="templatedivtitle"><span class="material-icons-outlined iconlarge">
            login
            </span>Login</h1>
    </div>

    <div class="templatedivcontent">

        <div class="templatedivflex2 menuflex divflex2center flexwrap width100">

            <div class="templatedivflex2left">

                <form action="/discord" method="GET">
                    <div class="templatecontentheadercenter">Discord Login</div>

                    <button class="templatedivbutton discordbutton">
                    <span class="material-icons-outlined">
                        login
                        </span>Discord</button>

            </div>
            </form>

            <div class="templatedivflex2left warflexparentcolors">
                <form action="/login/" id="login-form" class="loginsignupform" method="POST">

                    <div class="templatecontentheadercenter">Default Login</div>

                    <div class="templatedivflex2 divflex2center signupdiv">
                        <div class="templatedivflex2left">

                            <input class="loginsignupinput" name="username" placeholder="Country Name" type="text" />
                            <!-- maybe accept emails later on -->

                        </div>
                        <div class="templatedivflex2left">

                            <input class="loginsignupinput" name="password" placeholder="Password" type="password" />

                        </div>
                    </div>

                    <div class="templatedivflex2 divflex2center">
                        <div class="templatedivflex2left">

                            <a class="forgotpasscode loginsignupforgot" href="/forgot_password">Forgot password</a>

                        </div>
                        <div class="templatedivflex2left">

                            <label class="templatecheckmarklabel fit">Remember Me
                        <input type="checkbox" name="rememberme">
                        <span class="templatecheckmark center"></span>
                      </label>

                        </div>
                    </div>

                    <script>
                        function onSubmit(token) {
                            document.getElementById("login-form").submit();
                        }
                    </script>

                    <div class="templatedivflex2 divflex2center signupdiv">

                        <button class="g-recaptcha templatedivbutton" data-sitekey="6LdIi_4ZAAAAAL479XXAbPpVAK1rUHmw7iTMdtIC" data-callback='onSubmit' data-action='submit'>
                            <span class="material-icons-outlined">
                                login
                                </span>Login</button>

                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
{% endblock %}