{% extends "layout.html" %} {% block title %} Login {% endblock %} {% block body %}
<!-- START------------------------------------------------------------------------->
<img class="background" id="background" />

<div class="templatediv loginsignupdiv noboxshadowtopper">

    <div class="templatedivtopper">
        <h1 class="templatedivtitle">Login</h1>
    </div>

    <div class="templatedivcontent">

        <form class="loginsignupform" action="/login" method="POST">

            <input class="loginsignupinput" name="username" placeholder="Country Name" type="text" required/>
            <!-- maybe accept emails later on -->

            <input class="loginsignupinput" name="password" placeholder="Password" type="password" required/>


            <label class="templatecheckmarklabel fit center">Remember Me
                <input type="checkbox" name="rememberme">
                <span class="templatecheckmark"></span>
              </label>

            <a class="forgotpasscode loginsignupforgot" href="/forgotpasscode">Forgot passcode</a>

            <button class="templatedivbutton loginsignupbutton" type="submit"><span class="material-icons-outlined">
                login
                </span>Login</button>
        </form>
    </div>
</div>
{% endblock %}