{% extends "layout.html" %} {% block title %} Market {% endblock %} {% block body %}

<div class="templatediv">

    <div class="templatedivtopper markettopper">
        <h1 class="templatedivtitle"><span class="material-icons-outlined iconlarge">
            local_grocery_store
            </span>Market</h1>
        <div class="templatedivad"></div>
    </div>

    <div class="templatedivcontent">

        <div class="templatedivflex2 divflex2full">
            <div class="templatedivflex2left">

                <form action="/market" method="GET">
                    <select name="filtered_resource" class="templateselect">

    <option disabled="true" selected="selected">Resource</option>
    <option value="rations" class="templateoption">Rations</option>
    <option value="oil" class="templateoption">Oil</option>
    <option value="coal" class="templateoption">Coal</option>
    <option value="uranium" class="templateoption">Uranium</option>
    <option value="bauxite" class="templateoption">Bauxite</option>
    <option value="iron" class="templateoption">Iron</option>
    <option value="lead" class="templateoption">Lead</option>
    <option value="copper" class="templateoption">Copper</option>
    <option value="lumber" class="templateoption">Lumber</option>
    <option value="components" class="templateoption">Components</option>
    <option value="steel" class="templateoption">Steel</option>
    <option value="consumer_goods" class="templateoption">Consumer Goods</option>
    <option value="aluminium" class="templateoption">Aluminium</option>
    <option value="gasoline" class="templateoption">Gasoline</option>
    <option value="ammunition" class="templateoption">Ammunition</option>

                </select>

            </div>
            <div class="templatedivflex2right">

                <select name="offer_type" class="templateselect">

                    <option disabled="true" selected="selected">Type</option>
                    <option value="sell" class="templateoption">Selling</option>
                    <option value="buy" class="templateoption">Buying</option>
                
                </select>

            </div>
            <div class="templatedivflex2left">

                <select name="price_type" class="templateselect">

                    <option disabled="true" selected="selected">Sort</option>
                    <option value="ASC" class="templateoption">Ascending</option>
                    <option value="DESC" class="templateoption">Descending</option>
                
                </select>

            </div>
            <div class="templatedivflex2right flex2rightfloatright">

                <button type="submit" class="templatedivbutton smallactionbutton"><span class="material-icons-outlined">
                    arrow_forward
                    </span>Submit</button>

            </div>
        </div>
        </form>

        <div class="templatedivflex2 divflex2center">
            <div class="templatedivflex2left">

                <a href="marketoffer" class="center templatedivbutton"><span class="material-icons-outlined">
                    payments
                    </span>Create Offer</a>

            </div>
            <div class="templatedivflex2right">

                <a href="/my_offers" class="center templatedivbutton"><span class="material-icons-outlined">
                    payments
                    </span>View My Offers</a>

            </div>
        </div>

        <div class="templateoutertablediv">
            <table class="templatetable templatetable2">
                <tr>
                    <th>Name</th>
                    <th>Type</th>
                    <th>Resource</th>
                    <th>Price</th>
                    <th>Purchase</th>
                </tr>

                {% for id, type, name, resource, amount, price, offer_id, total_price in offers %}
                <tr>
                    <td><a href="/country/id={{ id[0] }}">{{ name }}</a></td>
                    <!--Buying or Selling-->
                    {% if type == "buy" %}
                    <td>Buying</a>
                    </td>
                    {% elif type == "sell" %}
                    <td>Selling</a>
                    </td>
                    {% endif %}
                    <td>
                        {% if resource == "rations" %}
                        <img src="{{ url_for( 'static', filename='images/resrations.png' ) }}" class="resource resourcesmall" /> {% elif resource == "uranium" %}
                        <img src="{{ url_for( 'static', filename='images/resuranium.png' ) }}" class="resource resourcesmall" /> {% elif resource == "oil" %}
                        <img src="{{ url_for( 'static', filename='images/resoil.png' ) }}" class="resource resourcesmall" /> {% elif resource == "coal" %}
                        <img src="{{ url_for( 'static', filename='images/rescoal.png' ) }}" class="resource resourcesmall" /> {% elif resource == "lead" %}
                        <img src="{{ url_for( 'static', filename='images/reslead.png' ) }}" class="resource resourcesmall" /> {% elif resource == "bauxite" %}
                        <img src="{{ url_for( 'static', filename='images/resbauxite.png' ) }}" class="resource resourcesmall" /> {% endif %} <span class="hidden">{{ resource }}</span>{{ amount }}</td>

                    <td>
                        <div class="center fit">
                            <div class="left fit"><img src="{{ url_for( 'static', filename='images/resmoney.png' ) }}" class="resource resourcesmall" />${{ price }} Each<br /><img src="{{ url_for( 'static', filename='images/resmoney.png' ) }}" class="resource resourcesmall"
                                />${{ total_price }} Total</div>
                        </div>
                    </td>
                    <td>
                        <form method="POST">
                            <div class="templatedivflex2 divflex2center">
                                <div class="templatedivflex2left">
                                    <input class="loginsignupinput" autocomplete="on" name="amount_{{ offer_id }}" type="text" placeholder="{{ amount }}" required/>
                                </div>
                                <div class="templatedivflex2left">
                                    {% if type == "sell" %}
                                    <button formaction="/buy_offer/{{ offer_id }}" class="templatedivbutton templatecenteredbutton"><span class="material-icons-outlined">
                                        check
                                        </span>Buy</button> {% elif type == "buy" %}
                                    <button formaction="/sell_offer/{{ offer_id }}" class="templatedivbutton templatecenteredbutton"><span class="material-icons-outlined">
                                        check
                                        </span>Sell</button> {% endif %}
                                </div>
                            </div>
                        </form>
                    </td>
                    <!-- add button here -->
                </tr>
                {% endfor %}
            </table>
        </div>
    </div>
</div>

{% endblock%}