{% extends "layout.html" %} {% block title %} Market {% endblock %} {% block body %}

<div class="templatediv">

    <div class="templatedivtopper">
        <h1 class="templatedivtitle">Market</h1>
    </div>

    <div class="templatedivcontent">

        <div class="templatedivflex2 divflex2full">
            <div class="templatedivflex2left">

                <select class="templateselect">

    <option disabled="true" selected="selected">Filter</option>
    <option class="templateoption">Gold</option>
    <option class="templateoption">Food</option>

                </select>

            </div>
            <div class="templatedivflex2right flex2rightfloatright">

                <button class="templatedivbutton smallactionbutton">Submit</button>

            </div>
        </div>

        <div class="templatedivad"></div>

        <div class="templatedivflex2 divflex2center">
            <div class="templatedivflex2left">

                <a href="marketoffer" class="templatedivbutton templatecenteredbutton"><span class="material-icons-outlined">
                    payments
                    </span>Create Offer</a>

            </div>
            <div class="templatedivflex2right">

                <a href="myoffers" class="templatedivbutton templatecenteredbutton">View My Offers</a>

            </div>
        </div>

        <div class="templateoutertablediv">
            <table class="templatetable templatetable2">
                <tr>
                    <th>Offering Party</th>
                    <th>Type</th>
                    <th>Price</th>
                    <th>Amount</th>
                    <th>Purchase</th>
                </tr>
                <tr>
                    <td>Country Name /w link</td>
                    <td>Buying / Selling</td>
                    <td>Price:</td>
                    <td>Amount</td>
                    <td>button</td>

                </tr>
            </table>
        </div>
    </div>
</div>

{% endblock%}