{% extends "layout.html" %} {% block title %} Market {% endblock %} {% block body %}

<div class="templatediv">

    <div class="templatedivtopper">
        <h1 class="templatedivtitle">Market</h1>
    </div>

    <div class="templatedivcontent">

        <div class="templatedivflex2 divflex2full">
            <div class="templatedivflex2left">

                <select>



                </select>

            </div>
            <div class="templatedivflex2right flex2rightfloatright">

                <button class="templatedivbutton smallactionbutton">Submit</button>

            </div>
        </div>

        <div class="templatedivad"></div>

        <div class="templatedivflex2 divflex2center">
            <div class="templatedivflex2left">

                <a href="marketoffer.html" class="templatedivbutton templatecenteredbutton">Create Offer</a></h1>

            </div>
            <div class="templatedivflex2right">

                <a href="myoffers.html" class="templatedivbutton templatecenteredbutton">View My Offers</a></h1>

            </div>
        </div>

        <table class="templatetable templatetable2">
            <tr>
                <th>Price</th>
                <th>Amount</th>
                <th>Seller / Buyer</th>
                <th>Purchase</th>
            </tr>
            <tr>
                <td>Price:</td>
                <td>Amount</td>
                <td>Country Name</td>
                <td>a</td>

            </tr>
        </table>


    </div>
</div>

{% endblock%}