{% extends "layout.html" %} {% block title %} Market Offer {% endblock %} {% block body %}
<div class="templatediv">

    <div class="templatedivtopper marketoffertopper">
        <h1 class="templatedivtitle">Market Offer</h1>
        <div class="templatedivad"></div>
    </div>

    <div class="templatedivcontent">
        <p class="templatecontentpleft">This is what trading is all about.</p>

        <div class="templatedivflex2 divflex2center">
            <div class="templatedivflex2left flexchildvanilla">

                <form action="/marketoffer" method="POST">
                    <select name="resource" class="templateselect">

                    <option disabled="true" selected="selected">Choose one</option>
                    <option value="gold" class="templateoption">Gold</option>
                    <option value="bauxite" class="templateoption">Bauxite</option>
                    <option value="plutonium" class="templateoption">Plutionium</option>
                    <option value="consumer_goods" class="templateoption">Consumer Goods</option>
                    <option value="uranium" class="templateoption">Uranium</option>
                    <option value="thorium" class="templateoption">Thorium</option>
                    <option value="iron" class="templateoption">Iron</option>
                    <option value="coal"class="templateoption">Coal</option>
                    <option value="oil" class="templateoption">Oil</option>
                    <option value="lead" class="templateoption">Lead</option>
                    <option value="silicon" class="templateoption">Silicon</option>
                    <option value="copper" class="templateoption">Copper</option>
                </select>


            </div>
            <div class="templatedivflex2left">

                <input class="loginsignupinput" autocomplete="off" name="amount" placeholder="Amount" required/>

            </div>
            <div class="templatedivflex2left">

                <input class="loginsignupinput" autocomplete="off" name="price" placeholder="Price for one" required/>

            </div>
        </div>

        <div class="templatedivflex2 divflex2center">
            <div class="templatedivflex2left">

                <button class="templatedivbutton templatecenteredbutton"><span class="material-icons-outlined">
                    payments
                    </span>Buy offer</button>

            </div>

            <div class="templatedivflex2left">

                <button type="submit" value="Submit" class="templatedivbutton templatecenteredbutton"><span class="material-icons-outlined">
                    payments
                    </span>Sell Offer</button>

            </div>

        </div>
        </form>
    </div>

</div>
{% endblock %}