{% extends "layout.html" %} {% block title %} Market Offer {% endblock %} {% block body %}
<div class="templatediv">

    <div class="templatedivtopper provincestopper">
        <h1 class="templatedivtitle"><span class="material-icons-outlined iconlarge">
            payments
            </span>Mass Purchase</h1>
        <div class="templatedivad"></div>
    </div>

    <div class="templatedivcontent">

        <h3 class="templatecontentheadercenter">Sorry, this page is not currently functional</h3>
        <!--
        <p class="templatecontentpleft landingpagecontent">
            Here you can purchase infrastructure and land in every province you own. The "Add amount" option adds a certain amount of cities or land to every single province. The "Purchase up to" option makes all provinces have at least a certain amount of cities
            of land.
        </p>

        <form method="POST">
            <div class="infodiv">

                <div class="templatedivflex2 divflex2center">
                    <div class="templatedivflex2left">

                        <label>Purchase type</label>

                        <select name="resource" class="templateselect">

                    <option selected="selected">Add Amount</option>
                    <option class="templateoption">Purchase up to</option>

                            </select>

                    </div>
                </div>

                <label class="vanilla mediumsmall">Purchase Cities</label>
                <div class="templatedivflex2 divflex2center">
                    <div class="templatedivflex2left">

                        <input class="loginsignupinput" autocomplete="off" name="cityCount" placeholder="City Amount" />

                    </div>
                    <div class="templatedivflex2right">

                        <button formaction="/buy/cityCount/{{ pId }}" class="templatedivbutton templatecenteredbutton"><span
                                class="material-icons-outlined">
                                business
                            </span>Purchase</button>

                    </div>
                </div>
                <label class="vanilla mediumsmall">Purchase Land</label>
                <div class="templatedivflex2 divflex2center">
                    <div class="templatedivflex2left">

                        <input class="loginsignupinput" autocomplete="off" name="land" placeholder="Land Amount" />

                    </div>
                    <div class="templatedivflex2right">

                        <button formaction="/buy/land/{{ pId }}" class="templatedivbutton templatecenteredbutton"><span
                                class="material-icons-outlined">
                                landscape
                            </span>Purchase</button>

                    </div>
                </div>
            </div>
        </form>

        <div class="templateoutertablediv">
            <table class="templatetable templatetable2">
                <tr>
                    <th><span class="material-icons-outlined">
                            account_balance
                                </span>Name</th>
                    <th><span class="material-icons-outlined">
                            business
                                </span>Cities</th>
                    <th><span class="material-icons-outlined">
                            landscape
                                </span>Land</th>
                </tr>
                <tr>
                    <td><span class="material-icons-outlined">
                            account_balance
                            </span>[[ name ]]</td>
                    <td><span class="material-icons-outlined">
                            business
                            </span>[[ cities ]]</td>
                    <td><span class="material-icons-outlined">
                            landscape
                            </span>[[ land ]]</td>
                </tr>
            </table>
        </div>
        -->
    </div>
</div>
{% endblock %}