{% extends "layout.html"%} {% block title %} Military {% endblock %} {% block body %}

<div class="templatediv">

    <div class="templatedivtopper">
        <h1 class="templatedivtitle">Military</h1>
    </div>

    <div class="templatedivcontent">

        <div class="templatedivflex2 divflex2full">
            <div class="templatedivflex2left">

                <h3 class="smallheader">Military Power #</h3>

            </div>
            <div class="templatedivflex2right flex2rightfloatright">

                <button class="templatedivbutton smallactionbutton">Find Target</button>

            </div>
        </div>

        <div class="templatedivad"></div>

        <div class="templatedivflex2 militaryflex2">
            <div class="templatedivflex2left" id="militaryleft" onclick="militaryleft()">

                <h3 class="smallheader">Land</h3>

            </div>
            <div class="templatedivflex2left" id="militarycenter" onclick="militarycenter()">

                <h3 class="smallheader">Air</h3>

            </div>
            <div class="templatedivflex2left" id="militaryright" onclick="militaryright()">

                <h3 class="smallheader">Water</h3>

            </div>
        </div>
        <!--LAND-->
        <div class="land" id="land">

            <div class="unitdiv">

                <h2 class="templatecontentheaderleft">Soldiers</h2>

                <div class="templatedivflex2 unitflex">
                    <div class="templatedivflex2left">

                        <h3 class="unitcount">You have {{ soldiers }} Soldiers</h3>

                        <p class="templatecontentpleft">Soldiers are strong defensive units good at defending your land. They are completely ineffective against all air and water, but and very powerful against other land units (1 soldier / 50 gold)</p>

                        <form action="/buy/soldiers" method="POST">
                            <div class="purchasemilitarydiv">

                                <input class="loginsignupinput" autocomplete="off" name="soldiers" type="number" placeholder="Amount" required/>
                                

                                <div class="templatedivflex2 divflex2center">
                                    <div class="templatedivflex2left flexchildvanilla">

                                        <button class="templatedivbutton templatecenteredbutton">Buy</button>
                        </form>
                                </div>
                                <div class="templatedivflex2left flexchildvanilla">

                                    <button class="templatedivbutton templatecenteredbutton">Sell</button>

                                </div>
                            </div>
                            <ul>You can purchase X more Soldiers today
                                <br />You can sell X more Soldiers today
                            </ul>
                        </div>

                    </div>
                    <div class="templatedivflex2left">



                        <img class="unitimage" src="static/images/soldier.jpg" />
                    </div>
                </div>
            </div>
            <div class="unitdiv">

                <h2 class="templatecontentheaderleft">Tanks</h2>

                <div class="templatedivflex2 unitflex">
                    <div class="templatedivflex2left">

                        <h3 class="unitcount">You have {{ tanks }} Tanks</h3>

                        <p class="templatecontentpleft">Tanks are strong defensive units good at defending your land. They are completely ineffective against all air and water, but and very powerful against other land units (1 tank / 150 gold)</p>


                        <div class="purchasemilitarydiv">
                            <input class="loginsignupinput" autocomplete="off" name="username" type="number" placeholder="Amount" required/>

                            <div class="templatedivflex2 divflex2center">
                                <div class="templatedivflex2left flexchildvanilla">

                                    <button class="templatedivbutton templatecenteredbutton">Buy</button>

                                </div>
                                <div class="templatedivflex2left flexchildvanilla">

                                    <button class="templatedivbutton templatecenteredbutton">Sell</button>

                                </div>
                            </div>
                            <ul>You can purchase X more Tanks today
                                <br />You can sell X more Tanks today
                            </ul>
                        </div>

                    </div>
                    <div class="templatedivflex2left">



                        <img class="unitimage" src="static/images/tank.jpg" />
                    </div>
                </div>
            </div>
            <div class="unitdiv">

                <h2 class="templatecontentheaderleft">Artillery</h2>

                <div class="templatedivflex2 unitflex">
                    <div class="templatedivflex2left">

                        <h3 class="unitcount">You have X Artillery</h3>

                        <p class="templatecontentpleft">Artillery are strong defensive units good at defending your land. They are completely ineffective against all air and water, but and very powerful against other land units (1 artillery / 300 gold)</p>


                        <div class="purchasemilitarydiv">
                            <input class="loginsignupinput" autocomplete="off" name="username" type="number" placeholder="Amount" required/>

                            <div class="templatedivflex2 divflex2center">
                                <div class="templatedivflex2left flexchildvanilla">

                                    <button class="templatedivbutton templatecenteredbutton">Buy</button>

                                </div>
                                <div class="templatedivflex2left flexchildvanilla">

                                    <button class="templatedivbutton templatecenteredbutton">Sell</button>

                                </div>
                            </div>
                            <ul>You can purchase X more Artillery today
                                <br />You can sell X more Artillery today
                            </ul>
                        </div>

                    </div>
                    <div class="templatedivflex2left">



                        <img class="unitimage" src="static/images/artillery.jpg" />
                    </div>
                </div>
            </div>
        </div>

        <!--AIR-->
        <div class="air" id="air">

            <div class="unitdiv">

                <h2 class="templatecontentheaderleft">Flying Fortress</h2>

                <div class="templatedivflex2 unitflex">
                    <div class="templatedivflex2left">

                        <h3 class="unitcount">You have X Flying Fortresses</h3>

                        <p class="templatecontentpleft">Soldiers are strong defensive units good at defending your land. They are completely ineffective against all air and water, but and very powerful against other land units (1 flying fortress / 500 gold)</p>


                        <div class="purchasemilitarydiv">
                            <input class="loginsignupinput" autocomplete="off" name="username" type="number" placeholder="Amount" required/>

                            <div class="templatedivflex2 divflex2center">
                                <div class="templatedivflex2left flexchildvanilla">

                                    <button class="templatedivbutton templatecenteredbutton">Buy</button>

                                </div>
                                <div class="templatedivflex2left flexchildvanilla">

                                    <button class="templatedivbutton templatecenteredbutton">Sell</button>

                                </div>
                            </div>
                            <ul>You can purchase X more Flying Fortresses today
                                <br />You can sell X more Flying Fortresses today
                            </ul>
                        </div>

                    </div>
                    <div class="templatedivflex2left">



                        <img class="unitimage" src="static/images/flyingfortress.jpg" />
                    </div>
                </div>

            </div>
        </div>

        <!--WATER-->
        <div class="water" id="water">

            <div class="unitdiv">

                <h2 class="templatecontentheaderleft">Destroyer</h2>

                <div class="templatedivflex2 unitflex">
                    <div class="templatedivflex2left">

                        <h3 class="unitcount">You have X Destroyers</h3>

                        <p class="templatecontentpleft">Soldiers are strong defensive units good at defending your land. They are completely ineffective against all air and water, but and very powerful against other land units (1 destroyer / 500 gold)</p>


                        <div class="purchasemilitarydiv">
                            <input class="loginsignupinput" autocomplete="off" name="username" type="number" placeholder="Amount" required/>

                            <div class="templatedivflex2 divflex2center">
                                <div class="templatedivflex2left flexchildvanilla">

                                    <button class="templatedivbutton templatecenteredbutton">Buy</button>

                                </div>
                                <div class="templatedivflex2left flexchildvanilla">

                                    <button class="templatedivbutton templatecenteredbutton">Sell</button>

                                </div>
                            </div>
                            <ul>You can purchase X more Destroyers today
                                <br />You can sell X more Destroyers today
                            </ul>
                        </div>

                    </div>
                    <div class="templatedivflex2left">



                        <img class="unitimage" src="static/images/destroyer.jpg" />
                    </div>
                </div>
            </div>
        </div>
    </div>
    {% endblock %}