{% extends "layout.html"%} {% block title %} Military {% endblock %} {% block body %}

<div class="templatediv">

    <div class="templatedivtopper">
        <h1 class="templatedivtitle">Military</h1>
    </div>

    <div class="templatedivcontent">

        <div class="templatedivflex2">
            <div class="templatedivflex2left">

                sdf

            </div>
            <div class="templatedivflex2right flex2rightfloatright">

                dsasad

            </div>
        </div>

        <h2 class="templatecontentheaderleft"></h2>


    </div>
</div>
{% endblock %}