{% extends "layout.html"%} {% block title %} Military {% endblock %} {% block body %}

<div class="templatediv">

    <div class="templatedivtopper militarytopper">
        <h1 class="templatedivtitle"><span class="material-icons-outlined iconlarge">
            military_tech
            </span>Military</h1>
        <div class="templatedivad"></div>
    </div>

    <div class="templatedivcontent">

        <div class="templatedivflex2 menuflex2">
            <div class="templatedivflex2left" id="militaryland" onclick="militaryland()">

                <h3 class="smallheader">Army</h3>

            </div>
            <div class="templatedivflex2left" id="militaryair" onclick="militaryair()">

                <h3 class="smallheader">Air Force</h3>

            </div>
            <div class="templatedivflex2left" id="militarywater" onclick="militarywater()">

                <h3 class="smallheader">Navy</h3>

            </div>
            <div class="templatedivflex2left" id="militaryspecial" onclick="militaryspecial()">

                <h3 class="smallheader">Special</h3>

            </div>
        </div>
        <!--LAND-->
        <div class="land" id="land">

            <div class="menudiv">

                <h2 class="templatecontentheaderleft">Soldiers</h2>

                <div class="templatedivflex2 menuflex">
                    <div class="templatedivflex2left">

                        <h3 class="unitcount">You have {{ soldiers }} Soldiers</h3>

                        <p class="templatecontentpleft">Soldiers are strong defensive units good at defending your land. They are completely ineffective against all air and water, but and very powerful against other land units</p>

                        <ul>Soldiers cost 50 gold to recruit
                            <br/>
                        </ul>

                        <form action="/soldiers" method="POST">
                            <div class="purchasemilitarydiv">

                                <input class="loginsignupinput" autocomplete="off" name="soldiers" type="number" placeholder="Amount" required/>


                                <div class="templatedivflex2 divflex2center">
                                    <div class="templatedivflex2left flexchildvanilla">

                                        <button class="templatedivbutton templatecenteredbutton" formaction="/buy/soldiers">Buy</button>
                                    </div>
                                    <div class="templatedivflex2left flexchildvanilla">

                                        <button class="templatedivbutton templatecenteredbutton" formaction="/sell/soldiers">Sell</button>

                                    </div>
                                </div>
                                <ul>You can purchase X more Soldiers today
                                    <br />You can sell X more Soldiers today
                                </ul>
                            </div>
                    </div>
                    </form>
                    <div class="templatedivflex2left">



                        <img class="unitimage" src="static/images/soldier.jpg" />
                    </div>
                </div>
            </div>
            <div class="menudiv">

                <h2 class="templatecontentheaderleft">Artillery</h2>

                <div class="templatedivflex2 menuflex">
                    <div class="templatedivflex2left">

                        <h3 class="unitcount">You have {{ artillery }} Artillery</h3>

                        <p class="templatecontentpleft">Artillery are strong defensive units good at defending your land. They are completely ineffective against all air and water, but and very powerful against other land units (1 artillery / 300 gold)</p>

                        <form action="/artillery" method="POST">
                            <div class="purchasemilitarydiv">
                                <input class="loginsignupinput" autocomplete="off" name="artillery" type="number" placeholder="Amount" required/>

                                <div class="templatedivflex2 divflex2center">
                                    <div class="templatedivflex2left flexchildvanilla">

                                        <button class="templatedivbutton templatecenteredbutton" formaction="/buy/artillery">Buy</button>

                                    </div>
                                    <div class="templatedivflex2left flexchildvanilla">

                                        <button class="templatedivbutton templatecenteredbutton" formaction="/sell/artillery">Sell</button>

                                    </div>
                                </div>
                                <ul>You can purchase X more Artillery today
                                    <br />You can sell X more Artillery today
                                </ul>
                            </div>
                    </div>
                    </form>
                    <div class="templatedivflex2left">

                        <img class="unitimage" src="static/images/artillery.jpg" />

                    </div>
                </div>
            </div>
            <div class="menudiv">
                <h2 class="templatecontentheaderleft">Tanks</h2>

                <div class="templatedivflex2 menuflex">
                    <div class="templatedivflex2left">

                        <h3 class="unitcount">You have {{ tanks }} Tanks</h3>

                        <p class="templatecontentpleft">Tanks are strong defensive units good at defending your land. They are completely ineffective against all air and water, but and very powerful against other land units (1 tank / 150 gold)</p>

                        <form action="/tanks" method="POST">
                            <div class="purchasemilitarydiv">
                                <input class="loginsignupinput" autocomplete="off" name="tanks" type="number" placeholder="Amount" required/>

                                <div class="templatedivflex2 divflex2center">
                                    <div class="templatedivflex2left flexchildvanilla">

                                        <button class="templatedivbutton templatecenteredbutton" formaction="/buy/tanks">Buy</button>

                                    </div>
                                    <div class="templatedivflex2left flexchildvanilla">

                                        <button class="templatedivbutton templatecenteredbutton" formaction="/sell/tanks">Sell</button>

                                    </div>
                                </div>
                                <ul>You can purchase X more Tanks today
                                    <br />You can sell X more Tanks today
                                </ul>
                            </div>
                    </div>
                    </form>
                    <div class="templatedivflex2left">



                        <img class="unitimage" src="static/images/tank.jpg" />
                    </div>
                </div>
            </div>
        </div>
        <!--AIR-->
        <div class="air" id="air">

            <div class="menudiv">

                <h2 class="templatecontentheaderleft">Fighter Jets</h2>

                <div class="templatedivflex2 menuflex">
                    <div class="templatedivflex2left">

                        <h3 class="unitcount">You have {{ fighters }} Fighter Jets</h3>

                        <p class="templatecontentpleft">Soldiers are strong defensive units good at defending your land. They are completely ineffective against all air and water, but and very powerful against other land units (1 flying fortress / 500 gold)</p>


                        <form method="POST">
                            <div class="purchasemilitarydiv">
                                <input class="loginsignupinput" autocomplete="off" name="fighters" type="number" placeholder="Amount" required/>

                                <div class="templatedivflex2 divflex2center">
                                    <div class="templatedivflex2left flexchildvanilla">

                                        <button class="templatedivbutton templatecenteredbutton" formaction="/buy/fighters">Buy</button>

                                    </div>
                                    <div class="templatedivflex2left flexchildvanilla">

                                        <button class="templatedivbutton templatecenteredbutton" formaction="/sell/fighters">Sell</button>

                                    </div>
                                </div>
                                <ul>You can purchase X more Fighter Jets today
                                    <br />You can sell X more Fighter Jets today
                                </ul>
                            </div>

                    </div>
                    </form>
                    <div class="templatedivflex2left">



                        <img class="unitimage" src="static/images/fighterjet.jpg" />
                    </div>
                </div>

            </div>
            <div class="menudiv">

                <h2 class="templatecontentheaderleft">Bombers</h2>

                <div class="templatedivflex2 menuflex">
                    <div class="templatedivflex2left">

                        <h3 class="unitcount">You have {{ bombers }} Bombers</h3>

                        <p class="templatecontentpleft">Soldiers are strong defensive units good at defending your land. They are completely ineffective against all air and water, but and very powerful against other land units (1 flying fortress / 500 gold)</p>


                        <form action="/flying_fortresses" method="POST">
                            <div class="purchasemilitarydiv">
                                <input class="loginsignupinput" autocomplete="off" name="bombers" type="number" placeholder="Amount" required/>

                                <div class="templatedivflex2 divflex2center">
                                    <div class="templatedivflex2left flexchildvanilla">

                                        <button class="templatedivbutton templatecenteredbutton" formaction="/buy/bombers">Buy</button>

                                    </div>
                                    <div class="templatedivflex2left flexchildvanilla">

                                        <button class="templatedivbutton templatecenteredbutton" formaction="/sell/bombers">Sell</button>

                                    </div>
                                </div>
                                <ul>You can purchase X more Bombers today
                                    <br />You can sell X more Bombers today
                                </ul>
                            </div>

                    </div>
                    </form>
                    <div class="templatedivflex2left">



                        <img class="unitimage" src="static/images/flyingfortress.jpg" />
                    </div>
                </div>

            </div>
            <div class="menudiv">

                <h2 class="templatecontentheaderleft">Apaches</h2>

                <div class="templatedivflex2 menuflex">
                    <div class="templatedivflex2left">

                        <h3 class="unitcount">You have {{ Apaches }} Apaches</h3>

                        <p class="templatecontentpleft">Soldiers are strong defensive units good at defending your land. They are completely ineffective against all air and water, but and very powerful against other land units (1 flying fortress / 500 gold)</p>


                        <form action="/apaches" method="POST">
                            <div class="purchasemilitarydiv">
                                <input class="loginsignupinput" autocomplete="off" name="apaches" type="number" placeholder="Amount" required/>

                                <div class="templatedivflex2 divflex2center">
                                    <div class="templatedivflex2left flexchildvanilla">

                                        <button class="templatedivbutton templatecenteredbutton" formaction="/buy/apaches">Buy</button>

                                    </div>
                                    <div class="templatedivflex2left flexchildvanilla">

                                        <button class="templatedivbutton templatecenteredbutton" formaction="/sell/apaches">Sell</button>

                                    </div>
                                </div>
                                <ul>You can purchase X more Apaches today
                                    <br />You can sell X more Apaches today
                                </ul>
                            </div>

                    </div>
                    </form>
                    <div class="templatedivflex2left">



                        <img class="unitimage" src="static/images/apache.jpg" />
                    </div>
                </div>

            </div>
        </div>

        <!--WATER-->
        <div class="water" id="water">
            <div class="menudiv">

                <h2 class="templatecontentheaderleft">Submarines</h2>

                <div class="templatedivflex2 menuflex">
                    <div class="templatedivflex2left">

                        <h3 class="unitcount">You have {{ submarines }} Submarines</h3>

                        <p class="templatecontentpleft">Soldiers are strong defensive units good at defending your land. They are completely ineffective against all air and water, but and very powerful against other land units (1 destroyer / 500 gold)</p>

                        <form action="/destroyers" method="POST">
                            <div class="purchasemilitarydiv">
                                <input class="loginsignupinput" autocomplete="off" name="submarines" type="number" placeholder="Amount" required/>

                                <div class="templatedivflex2 divflex2center">
                                    <div class="templatedivflex2left flexchildvanilla">

                                        <button class="templatedivbutton templatecenteredbutton" formaction="/buy/submarines">Buy</button>

                                    </div>
                                    <div class="templatedivflex2left flexchildvanilla">

                                        <button class="templatedivbutton templatecenteredbutton" formaction="/sell/submarines">Sell</button>

                                    </div>
                                </div>
                            </div>

                            <ul>You can purchase X more Submarines today
                                <br />You can sell X more Submarines today
                            </ul>
                    </div>
                    </form>
                    <div class="templatedivflex2left">



                        <img class="unitimage" src="static/images/submarine.jpg" />
                    </div>
                </div>
            </div>
            <div class="menudiv">

                <h2 class="templatecontentheaderleft">Cruisers</h2>

                <div class="templatedivflex2 menuflex">
                    <div class="templatedivflex2left">

                        <h3 class="unitcount">You have {{ cruisers }} Cruisers</h3>

                        <p class="templatecontentpleft">Soldiers are strong defensive units good at defending your land. They are completely ineffective against all air and water, but and very powerful against other land units (1 destroyer / 500 gold)</p>

                        <form action="/destroyers" method="POST">
                            <div class="purchasemilitarydiv">
                                <input class="loginsignupinput" autocomplete="off" name="cruisers" type="number" placeholder="Amount" required/>

                                <div class="templatedivflex2 divflex2center">
                                    <div class="templatedivflex2left flexchildvanilla">

                                        <button class="templatedivbutton templatecenteredbutton" formaction="/buy/cruisers">Buy</button>

                                    </div>
                                    <div class="templatedivflex2left flexchildvanilla">

                                        <button class="templatedivbutton templatecenteredbutton" formaction="/sell/cruisers">Sell</button>

                                    </div>
                                </div>
                            </div>

                            <ul>You can purchase X more Cruisers today
                                <br />You can sell X more Cruisers today
                            </ul>
                    </div>
                    </form>
                    <div class="templatedivflex2left">



                        <img class="unitimage" src="static/images/cruiser.jpg" />
                    </div>
                </div>
            </div>
            <div class="menudiv">

                <h2 class="templatecontentheaderleft">Destroyers</h2>

                <div class="templatedivflex2 menuflex">
                    <div class="templatedivflex2left">

                        <h3 class="unitcount">You have {{ destroyers }} Destroyers</h3>

                        <p class="templatecontentpleft">Soldiers are strong defensive units good at defending your land. They are completely ineffective against all air and water, but and very powerful against other land units (1 destroyer / 500 gold)</p>

                        <form action="/destroyers" method="POST">
                            <div class="purchasemilitarydiv">
                                <input class="loginsignupinput" autocomplete="off" name="destroyers" type="number" placeholder="Amount" required/>

                                <div class="templatedivflex2 divflex2center">
                                    <div class="templatedivflex2left flexchildvanilla">

                                        <button class="templatedivbutton templatecenteredbutton" formaction="/buy/destroyers">Buy</button>

                                    </div>
                                    <div class="templatedivflex2left flexchildvanilla">

                                        <button class="templatedivbutton templatecenteredbutton" formaction="/sell/destroyers">Sell</button>

                                    </div>
                                </div>
                            </div>

                            <ul>You can purchase X more Destroyers today
                                <br />You can sell X more Destroyers today
                            </ul>
                    </div>
                    </form>
                    <div class="templatedivflex2left">



                        <img class="unitimage" src="static/images/destroyer.jpg" />
                    </div>
                </div>
            </div>
        </div>
        <!--SPECIAL-->
        <div class="special" id="special">

            <div class="menudiv">

                <h2 class="templatecontentheaderleft">Spies</h2>

                <div class="templatedivflex2 menuflex">
                    <div class="templatedivflex2left">

                        <h3 class="unitcount">You have {{ spies }} Spies</h3>

                        <p class="templatecontentpleft">(ICBMs) Inter-Coninental Ballistic Missiles as very good at damaging city morale. (1 flying fortress / 500 gold)</p>


                        <form action="/icbm" method="POST">
                            <div class="purchasemilitarydiv">
                                <input class="loginsignupinput" autocomplete="off" name="spies" type="number" placeholder="Amount" required/>

                                <div class="templatedivflex2 divflex2center">
                                    <div class="templatedivflex2left flexchildvanilla">

                                        <button class="templatedivbutton templatecenteredbutton" formaction="/buy/spies">Buy</button>

                                    </div>
                                    <div class="templatedivflex2left flexchildvanilla">

                                        <button class="templatedivbutton templatecenteredbutton" formaction="/sell/spies">Sell</button>

                                    </div>
                                </div>
                                <ul>You can purchase X more Spies today
                                    <br />You can sell X more Spies today
                                </ul>
                            </div>

                    </div>
                    </form>
                    <div class="templatedivflex2left">



                        <img class="unitimage" src="static/images/spy.jpg" />
                    </div>
                </div>
            </div>
            <div class="menudiv">

                <h2 class="templatecontentheaderleft">ICBMs</h2>

                <div class="templatedivflex2 menuflex">
                    <div class="templatedivflex2left">

                        <h3 class="unitcount">You have {{ icbms }} ICBMs</h3>

                        <p class="templatecontentpleft">(ICBMs) Inter-Coninental Ballistic Missiles as very good at damaging city morale. (1 flying fortress / 500 gold)</p>


                        <form action="/icbm" method="POST">
                            <div class="purchasemilitarydiv">
                                <input class="loginsignupinput" autocomplete="off" name="icbms" type="number" placeholder="Amount" required/>

                                <div class="templatedivflex2 divflex2center">
                                    <div class="templatedivflex2left flexchildvanilla">

                                        <button class="templatedivbutton templatecenteredbutton" formaction="/buy/icbms">Buy</button>

                                    </div>
                                    <div class="templatedivflex2left flexchildvanilla">

                                        <button class="templatedivbutton templatecenteredbutton" formaction="/sell/icbms">Sell</button>

                                    </div>
                                </div>
                                <ul>You can purchase X more ICBMs today
                                    <br />You can sell X more ICBMs today
                                </ul>
                            </div>

                    </div>
                    </form>
                    <div class="templatedivflex2left">



                        <img class="unitimage" src="static/images/icbm.jpg" />
                    </div>
                </div>
            </div>
            <div class="menudiv">

                <h2 class="templatecontentheaderleft">Nukes</h2>

                <div class="templatedivflex2 menuflex">
                    <div class="templatedivflex2left">

                        <h3 class="unitcount">You have {{ nukes }} Nukes</h3>

                        <p class="templatecontentpleft">(ICBMs) Inter-Coninental Ballistic Missiles as very good at damaging city morale. (1 flying fortress / 500 gold)</p>


                        <form action="/icbm" method="POST">
                            <div class="purchasemilitarydiv">
                                <input class="loginsignupinput" autocomplete="off" name="nukes" type="number" placeholder="Amount" required/>

                                <div class="templatedivflex2 divflex2center">
                                    <div class="templatedivflex2left flexchildvanilla">

                                        <button class="templatedivbutton templatecenteredbutton" formaction="/buy/nukes">Buy</button>

                                    </div>
                                    <div class="templatedivflex2left flexchildvanilla">

                                        <button class="templatedivbutton templatecenteredbutton" formaction="/sell/nukes">Sell</button>

                                    </div>
                                </div>
                                <ul>You can purchase X more Nukes today
                                    <br />You can sell X more Nukes today
                                </ul>
                            </div>

                    </div>
                    </form>
                    <div class="templatedivflex2left">



                        <img class="unitimage" src="static/images/nuke.jpg" />
                    </div>
                </div>
            </div>
        </div>
        <!--end-->
    </div>
</div>
{% endblock %}