{% extends "layout.html" %} {% block title %} My Offers {% endblock %} {% block body %}
<div class="templatediv">

    <div class="templatedivtopper marketoffertopper">
        <h1 class="templatedivtitle"><span class="material-icons-outlined iconlarge">
            payments
            </span>My Offers</h1>
        <div class="templatedivad"></div>
    </div>

    <div class="templatedivcontent">
        <!--if no offers-->
        {% if offers["outgoing"] | length == 0 %}
        <h2 class="templatecontentheadercenter">You have no outgoing trade offers</h2>
        {% else %}
        <!--if there are offers-->
        <h2 class="templatecontentheaderleft">Outgoing trade offers</h2>

        <div class="templateoutertablediv">
            <table class="templatetable templatetable2">
                <tr>
                    <th>Type</th>
                    <th>Resource</th>
                    <th>Price</th>
                    <th>Action</th>
                </tr>

                {% for offer_id, price, resource, amount, type, offeree in offers["outgoing"] %}
                <tr>
                    <!-- Type -->
                    {% if type == "buy" %}
                    <td>Buying from <a href="/country/id={{ offeree }}">country</a>
                    {% elif type == "sell" %}
                    <td>Selling to <a href="/country/id={{ offeree }}">country</a>
                    {% endif %}

                    <!-- Resource -->
                    <td>
                        <div class="center fit middle">

                            {% if resource == "rations" %}
                            <img src="{{ url_for( 'static', filename='images/resrations.png' ) }}" class="resource resourcesmall" /> {% elif resource == "uranium" %}
                            <img src="{{ url_for( 'static', filename='images/resuranium.png' ) }}" class="resource resourcesmall" /> {% elif resource == "oil" %}
                            <img src="{{ url_for( 'static', filename='images/resoil.png' ) }}" class="resource resourcesmall" /> {% elif resource == "coal" %}
                            <img src="{{ url_for( 'static', filename='images/rescoal.png' ) }}" class="resource resourcesmall" /> {% elif resource == "lead" %}
                            <img src="{{ url_for( 'static', filename='images/reslead.png' ) }}" class="resource resourcesmall" /> {% elif resource == "bauxite" %}
                            <img src="{{ url_for( 'static', filename='images/resbauxite.png' ) }}" class="resource resourcesmall" /> {% elif resource == "iron" %}
                            <img src="{{ url_for( 'static', filename='images/resiron.png' ) }}" class="resource resourcesmall" /> {% elif resource == "lead" %}
                            <img src="{{ url_for( 'static', filename='images/reslead.png' ) }}" class="resource resourcesmall" /> {% elif resource == "copper" %}
                            <img src="{{ url_for( 'static', filename='images/rescopper.png' ) }}" class="resource resourcesmall" /> {% elif resource == "lumber" %}
                            <img src="{{ url_for( 'static', filename='images/reslumber.png' ) }}" class="resource resourcesmall" /> {% elif resource == "components" %}
                            <img src="{{ url_for( 'static', filename='images/rescomponents.png' ) }}" class="resource resourcesmall" /> {% elif resource == "steel" %}
                            <img src="{{ url_for( 'static', filename='images/ressteel.png' ) }}" class="resource resourcesmall" /> {% elif resource == "consumer_goods" %}
                            <img src="{{ url_for( 'static', filename='images/resconsumer_goods.png' ) }}" class="resource resourcesmall" /> {% elif resource == "copper_plates" %}
                            <img src="{{ url_for( 'static', filename='images/rescopper_plates.png' ) }}" class="resource resourcesmall" /> {% elif resource == "aluminium" %}
                            <img src="{{ url_for( 'static', filename='images/resaluminium.png' ) }}" class="resource resourcesmall" /> {% elif resource == "gasoline" %}
                            <img src="{{ url_for( 'static', filename='images/resgasoline.png' ) }}" class="resource resourcesmall" /> {% elif resource == "ammunition" %}
                            <img src="{{ url_for( 'static', filename='images/resammunition.png' ) }}" class="resource resourcesmall" /> {% endif %}
                            <span class="hidden">{{ resource }}</span>{{ amount }}

                        </div>
                    </td>

                    <!-- Price -->
                    <td>
                        <div class="center fit">
                            <div class="left middle fit">

                                <img src="{{ url_for( 'static', filename='images/resmoney.png' ) }}" class="resource resourcesmall" />${{ price | commas }} Each

                            </div>
                        </div>
                        <div class="center fit">
                            <div class="left middle fit">

                                <img src="{{ url_for( 'static', filename='images/resmoney.png' ) }}" class="resource resourcesmall" /> {{ (price*amount) | commas }} Total

                            </div>
                        </div>
                    </td>
                    <!-- Delete button -->
                    <td>
                        <form method="POST">
                            <div class="templatedivflex2 divflex2center">
                                <div class="templatedivflex2left">
                                    <button formaction="/decline_trade/{{ offer_id }}" class="material-icons iconred">
                                            remove_circle_outline
                                        </button>
                                </div>
                            </div>
                        </form>
                    </td>
                </tr>
                {% endfor %}
            </table>
        </div>
        {% endif %} 
        
        {% if offers["incoming"] | length == 0 %}
        <!--if no offers-->
        <h2 class="templatecontentheadercenter">You have no incoming trade offers</h2>
        <!--if there are offers-->
        {% else %}
        <h2 class="templatecontentheaderleft">Incoming trade offers</h2>

        <div class="templateoutertablediv">
            <table class="templatetable templatetable2">
                <tr>
                    <th>Type</th>
                    <th>Resource</th>
                    <th>Price</th>
                    <th>Action</th>
                </tr>

                {% for offer_id, price, resource, amount, type, offerer_id in offers["incoming"] %}
                <tr>
                    <!-- Type -->
                    {% if type == "buy" %}
                    <td>Buying from <a href="/country/id={{ offerer_id }}">country</a>
                    </td>
                    {% elif type == "sell" %}
                    <td>Selling from <a href="/country/id={{ offerer_id }}">country</a>
                    </td> {% endif %}

                    <!-- Resource -->
                    <td>
                        <div class="center fit middle">

                            {% if resource == "rations" %}
                            <img src="{{ url_for( 'static', filename='images/resrations.png' ) }}" class="resource resourcesmall" /> {% elif resource == "uranium" %}
                            <img src="{{ url_for( 'static', filename='images/resuranium.png' ) }}" class="resource resourcesmall" /> {% elif resource == "oil" %}
                            <img src="{{ url_for( 'static', filename='images/resoil.png' ) }}" class="resource resourcesmall" /> {% elif resource == "coal" %}
                            <img src="{{ url_for( 'static', filename='images/rescoal.png' ) }}" class="resource resourcesmall" /> {% elif resource == "lead" %}
                            <img src="{{ url_for( 'static', filename='images/reslead.png' ) }}" class="resource resourcesmall" /> {% elif resource == "bauxite" %}
                            <img src="{{ url_for( 'static', filename='images/resbauxite.png' ) }}" class="resource resourcesmall" /> {% elif resource == "iron" %}
                            <img src="{{ url_for( 'static', filename='images/resiron.png' ) }}" class="resource resourcesmall" /> {% elif resource == "lead" %}
                            <img src="{{ url_for( 'static', filename='images/reslead.png' ) }}" class="resource resourcesmall" /> {% elif resource == "copper" %}
                            <img src="{{ url_for( 'static', filename='images/rescopper.png' ) }}" class="resource resourcesmall" /> {% elif resource == "lumber" %}
                            <img src="{{ url_for( 'static', filename='images/reslumber.png' ) }}" class="resource resourcesmall" /> {% elif resource == "components" %}
                            <img src="{{ url_for( 'static', filename='images/rescomponents.png' ) }}" class="resource resourcesmall" /> {% elif resource == "steel" %}
                            <img src="{{ url_for( 'static', filename='images/ressteel.png' ) }}" class="resource resourcesmall" /> {% elif resource == "consumer_goods" %}
                            <img src="{{ url_for( 'static', filename='images/resconsumer_goods.png' ) }}" class="resource resourcesmall" /> {% elif resource == "copper_plates" %}
                            <img src="{{ url_for( 'static', filename='images/rescopper_plates.png' ) }}" class="resource resourcesmall" /> {% elif resource == "aluminium" %}
                            <img src="{{ url_for( 'static', filename='images/resaluminium.png' ) }}" class="resource resourcesmall" /> {% elif resource == "gasoline" %}
                            <img src="{{ url_for( 'static', filename='images/resgasoline.png' ) }}" class="resource resourcesmall" /> {% elif resource == "ammunition" %}
                            <img src="{{ url_for( 'static', filename='images/resammunition.png' ) }}" class="resource resourcesmall" /> {% endif %}
                            <span class="hidden">{{ resource }}</span>{{ amount }}

                        </div>
                    </td>

                    <!-- Price -->
                    <td>
                        <div class="center fit">
                            <div class="left middle fit">

                                <img src="{{ url_for( 'static', filename='images/resmoney.png' ) }}" class="resource resourcesmall" />${{ price | commas }} Each

                            </div>
                        </div>
                        <div class="center fit">
                            <div class="left middle fit">

                                <img src="{{ url_for( 'static', filename='images/resmoney.png' ) }}" class="resource resourcesmall" /> {{ (price*amount) | commas }} Total

                            </div>
                        </div>
                    </td>
                    <!-- Delete button -->
                    <td>
                        <form method="POST">
                            <div class="templatedivflex2 divflex2center">
                                <div class="templatedivflex2left">
                                    <button formaction="/accept_trade/{{ offer_id }}" class="material-icons iconblue">
                                        check_circle_outline
                                    </button>
                                </div>
                                <div class="templatedivflex2left">
                                    <button formaction="/decline_trade/{{ offer_id }}" class="material-icons iconred">
                                            remove_circle_outline
                                        </button>
                                </div>
                            </div>
                        </form>
                    </td>
                </tr>
                {% endfor %}
            </table>
        </div>
        {% endif %}
    </div>
</div>
{% endblock %}