{% extends "layout.html" %} {% block title %} My Offers {% endblock %} {% block body %}
<div class="templatediv">

    <div class="templatedivtopper marketoffertopper">
        <h1 class="templatedivtitle"><span class="material-icons-outlined iconlarge">
            payments
            </span>My Offers</h1>
        <div class="templatedivad"></div>
    </div>

    <div class="templatedivcontent">
        <!--if no offers-->
        {% if outgoing_offer_amount == 0 %}
        <h2 class="templatecontentheadercenter">You have no outgoing offers</h2>
        {% elif outgoing_offer_amount > 0 %}
        <!--if there are offers-->
        <h2 class="templatecontentheaderleft">Outgoing Offers</h2>

        <div class="templateoutertablediv">
            <table class="templatetable templatetable2">
                <tr>
                    <th>Type</th>
                    <th>Resource</th>
                    <th>Price</th>
                    <th>Action</th>
                </tr>

                {% for offer_id, price, resource, amount, type, total_price in my_offers %}
                <tr>
                    <!-- Type -->
                    {% if type == "buy" %}
                    <td>Buying
                    </td>
                    {% elif type == "sell" %}
                    <td>Selling
                        {% endif %}

                        <!-- Resource -->
                        <td>
                            {% if resource == "rations" %}
                            <img src="{{ url_for( 'static', filename='images/resrations.png' ) }}" class="resource resourcesmall" />
                            {% elif resource == "uranium" %}
                            <img src="{{ url_for( 'static', filename='images/resuranium.png' ) }}" class="resource resourcesmall" />
                            {% elif resource == "oil" %}
                            <img src="{{ url_for( 'static', filename='images/resoil.png' ) }}" class="resource resourcesmall" />
                            {% elif resource == "coal" %}
                            <img src="{{ url_for( 'static', filename='images/rescoal.png' ) }}" class="resource resourcesmall" />
                            {% elif resource == "lead" %}
                            <img src="{{ url_for( 'static', filename='images/reslead.png' ) }}" class="resource resourcesmall" />
                            {% elif resource == "bauxite" %}
                            <img src="{{ url_for( 'static', filename='images/resbauxite.png' ) }}" class="resource resourcesmall" />
                            {% elif resource == "iron" %}
                            <img src="{{ url_for( 'static', filename='images/resiron.png' ) }}" class="resource resourcesmall" />
                            {% elif resource == "lead" %}
                            <img src="{{ url_for( 'static', filename='images/reslead.png' ) }}" class="resource resourcesmall" />
                            {% elif resource == "copper" %}
                            <img src="{{ url_for( 'static', filename='images/rescopper.png' ) }}" class="resource resourcesmall" />
                            {% elif resource == "lumber" %}
                            <img src="{{ url_for( 'static', filename='images/reslumber.png' ) }}" class="resource resourcesmall" />
                            {% elif resource == "components" %}
                            <img src="{{ url_for( 'static', filename='images/rescomponents.png' ) }}" class="resource resourcesmall" />
                            {% elif resource == "steel" %}
                            <img src="{{ url_for( 'static', filename='images/ressteel.png' ) }}" class="resource resourcesmall" />
                            {% elif resource == "consumer_goods" %}
                            <img src="{{ url_for( 'static', filename='images/resconsumer_goods.png' ) }}" class="resource resourcesmall" />
                            {% elif resource == "copper_plates" %}
                            <img src="{{ url_for( 'static', filename='images/rescopper_plates.png' ) }}" class="resource resourcesmall" />
                            {% elif resource == "aluminium" %}
                            <img src="{{ url_for( 'static', filename='images/resaluminium.png' ) }}" class="resource resourcesmall" />
                            {% elif resource == "gasoline" %}
                            <img src="{{ url_for( 'static', filename='images/resgasoline.png' ) }}" class="resource resourcesmall" />
                            {% elif resource == "ammunition" %}
                            <img src="{{ url_for( 'static', filename='images/resammunition.png' ) }}" class="resource resourcesmall" />
                            {% endif %}
                            <span class="hidden">{{ resource }}</span>{{ amount }}
                        </td>

                        <!-- Price -->
                            <div class="center fit">
                              <td>
                                <div class="left fit"><img src="{{ url_for( 'static', filename='images/resmoney.png' ) }}" class="resource resourcesmall" />${{ price }} Each<br /><img src="{{ url_for( 'static', filename='images/resmoney.png' ) }}" class="resource resourcesmall"
                                    />${{ total_price }} Total</div>
                              </td>
                            </div>
                        <!-- Delete button -->
                        <td>
                            <form name="delete_offer{{ offer_id }}" action="/delete_offer/{{ offer_id }}" method="POST">
                                <div class="templatedivflex2 divflex2center">
                                    <span onclick="delete_offer{{ offer_id }}.submit()" class="material-icons iconred">
                                        remove_circle_outline
                                    </span>
                                </div>
                            </form>
                        </td>
                    </tr>
                {% endfor %}
            </table>
        </div>
        {% endif %}
        {% if incoming_amount == 0 %}
        <!--if no offers-->
        <h2 class="templatecontentheadercenter">You have no incoming offers</h2>
        <!--if there are offers-->
        {% elif incoming_amount > 0 %}
        <h2 class="templatecontentheaderleft">Incoming Offers</h2>

        <div class="templateoutertablediv">
            <table class="templatetable templatetable2">
                <tr>
                    <th>User</th>
                    <th>Type</th>
                    <th>Resource</th>
                    <th>Price</th>
                    <th>Action</th>
                </tr>

                {% for offer_id, price, resource, amount, type, total_price, offerer_id, offerer_name in incoming_trades %}
                <tr>
                    <!-- Type -->
                    <td><a href="/country/id={{ offerer_id }}">{{ offerer_name }}</a></td>
                    {% if type == "buy" %}
                    <td>Buying
                    </td>
                    {% elif type == "sell" %}
                    <td>Selling
                        {% endif %}

                        <!-- Resource -->
                        <td>
                            {% if resource == "rations" %}
                            <img src="{{ url_for( 'static', filename='images/resrations.png' ) }}" class="resource resourcesmall" /> {% elif resource == "uranium" %}
                            <img src="{{ url_for( 'static', filename='images/resuranium.png' ) }}" class="resource resourcesmall" /> {% elif resource == "oil" %}
                            <img src="{{ url_for( 'static', filename='images/resoil.png' ) }}" class="resource resourcesmall" /> {% elif resource == "coal" %}
                            <img src="{{ url_for( 'static', filename='images/rescoal.png' ) }}" class="resource resourcesmall" /> {% elif resource == "lead" %}
                            <img src="{{ url_for( 'static', filename='images/reslead.png' ) }}" class="resource resourcesmall" /> {% elif resource == "bauxite" %}
                            <img src="{{ url_for( 'static', filename='images/resbauxite.png' ) }}" class="resource resourcesmall" /> {% endif %} <span class="hidden">{{ resource }}</span>{{ amount }}
                        </td>

                        <!-- Price -->
                        <td>
                            <div class="center fit">
                                <div class="left fit"><img src="{{ url_for( 'static', filename='images/resmoney.png' ) }}" class="resource resourcesmall" />${{ price }} Each<br /><img src="{{ url_for( 'static', filename='images/resmoney.png' ) }}" class="resource resourcesmall"
                                    />${{ total_price }} Total</div>
                            </div>
                        </td>
                        <!-- Delete button -->
                        <td>
                            <form method="POST">
                                <div class="templatedivflex2 divflex2center">
                                    <div class="templatedivflex2left">
                                        <button formaction="/accept_trade/{{ offer_id }}" class="templatedivbutton templatecenteredbutton"><span class="material-icons-outlined">
                                    check
                                    </span>Accept</button>
                                    </div>
                                    <div class="templatedivflex2left">
                                        <button formaction="/decline_trade/{{ offer_id }}" class="templatedivbutton templatecenteredbutton"><span class="material-icons-outlined">
                                        remove_circle_outline
                                        </span>Decline</button>
                                    </div>
                                </div>
                            </form>
                        </td>
                </tr>
                {% endfor %}
            </table>
        </div>
        {% endif %}
    </div>
</div>
{% endblock %}
