{% extends "layout.html"%} {% block title %} Wars {% endblock %} {% block body %}

<div style="margin: 5em;">
  <h1>Peace offers</h1>
  <h5>You can see the offers received and sent by you</h5>

  {% for value in peace_offers.values() %}
    <div class="peaceOffer">
      Sent by {{value["author"][1]}}
      and demands:
      {% for index in range(0, value["resource_count"]) %}
        <p>{{ value["resources"][index] }} {{ value["amounts"][index] }}</p>
      {% endfor %}
    </div>

    <form action="" method="post">

      <!-- Maybe change it to radioboxes for a better look -->
      <select name="decision">
        <option value="0">Reject offer</option>
        <option value="1">Accept offer</option>
      </select>
      <input type="submit" name="submit" value="Submit answer">
    </form>
  {% endfor %}
</div>

{% endblock %}
