{% extends "layout.html" %} {% block title %} Provinces {% endblock %} {% block body %}
<div class="templatediv">

    <div class="templatedivtopper">
        <h1 class="templatedivtitle">Provinces</h1>
    </div>

    <div class="templatedivcontent">

        <div class="templatedivad"></div>

        <a href="/createprovince" class="templatedivbutton templatecenteredbutton">Create Province</a>

        <div class="templatedivflex2">
            <div class="templatedivflex2left stickyflexmenu">

                <a class="templatedi">Hello</a>

            </div>
            <div class="templatedivflex2right">

            </div>
        </div>

    </div>
</div>
{% endblock %}