{% extends "layout.html" %} {% block title %} Provinces {% endblock %} {% block body %}
<div class="templatediv">

    <div class="templatedivtopper provincestopper">
        <h1 class="templatedivtitle">Provinces</h1>
        <div class="templatedivad"></div>
    </div>



    <div class="templatedivcontent">

        <a href="/createprovince" class="templatedivbutton templatecenteredbutton"><span class="material-icons-outlined">
            add_circle_outline
            </span>Create Province</a>
        <div class="templatedivflex2 templatesidemenuflexparent">
            <div class="stickyflexmenu">
                {% for cityCount, population, name, pId in pAll %}
                <!--make an anchor for every province the player has-->
                <a class="menubara" href="/province/{{ pId[0] }}"><span class="material-icons-outlined">
                    account_balance
                    </span>{{ name[0] }}</a> 
                {% endfor %}
            </div>

            <div class="templatefullwidthflexchild"> <!-- unsure whats wrong here, could you be more specific - t0dd -->
                {% for cityCount, population, name, pId in pAll %}
                <!--make a div for every province the player has-->
                <div class="menudiv" id="{{ provinceName }}">

                    <h2 class="templatecontentheaderleft">{{ name[0] }}</h2>

                    <div class="templatedivflex2 menuflex">
                        <div class="templatedivflex2left">

                            <a class="forgotpasscode loginsignupforgot" href="/province/{{ pId[0] }}"><span class="material-icons-outlined">
                                account_balance
                                </span>Visit Province</a>

                            <table class="templatetable">
                                <tr>
                                    <th>General</th>
                                </tr>
                                <tr>
                                    <td>City Count:</td>
                                    <td>{{ cityCount[0] }}</td>
                                </tr>
                                <tr>
                                    <td>Population:</td>
                                    <td>{{ population[0] }}</td>
                                </tr>
                                <tr>
                                    <td>Infrastructure slots:</td>
                                    <td>To be added</td>
                                </tr>
                            </table>
                        </div>
                        <div class="templatedivflex2left">

                            <img class="unitimage" src="static/images/province.jpg" />

                        </div>
                    </div>
                </div>
                {% endfor %}
            </div>
        </div>
    </div>
</div>
{% endblock %}