{% extends "layout.html" %} {% block title %} Recruitment {% endblock %} {% block body %}
<div class="templatediv">

    <div class="templatedivtopper recruitmentdivtopper">
        <h1 class="templatedivtitle"><span class="material-icons-outlined iconlarge">
            group_add
            </span>Recruitment</h1>
        <div class="templatedivad"></div>
    </div>

    <div class="templatedivcontent">

        <h3 class="templatecontentheadercenter">Sorry, this page is not currently functional</h3>

        <!--
        <div class="warflexparent templatedivflex2 menuflex">

            <h2 class="templatecontentheadercenter">[[ coalitionName ]]</h2>

            <div class="advert">
                <a href="[[ coalitionLink ]]"><img class="advertimage" src="{{ url_for('static', filename='images/bauxitemine.jpg') }}" /></a>
            </div> 
            
        </div>
        -->

    </div>
</div>
{% endblock %}