{% extends "layout.html" %} {% block title %} Recruitment {% endblock %} {% block body %}
<div class="templatediv">

    <div class="templatedivtopper">
        <h1 class="templatedivtitle"><span class="material-icons-outlined iconlarge">
            group_add
            </span>Recruitment</h1>
        <div class="templatedivad"></div>
    </div>

    <div class="templatedivcontent">

        <div class="templatedivflex2 menuflex">
            <div class="templatedivflex2left">

                <h2 class="templatecontentheadercenter">[[ coalitionName]]</h2>

                <p class="templatecontentpleft">[[ recruitmentMessage ]]</p>

            </div>
            <div class="templatedivflex2left">

                <img class="unitimage" src="{{ url_for('static', filename='images/bauxitemine.jpg') }}" />

            </div>
        </div>

    </div>
</div>
{% endblock %}