{% extends "layout.html" %} {% block title %} Recruitment {% endblock %} {% block body %}
<div class="templatediv">

    <div class="templatedivtopper recruitmentdivtopper">
        <h1 class="templatedivtitle"><span class="material-icons-outlined iconlarge">
            group_add
            </span>Recruitment</h1>
        <div class="templatedivad"></div>
    </div>

    <div class="templatedivcontent">

        <div class="templatedivflex2 divflex2full">
            <div class="templatedivflex2left">

                <select class="templateselect">

    <option selected="selected" class="templateoption">Influence</option>
    <option class="templateoption">Members</option>
    <option class="templateoption">Military</option>
    <option class="templateoption">Date Created</option>

                </select>

            </div>
            <div class="templatedivflex2right">

                <select class="templateselect">

    <option selected="selected" class="templateoption">Ascending</option>
    <option class="templateoption">Descending</option>

                </select>

            </div>
            <div class="templatedivflex2left">

                <button class="templatedivbutton smallactionbutton"><span class="material-icons-outlined">
                    arrow_forward
                    </span>Submit</button>

            </div>
        </div>

        <h2 class="templatecontentheadercenter">[[ coalitionName ]]</h2>
        <div class="advert">
            <a href="[[ coalitionLink ]]"><img class="advertimage" src="{{ url_for('static', filename='images/bauxitemine.jpg') }}" /></a>
        </div>


    </div>
</div>
{% endblock %}