{% extends "layout.html" %} 

{% block title %} 
Reset Password 
{% endblock %} 

{% block body %}
<div class="templatediv">
    <h1>Change password</h1>
    <form method="POST" action="/reset_password/{{ code }}">
        <input class="loginsignupinput" name="password" placeholder="New password" />
        <button class="templatedivbutton templatecenteredbutton" type="submit"><span class="material-icons-outlined">
            check
            </span>Change</button>
    </form>
</div>
{% endblock %}