{% extends "layout.html" %}

{% block title %}
    Signup
{% endblock %}

{% block body%}
    <div class="menubardiv" id="menubardiv">

        <a class="menubara" href="country.html">Country</a>

        <a class="menubara" href="index.html">Market</a>

        <a class="menubara" href="index.html">Coalition</a>

        <a class="menubara" href="index.html">World</a>

    </div>


    <!-- START------------------------------------------------------------------------->

    <div class="templatediv">

        <div class="templatedivtopper">
            <h1 class="templatedivtitle">Signup</h1>
        </div>

        <div class="templatedivcontent">
            <a class="login loginsignupforgot" href="login.html">Login</a>
            <form class="loginsignupform">
                <input class="loginsignupinput" placeholder="Country name" />

                <input class="loginsignupinput" placeholder="Email" />

                <input class="loginsignupinput" placeholder="Passcode" type="passcode" />

                <input class="loginsignupinput" placeholder="Confirm passcode" type="passcode" />

                <input class="loginsignupbutton" value="Signup" type="submit" />
            </form>


        </div>
    </div>
{% endblock %}