<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link type="text/css" href="/static/style.css">
    <title>Affair And Order</title>
</head>
<body style="background: linear-gradient(145deg, #00a7e1 100%, #0395bd 100%); text-align: center; padding-top: 100px">
    <iframe style="pointer-events: none; margin: auto;" src="http://free.timeanddate.com/countdown/i7c0vlrg/cf12/cm0/cu4/ct0/cs0/ca0/cr0/ss0/cac000/cpc000/pct/tcfff/fn3/fs100/szw2200/szh928/tatA%26O%20public%20release/tac000/tptTime%20since%20Event%20started%20in/tpc000/mac000/mpc000/iso2020-08-01T00:00:00" allowTransparency="true" frameborder="0" width="1177" height="433"></iframe>
</body>
</html>