{% extends "layout.html" %} {% block title %} Tutorial {% endblock %} {% block body %}
<div class="templatediv">

    <div class="templatedivtopper">
        <h1 class="templatedivtitle"><span class="material-icons-outlined iconlarge">
            school
            </span>Tutorial</h1>
        <div class="templatedivad"></div>
    </div>

    <div class="templatedivcontent">

        <h2 class="templatecontentheadercenter">1 / 14 Tasks Completed</h2>

        <div class="templatedivflex2 menuflex">
            <div class="templatedivflex2left">

                <h2 class="templatecontentheadercenter">#1 New Province</h2>
                <p class="templatecontentpleft">Head over to our Discord server to chat with our community, and check out our Reddit and Twitter as well! You can find a coalition to join in our Discord, and you can stay up to date on changes through our Twitter.
                </p>

                <div class="templatedivflex2 divflex2center">
                    <div class="templatedivflex2left">

                        <a href="/createprovince" class="templatedivbutton templatecenteredbutton"><span class="material-icons-outlined">
                                        north_east
                        </span>New Province</a>

                    </div>
                    <div class="templatedivflex2left">

                        <button class="templatelink templatecenteredbutton"><span class="material-icons-outlined">
                            arrow_forward
                        </span>Skip</button>

                    </div>
                </div>
            </div>
            <div class="templatedivflex2left">

                <img tabindex="0" class="unitimage imageborder" src="{{ url_for('static', filename='images/indexcoalition.png') }}" />

            </div>
        </div>
        <div class="templatedivflex2 menuflex">
            <div class="templatedivflex2left">

                <h2 class="templatecontentheadercenter">#2 Economy</h2>
                <p class="templatecontentpleft">Head over to our Discord server to chat with our community, and check out our Reddit and Twitter as well! You can find a coalition to join in our Discord, and you can stay up to date on changes through our Twitter.
                </p>
                <!--add first countries province here-->
                <div class="templatedivflex2 divflex2center">
                    <div class="templatedivflex2left">

                        <a href="/[[ firstProvince ]]" class="templatedivbutton templatecenteredbutton"><span class="material-icons-outlined">
                                        north_east
                        </span>[[ firstProvince ]]</a>

                    </div>
                    <div class="templatedivflex2left">

                        <button class="templatelink templatecenteredbutton"><span class="material-icons-outlined">
                            arrow_forward
                        </span>Skip</button>

                    </div>
                </div>

            </div>
            <div class="templatedivflex2left">

                <img tabindex="0" class="unitimage imageborder" src="{{ url_for('static', filename='images/indexcoalition.png') }}" />

            </div>
        </div>
        <div class="templatedivflex2 menuflex">
            <div class="templatedivflex2left">

                <h2 class="templatecontentheadercenter">#3 Military</h2>
                <p class="templatecontentpleft">Head over to our Discord server to chat with our community, and check out our Reddit and Twitter as well! You can find a coalition to join in our Discord, and you can stay up to date on changes through our Twitter.
                </p>

                <div class="templatedivflex2 divflex2center">
                    <div class="templatedivflex2left">

                        <a href="/military" class="templatedivbutton templatecenteredbutton"><span class="material-icons-outlined">
                                        north_east
                        </span>Military</a>

                    </div>
                    <div class="templatedivflex2left">

                        <button class="templatelink templatecenteredbutton"><span class="material-icons-outlined">
                            arrow_forward
                        </span>Skip</button>

                    </div>
                </div>

            </div>
            <div class="templatedivflex2left">

                <img tabindex="0" class="unitimage imageborder" src="{{ url_for('static', filename='images/indexcoalition.png') }}" />

            </div>
        </div>
        <div class="templatedivflex2 menuflex">
            <div class="templatedivflex2left">

                <h2 class="templatecontentheadercenter">#4 War!</h2>
                <p class="templatecontentpleft">Head over to our Discord server to chat with our community, and check out our Reddit and Twitter as well! You can find a coalition to join in our Discord, and you can stay up to date on changes through our Twitter.
                </p>

                <div class="templatedivflex2 divflex2center">
                    <div class="templatedivflex2left">

                        <a href="/countries" class="templatedivbutton templatecenteredbutton"><span class="material-icons-outlined">
                                        north_east
                        </span>Countries</a>

                    </div>
                    <div class="templatedivflex2left">

                        <button class="templatelink templatecenteredbutton"><span class="material-icons-outlined">
                            arrow_forward
                        </span>Skip</button>

                    </div>
                </div>

            </div>
            <div class="templatedivflex2left">

                <img tabindex="0" class="unitimage imageborder" src="{{ url_for('static', filename='images/indexcoalition.png') }}" />

            </div>
        </div>
    </div>
</div>
{% endblock %}