{% extends "layout.html"%} {% block title %} Upgrades {% endblock %} {% block body %}

<div class="templatediv">

    <div class="templatedivtopper wartopper">
        <h1 class="templatedivtitle"><span class="material-icons-outlined iconlarge">
                engineering
            </span>Upgrades</h1>
        <div class="templatedivad"></div>
    </div>

    <div class="templatedivcontent">

        <div class="templatedivflex2 menuflex2">
            <div class="templatedivflex2left" id="upgradeseconomic" onclick="upgradeseconomic()">

                <h3 class="smallheader"><span class="material-icons-outlined">
                        account_balance
                    </span>Economic
                </h3>

            </div>
            <div class="templatedivflex2left" id="upgradesmilitary" onclick="upgradesmilitary()">

                <h3 class="smallheader"><span class="material-icons-outlined">
                        military_tech
                    </span>Military
                </h3>

            </div>
        </div>
        <!--ECONOMIC-->
        <div class="economic" id="economic">
            <form method="POST">

                <div class="menudiv">

                    <h2 class="templatecontentheaderleft">Better Engineering</h2>

                    <div class="templatedivflex2 menuflex warflexparentcolors">
                        <div class="templatedivflex2left">

                            <p class="templatecontentpleft">Nuclear Reactors now power 15 infrastructure slots instead of 12
                            </p>

                            <ul>Upgrade Cost</ul>

                            {% if not upgrades['betterEngineering'] %}
                            <div class="purchasemilitarydiv">
                                <button class="templatedivbutton templatecenteredbutton" formaction="/upgrades_sb/buy/betterEngineering">
                                        <span class="material-icons-outlined">
                                            add_circle_outline
                                        </span>Buy</button>
                            </div>
                            {% endif %}

                            {% if upgrades['betterEngineering'] %}
                            <div class="purchasemilitarydiv">
                                <button class="templatedivbutton templatecenteredbutton" formaction="/upgrades_sb/sell/betterEngineering">
                                            <span class="material-icons-outlined">
                                            remove_circle_outline
                                        </span>Sell</button> 
                            </div>
                            {% endif %}

                        </div>
                        <div class="templatedivflex2left">

                            <img tabindex="0" class="unitimage" src="{{ url_for('static', filename='images/betterengineering.jpg') }}" />
                        </div>
                    </div>
                </div>
            </form>

            <div class="menudiv">

                <h2 class="templatecontentheaderleft">Cheaper Materials</h2>

                <div class="templatedivflex2 menuflex warflexparentcolors">
                    <div class="templatedivflex2left">

                        <p class="templatecontentpleft">Oil burners now cost $40,000 per hour in upkeep instead of $60,000
                        </p>

                        <ul>Upgrade Cost</ul>
                        <div class="purchasemilitarydiv">
                            {% if not upgrades["cheapermaterials"] %}
                            <button class="templatedivbutton templatecenteredbutton" formaction="/upgrades_sb/buy/cheapermaterials">
                                <span class="material-icons-outlined">
                                    add_circle_outline
                                </span>Buy</button> {% endif %} {% if upgrades["cheapermaterials"] %}
                            <button class="templatedivbutton templatecenteredbutton" formaction="/upgrades_sb/sell/cheapermaterials">
                                    <span class="material-icons-outlined">
                                    remove_circle_outline
                                </span>Sell</button> {% endif %}

                        </div>
                        </form>

                    </div>
                    <div class="templatedivflex2left">



                        <img tabindex="0" class="unitimage" src="{{ url_for('static', filename='images/cheapermaterials.jpg') }}" />
                    </div>

                </div>
            </div>


            <div class="menudiv">

                <h2 class="templatecontentheaderleft">Online Shopping</h2>

                <div class="templatedivflex2 menuflex warflexparentcolors">
                    <div class="templatedivflex2left">

                        <p class="templatecontentpleft">Malls only require $550,000 in upkeep instead of $750,000 per hour
                        </p>

                        <ul>Upgrade Cost</ul>
                        <div class="purchasemilitarydiv">
                            {% if not upgrades["onlineshopping"] %}
                            <button class="templatedivbutton templatecenteredbutton" formaction="/upgrades_sb/buy/onlineshopping">
                                    <span class="material-icons-outlined">
                                        add_circle_outline
                                    </span>Buy</button> {% endif %}
                            {% if upgrades["onlineshopping"] %}
                            <button class="templatedivbutton templatecenteredbutton" formaction="/upgrades_sb/sell/onlineshopping">
                                        <span class="material-icons-outlined">
                                        remove_circle_outline
                                    </span>Sell</button> {% endif %}

                        </div>
                        </form>

                    </div>
                    <div class="templatedivflex2left">



                        <img tabindex="0" class="unitimage" src="{{ url_for('static', filename='images/onlineshopping.jpg') }}" />
                    </div>

                </div>
            </div>



            <div class="menudiv">

                <h2 class="templatecontentheaderleft">Government Regulation</h2>

                <div class="templatedivflex2 menuflex warflexparentcolors">
                    <div class="templatedivflex2left">

                        <p class="templatecontentpleft">Retail pollution production -25%</p>

                        <ul>Upgrade Cost</ul>
                        <div class="purchasemilitarydiv">
                            {% if not upgrades["governmentregulation"] %}
                            <button class="templatedivbutton templatecenteredbutton" formaction="/upgrades_sb/buy/governmentregulation">
                                        <span class="material-icons-outlined">
                                            add_circle_outline
                                        </span>Buy</button> {% endif %} {% if upgrades["governmentregulation"] %}
                            <button class="templatedivbutton templatecenteredbutton" formaction="/upgrades_sb/sell/governmentregulation">
                                            <span class="material-icons-outlined">
                                            remove_circle_outline
                                        </span>Sell</button> {% endif %}

                        </div>

                    </div>
                    </form>
                    <div class="templatedivflex2left">



                        <img tabindex="0" class="unitimage" src="{{ url_for('static', filename='images/governmentregulation.jpg') }}" />
                    </div>
                </div>

            </div>


            <div class="menudiv">

                <h2 class="templatecontentheaderleft">National Health Institution</h2>

                <div class="templatedivflex2 menuflex warflexparentcolors">
                    <div class="templatedivflex2left">

                        <p class="templatecontentpleft">Hospitals increase population more, from 8% to 14%</p>

                        <ul>Upgrade Cost</ul>
                        <div class="purchasemilitarydiv">
                            {% if not upgrades["nationalhealthinstitution"] %}
                            <button class="templatedivbutton templatecenteredbutton" formaction="/upgrades_sb/buy/nationalhealthinstitution">
                                        <span class="material-icons-outlined">
                                            add_circle_outline
                                        </span>Buy</button> {% endif %} {% if upgrades["nationalhealthinstitution"] %}
                            <button class="templatedivbutton templatecenteredbutton" formaction="/upgrades_sb/sell/nationalhealthinstitution">
                                            <span class="material-icons-outlined">
                                            remove_circle_outline
                                        </span>Sell</button> {% endif %}

                        </div>

                    </div>
                    </form>
                    <div class="templatedivflex2left">



                        <img tabindex="0" class="unitimage" src="{{ url_for('static', filename='images/nationalhealthinstitution.jpg') }}" />
                    </div>
                </div>

            </div>


            <div class="menudiv">

                <h2 class="templatecontentheaderleft">High Speed Rail</h2>

                <div class="templatedivflex2 menuflex warflexparentcolors">
                    <div class="templatedivflex2left">

                        <p class="templatecontentpleft">Increases monorail productivity increase from 12% to 16%</p>

                        <ul>Upgrade Cost</ul>
                        <div class="purchasemilitarydiv">
                            {% if not upgrades["highspeedrail"] %}
                            <button class="templatedivbutton templatecenteredbutton" formaction="/upgrades_sb/buy/highspeedrail">
                                        <span class="material-icons-outlined">
                                            add_circle_outline
                                        </span>Buy</button> {% endif %}
                                         {% if upgrades["highspeedrail"] %}
                            <button class="templatedivbutton templatecenteredbutton" formaction="/upgrades_sb/sell/highspeedrail">
                                            <span class="material-icons-outlined">
                                            remove_circle_outline
                                        </span>Sell</button> {% endif %}

                        </div>

                    </div>
                    </form>
                    <div class="templatedivflex2left">



                        <img tabindex="0" class="unitimage" src="{{ url_for('static', filename='images/highspeedrail.jpg') }}" />
                    </div>
                </div>

            </div>


            <div class="menudiv">

                <h2 class="templatecontentheaderleft">Advanced Machinery</h2>

                <div class="templatedivflex2 menuflex warflexparentcolors">
                    <div class="templatedivflex2left">

                        <p class="templatecontentpleft">Increases farm output to 45 food per land per hour to 30 food per land per hour</p>

                        <ul>Upgrade Cost</ul>
                        <div class="purchasemilitarydiv">
                            {% if not upgrades["advancedmachinery"] %}
                            <button class="templatedivbutton templatecenteredbutton" formaction="/upgrades_sb/buy/advancedmachinery">
                                        <span class="material-icons-outlined">
                                            add_circle_outline
                                        </span>Buy</button> {% endif %} {% if upgrades["advancedmachinery"] %}
                            <button class="templatedivbutton templatecenteredbutton" formaction="/upgrades_sb/sell/advancedmachinery>
                                            <span class="material-icons-outlined">
                                            remove_circle_outline
                                        </span>Sell</button> {% endif %}

                        </div>

                    </div>
                    </form>
                    <div class="templatedivflex2left">



                        <img tabindex="0" class="unitimage" src="{{ url_for('static', filename='images/advancedmachinery.jpg') }}" />
                    </div>
                </div>

            </div>


            <div class="menudiv">

                <h2 class="templatecontentheaderleft">Stronger Explosives</h2>

                <div class="templatedivflex2 menuflex warflexparentcolors">
                    <div class="templatedivflex2left">

                        <p class="templatecontentpleft">Bauxite mines now produce 28 bauxite per hour instead of 20</p>

                        <ul>Upgrade Cost</ul>
                        <div class="purchasemilitarydiv">
                            {% if not upgrades["strongerexplosives"] %}
                            <button class="templatedivbutton templatecenteredbutton" formaction="/upgrades_sb/buy/strongerexplosives">
                                        <span class="material-icons-outlined">
                                            add_circle_outline
                                        </span>Buy</button> {% endif %} {% if upgrades["strongerexplosives"] %}
                            <button class="templatedivbutton templatecenteredbutton" formaction="/upgrades_sb/sell/strongerexplosives">
                                            <span class="material-icons-outlined">
                                            remove_circle_outline
                                        </span>Sell</button> {% endif %}

                        </div>

                    </div>
                    </form>
                    <div class="templatedivflex2left">



                        <img tabindex="0" class="unitimage" src="{{ url_for('static', filename='images/strongerexplosives.jpg') }}" />
                    </div>
                </div>

            </div>


            <div class="menudiv">

                <h2 class="templatecontentheaderleft">Widespread Propaganda</h2>

                <div class="templatedivflex2 menuflex warflexparentcolors">
                    <div class="templatedivflex2left">

                        <p class="templatecontentpleft">Soldier recruitment costs $150 instead of $200, and 1 ration instead of 2 rations</p>

                        <ul>Upgrade Cost</ul>
                        <div class="purchasemilitarydiv">
                            {% if not upgrades["widespreadpropaganda"] %}
                            <button class="templatedivbutton templatecenteredbutton" formaction="/upgrades_sb/buy/widespreadpropaganda>
                                        <span class="material-icons-outlined">
                                            add_circle_outline
                                        </span>Buy</button> {% endif %} {% if upgrades["widespreadpropaganda"] %}
                            <button class="templatedivbutton templatecenteredbutton" formaction="/upgrades_sb/sell/widespreadpropaganda">
                                            <span class="material-icons-outlined">
                                            remove_circle_outline
                                        </span>Sell</button> {% endif %}

                        </div>

                    </div>
                    </form>
                    <div class="templatedivflex2left">



                        <img tabindex="0" class="unitimage" src="{{ url_for('static', filename='images/widespreadpropaganda.jpg') }}" />
                    </div>
                </div>

            </div>


            <div class="menudiv">

                <h2 class="templatecontentheaderleft">Increased Funding</h2>

                <div class="templatedivflex2 menuflex warflexparentcolors">
                    <div class="templatedivflex2left">

                        <p class="templatecontentpleft">Administrative Buildings can now recruit x spies per day instead of x, and have a capacity of x instead of x</p>

                        <ul>Upgrade Cost</ul>
                        <div class="purchasemilitarydiv">
                            {% if not upgrades["increasedfunding"] %}
                            <button class="templatedivbutton templatecenteredbutton" formaction="/upgrades_sb/buy/increasedfunding">
                                        <span class="material-icons-outlined">
                                            add_circle_outline
                                        </span>Buy</button> {% endif %} {% if upgrades["increasedfunding"] %}
                            <button class="templatedivbutton templatecenteredbutton" formaction="/upgrades_sb/sell/increasedfunding">
                                            <span class="material-icons-outlined">
                                            remove_circle_outline
                                        </span>Sell</button> {% endif %}

                        </div>

                    </div>
                    </form>
                    <div class="templatedivflex2left">



                        <img tabindex="0" class="unitimage" src="{{ url_for('static', filename='images/increasedfunding.jpg') }}" />
                    </div>
                </div>

            </div>

            <div class="menudiv">

                <h2 class="templatecontentheaderleft">Automation integration</h2>

                <div class="templatedivflex2 menuflex warflexparentcolors">
                    <div class="templatedivflex2left">

                        <p class="templatecontentpleft">Components are made from 15 copper, 8 steel, and 12 aluminium instead of 20 copper, 10 steel, and 15 aluminium</p>

                        <ul>Upgrade Cost</ul>
                        <div class="purchasemilitarydiv">
                            {% if not upgrades["automationintegration"] %}
                            <button class="templatedivbutton templatecenteredbutton" formaction="/upgrades_sb/buy/automationintegration">
                                        <span class="material-icons-outlined">
                                            add_circle_outline
                                        </span>Buy</button> {% endif %} {% if upgrades["automationintegration"] %}
                            <button class="templatedivbutton templatecenteredbutton" formaction="/upgrades_sb/sell/automationintegration">
                                            <span class="material-icons-outlined">
                                            remove_circle_outline
                                        </span>Sell</button> {% endif %}

                        </div>

                    </div>
                    </form>
                    <div class="templatedivflex2left">



                        <img tabindex="0" class="unitimage" src="{{ url_for('static', filename='images/automationintegration.jpg') }}" />
                    </div>
                </div>

            </div>

            <div class="menudiv">

                <h2 class="templatecontentheaderleft">Larger Forges</h2>

                <div class="templatedivflex2 menuflex warflexparentcolors">
                    <div class="templatedivflex2left">

                        <p class="templatecontentpleft">Requires only 25 coal instead of 25 coal to produce steel</p>

                        <ul>Upgrade Cost</ul>
                        <div class="purchasemilitarydiv">
                            {% if not upgrades["largerforges"] %}
                            <button class="templatedivbutton templatecenteredbutton" formaction="/upgrades_sb/buy/largerforges">
                                        <span class="material-icons-outlined">
                                            add_circle_outline
                                        </span>Buy</button> {% endif %} {% if upgrades["largerforges"] %}
                            <button class="templatedivbutton templatecenteredbutton" formaction="/upgrades_sb/sell/largerforges">
                                            <span class="material-icons-outlined">
                                            remove_circle_outline
                                        </span>Sell</button> {% endif %}

                        </div>

                    </div>
                    </form>
                    <div class="templatedivflex2left">



                        <img tabindex="0" class="unitimage" src="{{ url_for('static', filename='images/largerforges.jpg') }}" />
                    </div>
                </div>

            </div>
        </div>

        <!--MILITARY-->
        <div class="military" id="military">

            <div class="menudiv">

                <h2 class="templatecontentheaderleft">Looting Teams</h2>

                <div class="templatedivflex2 menuflex warflexparentcolors">
                    <div class="templatedivflex2left">

                        <p class="templatecontentpleft">you will produce 210 supplies per hour for every war you're in, instead of 200 supplies</p>

                        <ul>Upgrade Cost</ul>
                        <div class="purchasemilitarydiv">
                            {% if not upgrades["lootingteams"] %}
                            <button class="templatedivbutton templatecenteredbutton" formaction="/upgrades_sb/buy/lootingteams">
                                        <span class="material-icons-outlined">
                                            add_circle_outline
                                        </span>Buy</button> {% endif %} {% if upgrades["lootingteams"] %}
                            <button class="templatedivbutton templatecenteredbutton" formaction="/upgrades_sb/sell/lootingteams">
                                            <span class="material-icons-outlined">
                                            remove_circle_outline
                                        </span>Sell</button> {% endif %}

                        </div>

                    </div>
                    </form>
                    <div class="templatedivflex2left">



                        <img tabindex="0" class="unitimage" src="{{ url_for('static', filename='images/lootingteams.jpg') }}" />
                    </div>
                </div>

            </div>
            <div class="menudiv">

                <h2 class="templatecontentheaderleft">Organized Supply Lines</h2>

                <div class="templatedivflex2 menuflex warflexparentcolors">
                    <div class="templatedivflex2left">

                        <p class="templatecontentpleft">Your military now gets 225 supplies per hour for every war, instead of 210</p>

                        <ul>Upgrade Cost</ul>
                        <div class="purchasemilitarydiv">
                            {% if not upgrades["organizedsupplylines"] %}
                            <button class="templatedivbutton templatecenteredbutton" formaction="/upgrades_sb/buy/organizedsupplylines">
                                        <span class="material-icons-outlined">
                                            add_circle_outline
                                        </span>Buy</button> {% endif %} {% if upgrades["organizedsupplylines"] %}
                            <button class="templatedivbutton templatecenteredbutton" formaction="/upgrades_sb/sell/organizedsupplylines">
                                            <span class="material-icons-outlined">
                                            remove_circle_outline
                                        </span>Sell</button> {% endif %}

                        </div>

                    </div>
                    </form>
                    <div class="templatedivflex2left">



                        <img tabindex="0" class="unitimage" src="{{ url_for('static', filename='images/organizedsupplylines.jpg') }}" />
                    </div>
                </div>

            </div>
            <div class="menudiv">

                <h2 class="templatecontentheaderleft">Large Storehouses</h2>

                <div class="templatedivflex2 menuflex warflexparentcolors">
                    <div class="templatedivflex2left">

                        <p class="templatecontentpleft">Allows you to now produce 260 supplies per war for every war, instead of 225</p>

                        <ul>Upgrade Cost</ul>
                        <div class="purchasemilitarydiv">
                            {% if not upgrades["largestorehouses"] %}
                            <button class="templatedivbutton templatecenteredbutton" formaction="/upgrades_sb/buy/largestorehouses">
                                        <span class="material-icons-outlined">
                                            add_circle_outline
                                        </span>Buy</button> {% endif %} {% if upgrades["largestorehouses"] %}
                            <button class="templatedivbutton templatecenteredbutton" formaction="/upgrades_sb/sell/largestorehouses">
                                            <span class="material-icons-outlined">
                                            remove_circle_outline
                                        </span>Sell</button> {% endif %}

                        </div>

                    </div>
                    </form>
                    <div class="templatedivflex2left">



                        <img tabindex="0" class="unitimage" src="{{ url_for('static', filename='images/largestorehouses.jpg') }}" />
                    </div>
                </div>

            </div>
            <div class="menudiv">

                <h2 class="templatecontentheaderleft">Ballistic Missile Silo</h2>

                <div class="templatedivflex2 menuflex warflexparentcolors">
                    <div class="templatedivflex2left">

                        <p class="templatecontentpleft">Provides the ability to develop and deploy ballistic missiles (you may only attack countries that are in your continent)</p>

                        <ul>Upgrade Cost</ul>
                        <div class="purchasemilitarydiv">
                            {% if not upgrades["ballisticmissilesilo"] %}
                            <button class="templatedivbutton templatecenteredbutton" formaction="/upgrades_sb/buy/ballisticmissilesilo">
                                        <span class="material-icons-outlined">
                                            add_circle_outline
                                        </span>Buy</button> {% endif %} {% if upgrades["ballisticmissilesilo"] %}
                            <button class="templatedivbutton templatecenteredbutton" formaction="/upgrades_sb/sell/ballisticmissilesilo">
                                            <span class="material-icons-outlined">
                                            remove_circle_outline
                                        </span>Sell</button> {% endif %}

                        </div>

                    </div>
                    </form>
                    <div class="templatedivflex2left">



                        <img tabindex="0" class="unitimage" src="{{ url_for('static', filename='images/ballisticmissilesilo.jpg') }}" />
                    </div>
                </div>

            </div>
            <div class="menudiv">

                <h2 class="templatecontentheaderleft">Inter-Continental Ballistic Missile Silo</h2>

                <div class="templatedivflex2 menuflex warflexparentcolors">
                    <div class="templatedivflex2left">

                        <p class="templatecontentpleft">Allows the deployment and production of ICBMs (they may hit any country on any continent)</p>

                        <ul>Upgrade Cost</ul>
                        <div class="purchasemilitarydiv">
                            {% if not upgrades["ICBMsilo"] %}
                            <button class="templatedivbutton templatecenteredbutton" formaction="/upgrades_sb/buy/ICBMsilo">
                                        <span class="material-icons-outlined">
                                            add_circle_outline
                                        </span>Buy</button> {% endif %} {% if upgrades["ICBMsilo"] %}
                            <button class="templatedivbutton templatecenteredbutton" formaction="/upgrades_sb/sell/ICBMsilo">
                                            <span class="material-icons-outlined">
                                            remove_circle_outline
                                        </span>Sell</button> {% endif %}

                        </div>

                    </div>
                    </form>
                    <div class="templatedivflex2left">



                        <img tabindex="0" class="unitimage" src="{{ url_for('static', filename='images/intercontinentalballisticmissilesilo.jpg') }}" />
                    </div>
                </div>

            </div>
            <div class="menudiv">

                <h2 class="templatecontentheaderleft">Nuclear Testing Facility</h2>

                <div class="templatedivflex2 menuflex warflexparentcolors">
                    <div class="templatedivflex2left">

                        <p class="templatecontentpleft">Gives you the ability to create nuclear bombs and nuclear reactors
                        </p>

                        <ul>Upgrade Cost</ul>
                        <div class="purchasemilitarydiv">
                            {% if not upgrades["nucleartestingfacility"] %}
                            <button class="templatedivbutton templatecenteredbutton" formaction="/upgrades_sb/buy/nucleartestingfacility">
                                        <span class="material-icons-outlined">
                                            add_circle_outline
                                        </span>Buy</button> {% endif %} {% if upgrades["nucleartestingfacility"] %}
                            <button class="templatedivbutton templatecenteredbutton" formaction="/upgrades_sb/sell/nucleartestingfacility">
                                            <span class="material-icons-outlined">
                                            remove_circle_outline
                                        </span>Sell</button> {% endif %}

                        </div>
                    </div>
                    </form>
                    <div class="templatedivflex2left">
                        <img tabindex="0" class="unitimage" src="{{ url_for('static', filename='images/nucleartestingfacility.jpg') }}" />
                    </div>
                </div>

            </div>
            </form>
        </div>
    </div>
</div>
{% endblock %}