{% extends "layout.html"%} {% block title %} Upgrades {% endblock %} {% block body %}

<div class="templatediv">

    <div class="templatedivtopper wartopper">
        <h1 class="templatedivtitle"><span class="material-icons-outlined iconlarge">
            engineering
            </span>Upgrades</h1>
        <div class="templatedivad"></div>
    </div>

    <div class="templatedivcontent">

        <div class="templatedivflex2 menuflex2">
            <div class="templatedivflex2left" id="upgradeseconomic" onclick="upgradeseconomic()">

                <h3 class="smallheader"><span class="material-icons-outlined">
                    account_balance
                </span>Economic
                </h3>

            </div>
            <div class="templatedivflex2left" id="upgradesmilitary" onclick="upgradesmilitary()">

                <h3 class="smallheader"><span class="material-icons-outlined">
                    military_tech
                </span>Military
                </h3>

            </div>
        </div>
        <!--ECONOMIC-->
        <div class="economic" id="economic">

            <div class="menudiv">

                <h2 class="templatecontentheaderleft">Better Engineering</h2>

                <div class="templatedivflex2 menuflex">
                    <div class="templatedivflex2left">

                        <p class="templatecontentpleft">Nuclear Reactors now power 15 infrastructure slots instead of 12</p>

                        <div class="purchasemilitarydiv">

                            <div class="templatedivflex2 divflex2center">
                                <div class="templatedivflex2left flexchildvanilla">

                                    <button disabled class="templatedivbutton templatecenteredbutton templateclosedbutton project1disabledbutton" formaction=""><span class="material-icons-outlined">
                                    add_circle_outline
                                </span>Buy</button>

                                </div>
                                <div class="templatedivflex2left flexchildvanilla">

                                    <button disabled class="templatedivbutton templatecenteredbutton templateclosedbutton project1disabledbutton" formaction=""><span class="material-icons-outlined">
                                    remove_circle_outline
                                </span>Sell</button>

                                </div>
                            </div>
                            <div class="templatedivflex2 divflex2center">
                                <div class="templatedivflex2left flexchildvanilla">

                                    <button class="templatedivbutton templatecenteredbutton" formaction=""><span class="material-icons-outlined">
                                    add_circle_outline
                                </span>Buy</button>

                                </div>
                                <div class="templatedivflex2left flexchildvanilla">

                                    <button class="templatedivbutton templatecenteredbutton" formaction=""><span class="material-icons-outlined">
                                    remove_circle_outline
                                </span>Sell</button>

                                </div>
                            </div>
                        </div>

                    </div>
                    </form>
                    <div class="templatedivflex2left">



                        <img tabindex="0" class="unitimage" src="{{ url_for('static', filename='images/hydrodam.jpg') }}" />
                    </div>
                </div>

            </div>

        </div>
        <div class="economic" id="economic">

            <div class="menudiv">

                <h2 class="templatecontentheaderleft">Cheaper Materials</h2>

                <div class="templatedivflex2 menuflex">
                    <div class="templatedivflex2left">

                        <p class="templatecontentpleft">Oil burners now cost $40,000 per hour in upkeep instead of $60,000</p>

                        <div class="purchasemilitarydiv">

                            <div class="templatedivflex2 divflex2center">
                                <div class="templatedivflex2left flexchildvanilla">

                                    <button disabled class="templatedivbutton templatecenteredbutton templateclosedbutton project1disabledbutton" formaction=""><span class="material-icons-outlined">
                                    add_circle_outline
                                </span>Buy</button>

                                </div>
                                <div class="templatedivflex2left flexchildvanilla">

                                    <button disabled class="templatedivbutton templatecenteredbutton templateclosedbutton project1disabledbutton" formaction=""><span class="material-icons-outlined">
                                    remove_circle_outline
                                </span>Sell</button>

                                </div>
                            </div>
                            <div class="templatedivflex2 divflex2center">
                                <div class="templatedivflex2left flexchildvanilla">

                                    <button class="templatedivbutton templatecenteredbutton" formaction=""><span class="material-icons-outlined">
                                    add_circle_outline
                                </span>Buy</button>

                                </div>
                                <div class="templatedivflex2left flexchildvanilla">

                                    <button class="templatedivbutton templatecenteredbutton" formaction=""><span class="material-icons-outlined">
                                    remove_circle_outline
                                </span>Sell</button>

                                </div>
                            </div>
                        </div>

                    </div>
                    </form>
                    <div class="templatedivflex2left">



                        <img tabindex="0" class="unitimage" src="{{ url_for('static', filename='images/hydrodam.jpg') }}" />
                    </div>
                </div>

            </div>

        </div>
        <div class="economic" id="economic">

            <div class="menudiv">

                <h2 class="templatecontentheaderleft">Online Shopping</h2>

                <div class="templatedivflex2 menuflex">
                    <div class="templatedivflex2left">

                        <p class="templatecontentpleft">Malls only require $550,000 in upkeep instead of $750,000 per hour</p>

                        <div class="purchasemilitarydiv">

                            <div class="templatedivflex2 divflex2center">
                                <div class="templatedivflex2left flexchildvanilla">

                                    <button disabled class="templatedivbutton templatecenteredbutton templateclosedbutton project1disabledbutton" formaction=""><span class="material-icons-outlined">
                                    add_circle_outline
                                </span>Buy</button>

                                </div>
                                <div class="templatedivflex2left flexchildvanilla">

                                    <button disabled class="templatedivbutton templatecenteredbutton templateclosedbutton project1disabledbutton" formaction=""><span class="material-icons-outlined">
                                    remove_circle_outline
                                </span>Sell</button>

                                </div>
                            </div>
                            <div class="templatedivflex2 divflex2center">
                                <div class="templatedivflex2left flexchildvanilla">

                                    <button class="templatedivbutton templatecenteredbutton" formaction=""><span class="material-icons-outlined">
                                    add_circle_outline
                                </span>Buy</button>

                                </div>
                                <div class="templatedivflex2left flexchildvanilla">

                                    <button class="templatedivbutton templatecenteredbutton" formaction=""><span class="material-icons-outlined">
                                    remove_circle_outline
                                </span>Sell</button>

                                </div>
                            </div>
                        </div>

                    </div>
                    </form>
                    <div class="templatedivflex2left">



                        <img tabindex="0" class="unitimage" src="{{ url_for('static', filename='images/hydrodam.jpg') }}" />
                    </div>
                </div>

            </div>

        </div>
        <div class="economic" id="economic">

            <div class="menudiv">

                <h2 class="templatecontentheaderleft">Government Regulation</h2>

                <div class="templatedivflex2 menuflex">
                    <div class="templatedivflex2left">

                        <p class="templatecontentpleft">Retail pollution production -25%</p>

                        <div class="purchasemilitarydiv">

                            <div class="templatedivflex2 divflex2center">
                                <div class="templatedivflex2left flexchildvanilla">

                                    <button disabled class="templatedivbutton templatecenteredbutton templateclosedbutton project1disabledbutton" formaction=""><span class="material-icons-outlined">
                                    add_circle_outline
                                </span>Buy</button>

                                </div>
                                <div class="templatedivflex2left flexchildvanilla">

                                    <button disabled class="templatedivbutton templatecenteredbutton templateclosedbutton project1disabledbutton" formaction=""><span class="material-icons-outlined">
                                    remove_circle_outline
                                </span>Sell</button>

                                </div>
                            </div>
                            <div class="templatedivflex2 divflex2center">
                                <div class="templatedivflex2left flexchildvanilla">

                                    <button class="templatedivbutton templatecenteredbutton" formaction=""><span class="material-icons-outlined">
                                    add_circle_outline
                                </span>Buy</button>

                                </div>
                                <div class="templatedivflex2left flexchildvanilla">

                                    <button class="templatedivbutton templatecenteredbutton" formaction=""><span class="material-icons-outlined">
                                    remove_circle_outline
                                </span>Sell</button>

                                </div>
                            </div>
                        </div>

                    </div>
                    </form>
                    <div class="templatedivflex2left">



                        <img tabindex="0" class="unitimage" src="{{ url_for('static', filename='images/hydrodam.jpg') }}" />
                    </div>
                </div>

            </div>

        </div>
        <div class="economic" id="economic">

            <div class="menudiv">

                <h2 class="templatecontentheaderleft">National Health Institution</h2>

                <div class="templatedivflex2 menuflex">
                    <div class="templatedivflex2left">

                        <p class="templatecontentpleft">Hospitals increase population more, from 8% to 14%</p>

                        <div class="purchasemilitarydiv">

                            <div class="templatedivflex2 divflex2center">
                                <div class="templatedivflex2left flexchildvanilla">

                                    <button disabled class="templatedivbutton templatecenteredbutton templateclosedbutton project1disabledbutton" formaction=""><span class="material-icons-outlined">
                                    add_circle_outline
                                </span>Buy</button>

                                </div>
                                <div class="templatedivflex2left flexchildvanilla">

                                    <button disabled class="templatedivbutton templatecenteredbutton templateclosedbutton project1disabledbutton" formaction=""><span class="material-icons-outlined">
                                    remove_circle_outline
                                </span>Sell</button>

                                </div>
                            </div>
                            <div class="templatedivflex2 divflex2center">
                                <div class="templatedivflex2left flexchildvanilla">

                                    <button class="templatedivbutton templatecenteredbutton" formaction=""><span class="material-icons-outlined">
                                    add_circle_outline
                                </span>Buy</button>

                                </div>
                                <div class="templatedivflex2left flexchildvanilla">

                                    <button class="templatedivbutton templatecenteredbutton" formaction=""><span class="material-icons-outlined">
                                    remove_circle_outline
                                </span>Sell</button>

                                </div>
                            </div>
                        </div>

                    </div>
                    </form>
                    <div class="templatedivflex2left">



                        <img tabindex="0" class="unitimage" src="{{ url_for('static', filename='images/hydrodam.jpg') }}" />
                    </div>
                </div>

            </div>

        </div>
        <div class="economic" id="economic">

            <div class="menudiv">

                <h2 class="templatecontentheaderleft">High Speed Rail</h2>

                <div class="templatedivflex2 menuflex">
                    <div class="templatedivflex2left">

                        <p class="templatecontentpleft">Increases monorail productivity increase from 12% to 16%</p>

                        <div class="purchasemilitarydiv">

                            <div class="templatedivflex2 divflex2center">
                                <div class="templatedivflex2left flexchildvanilla">

                                    <button disabled class="templatedivbutton templatecenteredbutton templateclosedbutton project1disabledbutton" formaction=""><span class="material-icons-outlined">
                                    add_circle_outline
                                </span>Buy</button>

                                </div>
                                <div class="templatedivflex2left flexchildvanilla">

                                    <button disabled class="templatedivbutton templatecenteredbutton templateclosedbutton project1disabledbutton" formaction=""><span class="material-icons-outlined">
                                    remove_circle_outline
                                </span>Sell</button>

                                </div>
                            </div>
                            <div class="templatedivflex2 divflex2center">
                                <div class="templatedivflex2left flexchildvanilla">

                                    <button class="templatedivbutton templatecenteredbutton" formaction=""><span class="material-icons-outlined">
                                    add_circle_outline
                                </span>Buy</button>

                                </div>
                                <div class="templatedivflex2left flexchildvanilla">

                                    <button class="templatedivbutton templatecenteredbutton" formaction=""><span class="material-icons-outlined">
                                    remove_circle_outline
                                </span>Sell</button>

                                </div>
                            </div>
                        </div>

                    </div>
                    </form>
                    <div class="templatedivflex2left">



                        <img tabindex="0" class="unitimage" src="{{ url_for('static', filename='images/hydrodam.jpg') }}" />
                    </div>
                </div>

            </div>

        </div>
        <div class="economic" id="economic">

            <div class="menudiv">

                <h2 class="templatecontentheaderleft">Advanced Machinery</h2>

                <div class="templatedivflex2 menuflex">
                    <div class="templatedivflex2left">

                        <p class="templatecontentpleft">Increases farm output to 45 food per land per hour to 30 food per land per hour</p>

                        <div class="purchasemilitarydiv">

                            <div class="templatedivflex2 divflex2center">
                                <div class="templatedivflex2left flexchildvanilla">

                                    <button disabled class="templatedivbutton templatecenteredbutton templateclosedbutton project1disabledbutton" formaction=""><span class="material-icons-outlined">
                                    add_circle_outline
                                </span>Buy</button>

                                </div>
                                <div class="templatedivflex2left flexchildvanilla">

                                    <button disabled class="templatedivbutton templatecenteredbutton templateclosedbutton project1disabledbutton" formaction=""><span class="material-icons-outlined">
                                    remove_circle_outline
                                </span>Sell</button>

                                </div>
                            </div>
                            <div class="templatedivflex2 divflex2center">
                                <div class="templatedivflex2left flexchildvanilla">

                                    <button class="templatedivbutton templatecenteredbutton" formaction=""><span class="material-icons-outlined">
                                    add_circle_outline
                                </span>Buy</button>

                                </div>
                                <div class="templatedivflex2left flexchildvanilla">

                                    <button class="templatedivbutton templatecenteredbutton" formaction=""><span class="material-icons-outlined">
                                    remove_circle_outline
                                </span>Sell</button>

                                </div>
                            </div>
                        </div>

                    </div>
                    </form>
                    <div class="templatedivflex2left">



                        <img tabindex="0" class="unitimage" src="{{ url_for('static', filename='images/hydrodam.jpg') }}" />
                    </div>
                </div>

            </div>

        </div>
        <div class="economic" id="economic">

            <div class="menudiv">

                <h2 class="templatecontentheaderleft">Stronger Explosives</h2>

                <div class="templatedivflex2 menuflex">
                    <div class="templatedivflex2left">

                        <p class="templatecontentpleft">Bauxite mines now produce 28 bauxite per hour instead of 20</p>

                        <div class="purchasemilitarydiv">

                            <div class="templatedivflex2 divflex2center">
                                <div class="templatedivflex2left flexchildvanilla">

                                    <button disabled class="templatedivbutton templatecenteredbutton templateclosedbutton project1disabledbutton" formaction=""><span class="material-icons-outlined">
                                    add_circle_outline
                                </span>Buy</button>

                                </div>
                                <div class="templatedivflex2left flexchildvanilla">

                                    <button disabled class="templatedivbutton templatecenteredbutton templateclosedbutton project1disabledbutton" formaction=""><span class="material-icons-outlined">
                                    remove_circle_outline
                                </span>Sell</button>

                                </div>
                            </div>
                            <div class="templatedivflex2 divflex2center">
                                <div class="templatedivflex2left flexchildvanilla">

                                    <button class="templatedivbutton templatecenteredbutton" formaction=""><span class="material-icons-outlined">
                                    add_circle_outline
                                </span>Buy</button>

                                </div>
                                <div class="templatedivflex2left flexchildvanilla">

                                    <button class="templatedivbutton templatecenteredbutton" formaction=""><span class="material-icons-outlined">
                                    remove_circle_outline
                                </span>Sell</button>

                                </div>
                            </div>
                        </div>

                    </div>
                    </form>
                    <div class="templatedivflex2left">



                        <img tabindex="0" class="unitimage" src="{{ url_for('static', filename='images/hydrodam.jpg') }}" />
                    </div>
                </div>

            </div>

        </div>
        <div class="economic" id="economic">

            <div class="menudiv">

                <h2 class="templatecontentheaderleft">Widespread Propoganda</h2>

                <div class="templatedivflex2 menuflex">
                    <div class="templatedivflex2left">

                        <p class="templatecontentpleft">Soldier recruitment costs $150 instead of $200, and 1 ration instead of 2 rations</p>

                        <div class="purchasemilitarydiv">

                            <div class="templatedivflex2 divflex2center">
                                <div class="templatedivflex2left flexchildvanilla">

                                    <button disabled class="templatedivbutton templatecenteredbutton templateclosedbutton project1disabledbutton" formaction=""><span class="material-icons-outlined">
                                    add_circle_outline
                                </span>Buy</button>

                                </div>
                                <div class="templatedivflex2left flexchildvanilla">

                                    <button disabled class="templatedivbutton templatecenteredbutton templateclosedbutton project1disabledbutton" formaction=""><span class="material-icons-outlined">
                                    remove_circle_outline
                                </span>Sell</button>

                                </div>
                            </div>
                            <div class="templatedivflex2 divflex2center">
                                <div class="templatedivflex2left flexchildvanilla">

                                    <button class="templatedivbutton templatecenteredbutton" formaction=""><span class="material-icons-outlined">
                                    add_circle_outline
                                </span>Buy</button>

                                </div>
                                <div class="templatedivflex2left flexchildvanilla">

                                    <button class="templatedivbutton templatecenteredbutton" formaction=""><span class="material-icons-outlined">
                                    remove_circle_outline
                                </span>Sell</button>

                                </div>
                            </div>
                        </div>

                    </div>
                    </form>
                    <div class="templatedivflex2left">



                        <img tabindex="0" class="unitimage" src="{{ url_for('static', filename='images/hydrodam.jpg') }}" />
                    </div>
                </div>

            </div>

        </div>
        <div class="economic" id="economic">

            <div class="menudiv">

                <h2 class="templatecontentheaderleft">Increased Funding</h2>

                <div class="templatedivflex2 menuflex">
                    <div class="templatedivflex2left">

                        <p class="templatecontentpleft">Administrative Buildings can now recruit x spies per day instead of x, and have a capacity of x instead of x</p>

                        <div class="purchasemilitarydiv">

                            <div class="templatedivflex2 divflex2center">
                                <div class="templatedivflex2left flexchildvanilla">

                                    <button disabled class="templatedivbutton templatecenteredbutton templateclosedbutton project1disabledbutton" formaction=""><span class="material-icons-outlined">
                                    add_circle_outline
                                </span>Buy</button>

                                </div>
                                <div class="templatedivflex2left flexchildvanilla">

                                    <button disabled class="templatedivbutton templatecenteredbutton templateclosedbutton project1disabledbutton" formaction=""><span class="material-icons-outlined">
                                    remove_circle_outline
                                </span>Sell</button>

                                </div>
                            </div>
                            <div class="templatedivflex2 divflex2center">
                                <div class="templatedivflex2left flexchildvanilla">

                                    <button class="templatedivbutton templatecenteredbutton" formaction=""><span class="material-icons-outlined">
                                    add_circle_outline
                                </span>Buy</button>

                                </div>
                                <div class="templatedivflex2left flexchildvanilla">

                                    <button class="templatedivbutton templatecenteredbutton" formaction=""><span class="material-icons-outlined">
                                    remove_circle_outline
                                </span>Sell</button>

                                </div>
                            </div>
                        </div>

                    </div>
                    </form>
                    <div class="templatedivflex2left">



                        <img tabindex="0" class="unitimage" src="{{ url_for('static', filename='images/hydrodam.jpg') }}" />
                    </div>
                </div>

            </div>

        </div>
        <div class="economic" id="economic">

            <div class="menudiv">

                <h2 class="templatecontentheaderleft">Automation intergration</h2>

                <div class="templatedivflex2 menuflex">
                    <div class="templatedivflex2left">

                        <p class="templatecontentpleft">Components are made from 15 copper, 8 steel, and 12 aluminium instead of 20 copper, 10 steel, and 15 aluminium</p>

                        <div class="purchasemilitarydiv">

                            <div class="templatedivflex2 divflex2center">
                                <div class="templatedivflex2left flexchildvanilla">

                                    <button disabled class="templatedivbutton templatecenteredbutton templateclosedbutton project1disabledbutton" formaction=""><span class="material-icons-outlined">
                                    add_circle_outline
                                </span>Buy</button>

                                </div>
                                <div class="templatedivflex2left flexchildvanilla">

                                    <button disabled class="templatedivbutton templatecenteredbutton templateclosedbutton project1disabledbutton" formaction=""><span class="material-icons-outlined">
                                    remove_circle_outline
                                </span>Sell</button>

                                </div>
                            </div>
                            <div class="templatedivflex2 divflex2center">
                                <div class="templatedivflex2left flexchildvanilla">

                                    <button class="templatedivbutton templatecenteredbutton" formaction=""><span class="material-icons-outlined">
                                    add_circle_outline
                                </span>Buy</button>

                                </div>
                                <div class="templatedivflex2left flexchildvanilla">

                                    <button class="templatedivbutton templatecenteredbutton" formaction=""><span class="material-icons-outlined">
                                    remove_circle_outline
                                </span>Sell</button>

                                </div>
                            </div>
                        </div>

                    </div>
                    </form>
                    <div class="templatedivflex2left">



                        <img tabindex="0" class="unitimage" src="{{ url_for('static', filename='images/hydrodam.jpg') }}" />
                    </div>
                </div>

            </div>

        </div>
        <div class="economic" id="economic">

            <div class="menudiv">

                <h2 class="templatecontentheaderleft">Larger Forges</h2>

                <div class="templatedivflex2 menuflex">
                    <div class="templatedivflex2left">

                        <p class="templatecontentpleft">Requires only 25 coal instead of 25 coal to produce steel</p>

                        <div class="purchasemilitarydiv">

                            <div class="templatedivflex2 divflex2center">
                                <div class="templatedivflex2left flexchildvanilla">

                                    <button disabled class="templatedivbutton templatecenteredbutton templateclosedbutton project1disabledbutton" formaction=""><span class="material-icons-outlined">
                                    add_circle_outline
                                </span>Buy</button>

                                </div>
                                <div class="templatedivflex2left flexchildvanilla">

                                    <button disabled class="templatedivbutton templatecenteredbutton templateclosedbutton project1disabledbutton" formaction=""><span class="material-icons-outlined">
                                    remove_circle_outline
                                </span>Sell</button>

                                </div>
                            </div>
                            <div class="templatedivflex2 divflex2center">
                                <div class="templatedivflex2left flexchildvanilla">

                                    <button class="templatedivbutton templatecenteredbutton" formaction=""><span class="material-icons-outlined">
                                    add_circle_outline
                                </span>Buy</button>

                                </div>
                                <div class="templatedivflex2left flexchildvanilla">

                                    <button class="templatedivbutton templatecenteredbutton" formaction=""><span class="material-icons-outlined">
                                    remove_circle_outline
                                </span>Sell</button>

                                </div>
                            </div>
                        </div>

                    </div>
                    </form>
                    <div class="templatedivflex2left">



                        <img tabindex="0" class="unitimage" src="{{ url_for('static', filename='images/hydrodam.jpg') }}" />
                    </div>
                </div>

            </div>

        </div>
        <!--MILITARY-->
        <div class="military" id="military">

            <div class="economic" id="economic">

                <div class="menudiv">

                    <h2 class="templatecontentheaderleft">Project 1</h2>

                    <div class="templatedivflex2 menuflex">
                        <div class="templatedivflex2left">

                            <p class="templatecontentpleft">this is what project one does</p>

                            <div class="purchasemilitarydiv">

                                <div class="templatedivflex2 divflex2center">
                                    <div class="templatedivflex2left flexchildvanilla">

                                        <button disabled class="templatedivbutton templatecenteredbutton templateclosedbutton project1disabledbutton" formaction=""><span class="material-icons-outlined">
                                        add_circle_outline
                                    </span>Buy</button>

                                    </div>
                                    <div class="templatedivflex2left flexchildvanilla">

                                        <button disabled class="templatedivbutton templatecenteredbutton templateclosedbutton project1disabledbutton" formaction=""><span class="material-icons-outlined">
                                        remove_circle_outline
                                    </span>Sell</button>

                                    </div>
                                </div>
                                <div class="templatedivflex2 divflex2center">
                                    <div class="templatedivflex2left flexchildvanilla">

                                        <button class="templatedivbutton templatecenteredbutton" formaction=""><span class="material-icons-outlined">
                                        add_circle_outline
                                    </span>Buy</button>

                                    </div>
                                    <div class="templatedivflex2left flexchildvanilla">

                                        <button class="templatedivbutton templatecenteredbutton" formaction=""><span class="material-icons-outlined">
                                        remove_circle_outline
                                    </span>Sell</button>

                                    </div>
                                </div>
                            </div>

                        </div>
                        </form>
                        <div class="templatedivflex2left">



                            <img tabindex="0" class="unitimage" src="{{ url_for('static', filename='images/hydrodam.jpg') }}" />
                        </div>
                    </div>

                </div>

            </div>

        </div>

    </div>
</div>
{% endblock %}