{% extends "layout.html"%} {% block title %} {{ attacker_name }} vs {{ defender_name }} {% endblock %} {% block body %}

<div class="templatediv">
    <div class="templatedivtopper wartopper">
        <h1 class="templatedivtitle"><span class="material-icons-outlined iconlarge">
            military_tech
            </span>{{ attacker_name }} vs {{ defender_name }}</h1>
        <div class="templatedivad"></div>
    </div>

    <div class="templatedivcontent">

        <div class="borderbottom templatedivflex2 menuflex">
            <div class="templatedivflex2left">

                <h2 class="templatecontentheadercenter">Defender</h2>

            </div>
            <div class="templatedivflex2left">

                <h2 class="templatecontentheadercenter">Aggressor</h2>

            </div>
        </div>

        <!--AGGRESSOR-->
        {% if cId_type == "attacker" %}
        <div class="templatedivflex2 menuflex warflexparentcolors">
            <div class="templatedivflex2left">

                <h2 class="templatecontentheadercenter templatelink"><a class="templatelink" href="/country/id={{ defender }}">{{ defender_name }}</a></h2>

                <!-- cId is the Flask value for your country's Id-->
                <!--defender nation flag-->
                <img tabindex="0" class="unitimage" src="{{ url_for('static', filename='flags/'+defender_flag) }}" />

                <div class="progressbarparent">
                    <div class="progressbarchildtext">{{defender_info["morale"]}} / 100 Morale</div>
                    <div class="progressbarchild" style="width:{{ defender_info['morale'] }}%">
                    </div>
                </div>

                <div class="progressbarparent">
                    <div class="progressbarchildtext">{{defender_info["supplies"]}} / 2000 Supplies</div>
                    <div class="progressbarchild progressbargreen" style="width: {{ (attacker_info['supplies']/20) | round(0, 'ceil') }}%">
                    </div>
                </div>

            </div>
            <div class="min templatedivflex2left">

                <h2 class="templatecontentheadercenter">VS</h2>

            </div>
            <div class="templatedivflex2left">

                <h2 class="templatecontentheadercenter templatelink"><a class="templatelink" href="/country/id={{ attacker }}">{{ attacker_name }}</a></h2>
                <!--aggressor nation flag-->
                <img tabindex="0" class="unitimage" src="{{ url_for('static', filename='flags/'+attacker_flag) }}" />

                <div class="progressbarparent">
                    <div class="progressbarchildtext">{{attacker_info["morale"]}} / 100 Morale</div>
                    <div class="progressbarchild" style="width:{{ attacker_info['morale'] }}%">
                    </div>
                </div>

                <div class="progressbarparent">
                    <div class="progressbarchildtext">{{attacker_info["supplies"]}} / 2000 Supplies</div>
                    <div class="progressbarchild progressbargreen" style="width: {{ (attacker_info['supplies']/20) | round(0, 'ceil') }}%">
                    </div>
                </div>
            </div>
        </div>
        {% endif %}

        <!--CODE IT TO CHOOSE ON OR THE OTHER DEPENDING ON IF YOU ATTACKED, OR GOT ATTACKED-->
        <!--DEFENDER-->
        {% if cId_type == "defender" %}
        <div class="templatedivflex2 menuflex warflexparentcolors">
            <div class="templatedivflex2left">

                <h2 class="templatecontentheadercenter templatelink"><a class="templatelink" href="/country/id={{ defender }}">{{ defender_name }}</a></h2>
                <!--aggressor nation flag-->
                <img tabindex="0" class="unitimage" src="{{ url_for('static', filename='flags/'+defender_flag) }}" />

                <div class="progressbarparent">
                    <div class="progressbarchildtext">{{attacker_info["morale"]}} / 100 Morale</div>
                    <div class="progressbarchild" style="width:{{ attacker_info['morale'] }}%">
                    </div>
                </div>

                <div class="progressbarparent">
                    <div class="progressbarchildtext">{{attacker_info["supplies"]}} / 2000 Supplies</div>
                    <div class="progressbarchild progressbargreen" style="width: {{ (attacker_info['supplies']/20) | round(0, 'ceil') }}%">
                    </div>
                </div>

            </div>
            <div class="min templatedivflex2left">

                <h2 class="templatecontentheadercenter">VS</h2>

            </div>
            <div class="templatedivflex2left">

                <h2 class="templatecontentheadercenter"><a class="templatelink" href="/country/id={{ attacker }}">{{ attacker_name }}</a></h2>
                <img tabindex="0" class="unitimage" src="{{ url_for('static', filename='flags/'+attacker_flag) }}" />

                <div class="progressbarparent">
                    <div class="progressbarchildtext">{{defender_info["morale"]}} / 100 Morale</div>
                    <div class="progressbarchild" style="width:{{ defender_info['morale'] }}%"></div>
                </div>

                <div class="progressbarparent">
                    <div class="progressbarchildtext">{{defender_info["supplies"]}} / 2000 Supplies</div>
                    <div class="progressbarchild progressbargreen" style="width: {{ (attacker_info['supplies']/20) | round(0, 'ceil') }}%"></div>
                </div>
            </div>
        </div>

    </div>
</div>
{% endif %}
<div class="templatedivflex2 divflex2center">
    <!--
            <div class="templatedivflex2left">

                <a class="templatedivbutton templatecenteredbutton" href="/warchoose"><span class="material-icons-outlined">
                    security
                    </span>Defend</a>

            </div>
            -->
    <div class="templatedivflex2left">
        <a class="templatedivbutton templatecenteredbutton" href="/warchoose/{{ war_id }}"><span class="material-icons-outlined">
                    arrow_forward
                    </span>Attack</a>
    </div>
</div>

<h2 class="templatecontentheaderleft">Reconnaissance</h2>

<div class="infodiv">
    <div class="templatedivflex2 menuflex">
        <div class="templatedivflex2left">

            <label for="warType">Choose operation</label>
            <select class="templateselect" name="warType">

                            <option class="templateoption">Spy on unit amounts</option>
                            <option class="templateoption">Spy on defensive units</option>
                            <option class="templateoption">Spy on resources</option>
                            <option class="templateoption">Assasinate spies</option>

                    </select>

        </div>
        <div class="templatedivflex2left">

            <label for="countryName">Number of spies</label>
            <input class="loginsignupinput" name="countryName" placeholder="{{ spyCount }}" />

        </div>
    </div> <label for="warType">{{ successChance }}% success chance</label>

    <button class="templatedivbutton templatecenteredbutton" type="submit"><span class="material-icons-outlined">
                check
                </span>Perform</button>
</div>

<h2 class="templatecontentheaderleft">Peace Offer</h2>

<form method="post" action="/send_peace_offer/{{war_id}}/{{peace_to_send}}" class="infodiv">

    <h2 class="templatecontentheadercenter">Demand Resources</h2>

    <div class="templateoutertablediv inverttable">
        <table class="templatetable templatetable2">
            <tr>
                <th>Resource</th>
                <!-- <th>Amount</th> -->
                <th>Action</th>
            </tr>
            <tr>
                <td>Money:</td>
                <!-- <td>{{ resources["money"] }}</td> -->
                <td><input class="loginsignupinput" autocomplete="on" name="money" placeholder="Amount" /></td>
            </tr>
            <tr>
                <td>Rations:</td>
                <!-- <td>{{ resources["rations"] }}</td> -->
                <td><input class="loginsignupinput" autocomplete="on" name="rations" placeholder="Amount" /></td>
            </tr>
            <tr>
                <td>Oil:</td>
                <!-- <td>{{ resources["oil"] }}</td> -->
                <td><input class="loginsignupinput" autocomplete="on" name="oil" placeholder="Amount" /></td>
            </tr>
            <tr>
                <td>Coal:</td>
                <!-- <td>{{ resources["coal"] }}</td> -->
                <td><input class="loginsignupinput" autocomplete="on" name="coal" placeholder="Amount" /></td>
            </tr>
            <tr>
                <td>Uranium:</td>
                <!-- <td>{{ resources["uranium"] }}</td> -->
                <td><input class="loginsignupinput" autocomplete="on" name="uranium" placeholder="Amount" /></td>
            </tr>
            <tr>
                <td>Iron:</td>
                <!-- <td>{{ resources["iron"] }}</td> -->
                <td><input class="loginsignupinput" autocomplete="on" name="iron" placeholder="Amount" /></td>
            </tr>
            <tr>
                <td>Lead:</td>
                <!-- <td>{{ resources["lead"] }}</td> -->
                <td><input class="loginsignupinput" autocomplete="on" name="lead" placeholder="Amount" /></td>
            </tr>
            <tr>
                <td>Bauxite:</td>
                <!-- <td>{{ resources["bauxite"] }}</td> -->
                <td><input class="loginsignupinput" autocomplete="on" name="bauxite" placeholder="Amount" /></td>
            </tr>
            <tr>
                <td>Copper:</td>
                <!-- <td>{{ resources["copper"] }}</td> -->
                <td><input class="loginsignupinput" autocomplete="on" name="copper" placeholder="Amount" /></td>
            </tr>
            <tr>
                <td>Lumber:</td>
                <!-- <td>{{ resources["lumber"] }}</td> -->
                <td><input class="loginsignupinput" autocomplete="on" name="lumber" placeholder="Amount" /></td>
            </tr>
            <tr>
                <td>Components:</td>
                <!-- <td>{{ resources["components"] }}</td> -->
                <td><input class="loginsignupinput" autocomplete="on" name="components" placeholder="Amount" /></td>
            </tr>
            <tr>
                <td>Steel:</td>
                <!-- <td>{{ resources["steel"] }}</td> -->
                <td><input class="loginsignupinput" autocomplete="on" name="steel" placeholder="Amount" /></td>
            </tr>
            <tr>
                <td>Consumer goods:</td>
                <!-- <td>{{ resources["consumer_goods"] }}</td> -->
                <td><input class="loginsignupinput" autocomplete="on" name="consumer_goods" placeholder="Amount" /></td>
            </tr>
            <tr>
                <td>Aluminum:</td>
                <!-- <td>{{ resources["aluminium"] }}</td> -->
                <td><input class="loginsignupinput" autocomplete="on" name="aluminium" placeholder="Amount" /></td>
            </tr>
            <tr>
                <td>Gasoline:</td>
                <!-- <td>{{ resources["gasoline"] }}</td> -->
                <td><input class="loginsignupinput" autocomplete="on" name="gasoline" placeholder="Amount" /></td>
            </tr>
            <tr>
                <td>Ammunition:</td>
                <!-- <td>{{ resources["ammunition"] }}</td> -->
                <td><input class="loginsignupinput" autocomplete="on" name="ammunition" placeholder="Amount" /></td>
            </tr>
        </table>
    </div>

    <button class="templatedivbutton templatecenteredbutton" type="submit"><span class="material-icons-outlined">
                arrow_forward
                </span>Send Offer</button>

</form>

</div>
</div>
{% endblock %}
