{% extends "layout.html"%} {% block title %} War {% endblock %} {% block body %}

<div class="templatediv">

    <div class="templatedivtopper wartopper">
        <h1 class="templatedivtitle">War</h1>
        <div class="templatedivad"></div>
    </div>

    <div class="templatedivcontent">
        <form action="/coalitions" method="POST">
            <div class="templatedivflex2 divflex2full">

                <div class="templatedivflex2left">

                    <a class="templatedivbutton smallactionbutton" href="/military">Purchase Military</a>

                </div>
                <div class="templatedivflex2right">

                    <a class="templatedivbutton smallactionbutton" href="/findtargets">Find Target</a>

                </div>
            </div>
        </form>

        <h2 class="templatecontentheaderleft">Standing Military</h2>

        <div class="templateoutertablediv">
            <table class="templatetable templatetable2">
                <tr>
                    <th>Army</th>
                    <th>Air Force</th>
                    <th>Navy</th>
                    <th>Special</th>
                </tr>
                <tr>
                    <td>{{ soldiers }} Soldiers</td>
                    <td>{{ fighter_jets }} Fighter Jets</td>
                    <td>{{ submarines }} Submarines</td>
                    <td>{{ spies }} Spies</td>
                </tr>
                <tr>
                    <td>{{ artillery }} Artillery</td>
                    <td>{{ flying_fortresses }} Flying Fortresses</td>
                    <td>{{ cruisers }} Cruisers</td>
                    <td>{{ icbms }} ICBMs</td>
                </tr>
                <tr>
                    <td>{{ tanks }} Tanks</td>
                    <td>{{ apaches }} Apaches</td>
                    <td>{{ destroyers }} Destroyers</td>
                    <td>{{ nukes }} Nukes</td>
                </tr>
            </table>
        </div>


        <!--if wars == False-->
        <h2 class="templatecontentheadercenter">You have no ongoing wars</h2>
        <!--if wars == True-->

        <h2 class="templatecontentheaderleft">Ongoing Wars</h2>

        <div class="borderbottom templatedivflex2 menuflex">
            <div class="templatedivflex2left">

                <h2 class="templatecontentheadercenter">Defender</h2>

            </div>
            <div class="templatedivflex2left">

                <h2 class="templatecontentheadercenter">Aggressor</h2>

            </div>
        </div>

        <!--FOR EVERY WAR MAKE A NEW DIV-->
        <div class="warflexparent templatedivflex2 menuflex">
            <div class="templatedivflex2left">

                <h2 class="templatecontentheadercenter">[[ yourCountry ]]</h2>
                <!--defender nation flag-->
                <img class="unitimage" src="{{ url_for('static', filename='images/coppermine.jpg') }}" />

            </div>
            <div class="min templatedivflex2left">

                <h2 class="templatecontentheadercenter">VS</h2>

            </div>
            <div class="templatedivflex2left">

                <h2 class="templatecontentheadercenter">[[ enemyCountry ]]</h2>
                <!--aggressor nation flag-->
                <img class="unitimage" src="{{ url_for('static', filename='images/coppermine.jpg') }}" />

            </div>
        </div>

    </div>
</div>
{% endblock %}