{% extends "layout.html"%} {% block title %} Attack Amount {% endblock %} {% block body %}
<div class="templatediv">

    <div class="templatedivtopper wartopper">
        <h1 class="templatedivtitle"><span class="material-icons-outlined iconlarge">

            </span>Attack</h1>
        <div class="templatedivad"></div>
    </div>

    <form class="templatedivcontent" action="/waramount" method="post">

        <h2 class="templatecontentheaderleft">Choose Unit Amounts</h2>
        <p class="templatecontentpleft landingpagecontent">Input how many of each type of unit you wish to attack with.</p>

        <div class="templatedivflex2 menuflex unitcardparent">

            {% for r in range(unit_range) %}
            <div class="templatedivflex2left unitcard">
                <ul class="bold medium">{{selected_units[r] | capitalize}}</ul>
                <img tabindex="0" class="unitimage" src="{{ url_for('static', filename='images/'+selected_units[r][:-1]+'.jpg') }}" />
                <input type="number" class="loginsignupinput templateflexfullinput" autocomplete="off" name="{{selected_units[r]}}" value="{{unitamounts[r]}}" />
            </div>
            {% endfor %}
        </div>

        <!-- change the progress bar child text based on how much supplies it would cost to send the attack based on the number of units in each thingy-->

        <!-- <script>
            let s = document.querySelector("#supplycosttext");
            s.innerHTML = "8/ 2000"
        </script> -->

        <div class="templatedivflex2 divflex2center">
            <div class="templatedivflex2left">

                <a class="templatedivbutton templatecenteredbutton" href="#" onclick="history.go(-1)"><span
                        class="material-icons-outlined">
                        arrow_back
                    </span>Back</a>

            </div>
            <div class="templatedivflex2left">

                <!--SEND USER TO NEXT PAGE AS WELL-->
                <button id="templatedivbutton" class="templatedivbutton templatecenteredbutton" type="submit"><span
                        class="material-icons-outlined">
                        arrow_forward
                    </span>Attack</button>

            </div>
        </div>
    </form>
</div>
{% endblock %}