{% extends "layout.html"%} {% block title %} Attack Amount {% endblock %} {% block body %}
<div class="templatediv">

    <div class="templatedivtopper wartopper">
        <h1 class="templatedivtitle"><span class="material-icons-outlined iconlarge">

            </span>Attack</h1>
        <div class="templatedivad"></div>
    </div>

    <form class="templatedivcontent" action="/waramount" method="post">

        <h2 class="templatecontentheaderleft">Choose Amount</h2>
        <p class="templatecontentpleft">Select how many of each unit you want to attack with.</p>

        <div class="templatedivflex2 menuflex">

            {% for r in range(unit_range) %}
            <div class="templatedivflex2left unitcard nopointer">
                <img tabindex="0" class="unitimage" src="{{ url_for('static', filename='images/'+selected_units[r][:-1]+'.jpg') }}" />
                <input class="loginsignupinput templateflexfullinput" autocomplete="off" value="{{selected_units[r] | capitalize}}" />
                <input class="loginsignupinput templateflexfullinput" autocomplete="off" name="{{selected_units[r]}}" value="{{unitamounts[r]}}" />
            </div>
            {% endfor %}
        </div>

        <div class="progressbarparent progressbarparentlight">
            <div id="supplycosttext" class="progressbarchildtext">{{available_supplies}} / 2000 Supplies</div>
            <div class="progressbarchild progressbargreen" style="width:20%">
            </div>
        </div>
        <!-- change the progress bar child text based on how much supplies it would cost to send the attack based on the number of units in each thingy-->

        <!-- <script>
            let s = document.querySelector("#supplycosttext");
            s.innerHTML = "8/ 2000"
        </script> -->

        <div class="templatedivflex2 divflex2center">
            <div class="templatedivflex2left">

                <a class="templatedivbutton templatecenteredbutton" href="/warchoose"><span
                        class="material-icons-outlined">
                        arrow_back
                    </span>Back</a>

            </div>
            <div class="templatedivflex2left">

                <!--SEND USER TO NEXT PAGE AS WELL-->
                <button id="templatedivbutton" class="templatedivbutton templatecenteredbutton" type="submit"><span
                        class="material-icons-outlined">
                        arrow_forward
                    </span>Attack</button>

            </div>
        </div>
    </form>
</div>
{% endblock %}
