{% extends "layout.html"%} {% block title %} Attack Amount {% endblock %} {% block body %}

<script type="text/javascript">
    function costs(e) {
      let cost_table = {
      {% for interface in unit_interfaces %} {% if interface.unit_type in selected_units %} "{{interface.unit_type}}": {"supply_cost": {{interface.supply_cost}}}, {% endif %}{% endfor %}
      }
    }
</script>

<div class="templatediv">

    <div class="templatedivtopper wartopper">
        <h1 class="templatedivtitle"><span class="material-icons-outlined iconlarge">

            </span>Attack</h1>
        <div class="templatedivad"></div>
    </div>

    <form class="templatedivcontent" action="/waramount" method="post">

        <h2 class="templatecontentheaderleft">Choose Unit Amounts</h2>
        <p class="templatecontentpleft landingpagecontent">Input how many of each type of unit you wish to attack with.</p>

        <div class="templatedivflex2 menuflex unitcardparent">

            {% for r in range(unit_range) %}
            <div class="templatedivflex2left unitcard">
                <ul class="bold medium">{{selected_units[r] | capitalize}}</ul>
                <img tabindex="0" class="unitimage" src="{{ url_for('static', filename='images/'+selected_units[r][:-1]+'.jpg') }}" />
                <input onchange="costs(event)" type="number" class="loginsignupinput templateflexfullinput" autocomplete="off" name="{{selected_units[r]}}" value="{{unitamounts[r]}}" />
            </div>
            {% endfor %}
        </div>

        <div class="templateoutertablediv inverttable">
            <table class="templatetable templatetable2">
                <tr>
                    <th>Attack Costs</th>
                </tr>
                <tr>
                  <td>Supply cost: <span id="resource-cost">5000</span></td>
                </tr>
              </table>
        </div>

        <div class="templatedivflex2 divflex2center">
            <div class="templatedivflex2left">

                <a class="templatedivbutton templatecenteredbutton" href="#" onclick="history.go(-1)"><span
                        class="material-icons-outlined">
                        arrow_back
                    </span>Back</a>
            </div>
            <div class="templatedivflex2left">

                <!--SEND USER TO NEXT PAGE AS WELL-->
                <button id="templatedivbutton" class="templatedivbutton templatecenteredbutton" type="submit"><span
                        class="material-icons-outlined">
                        arrow_forward
                    </span>Attack</button>
            </div>
        </div>

    </form>
</div>
{% endblock %}
