{% extends "layout.html"%} {% block title %} Attack Choose {% endblock %} {% block body %}

<div class="templatediv">

    <div class="templatedivtopper wartopper">
        <h1 class="templatedivtitle"><span class="material-icons-outlined iconlarge">

            </span>Attack</h1>
        <div class="templatedivad"></div>
    </div>

    <div class="templatedivcontent">

        <h2 class="templatecontentheaderleft">Choose 3 Units</h2>
        <p class="templatecontentpleft landingpagecontent">
            Choose three units to use in your attack. It's strongly advised that you scout out your enemies unit composition before you attack.
        </p>

        <div class="templatedivflex2 menuflex unitcardparent">
            <label for="1" class="templatedivflex2left unitcard">

                <ul class="bold medium">Soldiers</ul>
                <ul>{{ units["soldiers"] }}</ul>
                <img tabindex="0" class="unitimage" src="{{ url_for('static', filename='images/soldier.jpg') }}" />

                <input type="checkbox" id="1" class="warcheckbox hidden" value="soldiers">
                <span class="material-icons-outlined unitcardcheck">
                    check_circle
                </span>

            </label>
            <label for="2" class="templatedivflex2left unitcard">

                <ul class="bold medium">Tanks</ul>
                <ul>{{ units["tanks"] }}</ul>
                <img tabindex="0" class="unitimage" src="{{ url_for('static', filename='images/tank.jpg') }}" />

                <input type="checkbox" id="2" class="warcheckbox hidden" value="tanks">
                <span class="material-icons-outlined unitcardcheck">
                    check_circle
                </span>

            </label>
            <label for="3" class="templatedivflex2left unitcard">

                <ul class="bold medium">Artillery</ul>
                <ul>{{ units["artillery"] }}</ul>
                <img tabindex="0" class="unitimage" src="{{ url_for('static', filename='images/artillery.jpg') }}" />

                <input type="checkbox" id="3" class="warcheckbox hidden" value="artillery">
                <span class="material-icons-outlined unitcardcheck">
                    check_circle
                </span>

            </label>
            <label for="4" class="templatedivflex2left unitcard">

                <ul class="bold medium">Fighter Jets</ul>
                <ul>{{ units["fighters"] }}</ul>
                <img tabindex="0" class="unitimage" src="{{ url_for('static', filename='images/fighterjet.jpg') }}" />

                <input type="checkbox" id="4" class="warcheckbox hidden" value="fighters">
                <span class="material-icons-outlined unitcardcheck">
                    check_circle
                </span>

            </label>
            <label for="5" class="templatedivflex2left unitcard">

                <ul class="bold medium">Bombers</ul>
                <ul>{{ units["bombers"] }}</ul>
                <img tabindex="0" class="unitimage" src="{{ url_for('static', filename='images/bomber.jpg') }}" />

                <input type="checkbox" id="5" class="warcheckbox hidden" value="bombers">
                <span class="material-icons-outlined unitcardcheck">
                    check_circle
                </span>

            </label>
            <label for="6" class="templatedivflex2left unitcard">

                <ul class="bold medium">Attack Helicopters</ul>
                <ul>{{ units["apaches"] }}</ul>
                <img tabindex="0" class="unitimage" src="{{ url_for('static', filename='images/apache.jpg') }}" />

                <input type="checkbox" id="6" class="warcheckbox hidden" value="apaches">
                <span class="material-icons-outlined unitcardcheck">
                    check_circle
                </span>

            </label>
            <label for="7" class="templatedivflex2left unitcard">

                <ul class="bold medium">Submarines</ul>
                <ul>{{ units["submarines"] }}</ul>
                <img tabindex="0" class="unitimage" src="{{ url_for('static', filename='images/submarine.jpg') }}" />

                <input type="checkbox" id="7" class="warcheckbox hidden" value="submarines">
                <span class="material-icons-outlined unitcardcheck">
                    check_circle
                </span>

            </label>
            <label for="8" class="templatedivflex2left unitcard">

                <ul class="bold medium">Cruisers</ul>
                <ul>{{ units["cruisers"] }}</ul>
                <img tabindex="0" class="unitimage" src="{{ url_for('static', filename='images/cruiser.jpg') }}" />

                <input type="checkbox" id="8" class="warcheckbox hidden" value="cruisers">
                <span class="material-icons-outlined unitcardcheck">
                    check_circle
                </span>

            </label>
            <label for="9" class="templatedivflex2left unitcard">

                <ul class="bold medium">Destroyers</ul>
                <ul>{{ units["destroyers"] }}</ul>
                <img tabindex="0" class="unitimage" src="{{ url_for('static', filename='images/destroyer.jpg') }}" />

                <input type="checkbox" id="9" class="warcheckbox hidden" value="destroyers">
                <span class="material-icons-outlined unitcardcheck">
                    check_circle
                </span>

            </label>
        </div>

        <h2 id="chosenAmountChecked" class="templatecontentheadercenter">0 / 3 Units</h2>

        <script>
            $(document).ready(function() {
                $('input.warcheckbox').on('change', function(e) {
                    let checkNum = Array.from(document.querySelectorAll('.warcheckbox')).filter(({
                        checked
                    }) => checked).length;
                    if (checkNum > 3) {
                        this.checked = false;
                        checkNum -= 1
                    }
                    let checkElement = document.querySelector('#chosenAmountChecked');
                    checkElement.innerHTML = `${checkNum} / 3 Units`;
                })
            });
        </script>

        <form id="next_button" action="/warchoose/{{ war_id }}" method="post">
            <!-- TODO: disable next button if checkNum < 3 -->
            <input type="hidden" name="u1">
            <input type="hidden" name="u2">
            <input type="hidden" name="u3">
            <button class="templatedivbutton templatecenteredbutton" onclick="submit_next(event)">
                        <span class="material-icons-outlined">arrow_forward</span>Next
            </button>
        </form>

        <h2 class="templatecontentheaderleft">Or Choose 1 Special Unit</h2>
        <p class="templatecontentpleft landingpagecontent">
            Choose a special unit to bombard your enemy with. Ballistic Missiles and Nukes can be selected to target one enemy unit, and will damage random province in the process.
        </p>

        <div class="templatedivflex2 menuflex unitcardparent">
            <label for="10" class="templatedivflex2left unitcard">

                <ul class="bold medium">Ballistic Missiles</ul>
                <ul>{{ units["icbms"] }}</ul>
                <img tabindex="0" class="unitimage" src="{{ url_for('static', filename='images/icbm.jpg') }}" />

                <input type="checkbox" id="10" class="warcheckbox2 hidden" value="icbms">
                <span class="material-icons-outlined unitcardcheck">
                    check_circle
                </span>

            </label>
            <label for="11" class="templatedivflex2left unitcard">

                <ul class="bold medium">Nukes</ul>
                <ul>{{ units["nukes"] }}</ul>
                <img tabindex="0" class="unitimage" src="{{ url_for('static', filename='images/nuke.jpg') }}" />

                <input type="checkbox" id="11" class="warcheckbox2 hidden" value="nukes">
                <span class="material-icons-outlined unitcardcheck">
                    check_circle
                </span>

            </label>
        </div>

        <h2 id="chosenAmountChecked2" class="templatecontentheadercenter">0 / 1 Unit</h2>

        <script>
            $(document).ready(function() {
                $('input.warcheckbox2').on('change', function(e) {
                    let checkNum = Array.from(document.querySelectorAll('.warcheckbox2')).filter(({
                        checked
                    }) => checked).length;
                    if (checkNum > 1) {
                        this.checked = false;
                        checkNum -= 1
                    }
                    let checkElement = document.querySelector('#chosenAmountChecked2');
                    checkElement.innerHTML = `${checkNum} / 1 Unit`;
                })
            });
        </script>


        <form id="next_button" action="/warchoose/{{ war_id }}" method="post">
            <input type="hidden" name="special_unit">

            <button class="templatedivbutton templatecenteredbutton" onclick="submit_special(event)">
              <span class="material-icons-outlined">arrow_forward</span>Next
            </button>
        </form>
    </div>
</div>
{% endblock %}