{% extends "layout.html"%} {% block title %} Attack Choose {% endblock %} {% block body %}

<div class="templatediv">

    <div class="templatedivtopper wartopper">
        <h1 class="templatedivtitle"><span class="material-icons-outlined iconlarge">

            </span>Attack</h1>
        <div class="templatedivad"></div>
    </div>

    <div class="templatedivcontent">

        <h2 class="templatecontentheaderleft">Choose 3 Units</h2>
        <p class="templatecontentpleft">Choose what units to take into war with you!</p>

        <div class="templatedivflex2 menuflex">
            <label for="1" class="templatedivflex2left unitcard">

                <ul class="bold medium">Soldiers</ul>
                <ul>{{ units["soldiers"] }}</ul>
                <img class="unitimage" src="{{ url_for('static', filename='images/soldier.jpg') }}" />

                <input type="checkbox" id="1" class="warcheckbox hidden">
                <span class="material-icons-outlined unitcardcheck">
                    check_circle
                </span>

            </label>
            <label for="2" class="templatedivflex2left unitcard">

                <ul class="bold medium">Tanks</ul>
                <ul>{{ units["tanks"] }}</ul>
                <img class="unitimage" src="{{ url_for('static', filename='images/tank.jpg') }}" />

                <input type="checkbox" id="2" class="warcheckbox hidden">
                <span class="material-icons-outlined unitcardcheck">
                    check_circle
                </span>

            </label>
            <label for="3" class="templatedivflex2left unitcard">

                <ul class="bold medium">Artillery</ul>
                <ul>{{ units["artillery"] }}</ul>
                <img class="unitimage" src="{{ url_for('static', filename='images/artillery.jpg') }}" />

                <input type="checkbox" id="3" class="warcheckbox hidden">
                <span class="material-icons-outlined unitcardcheck">
                    check_circle
                </span>

            </label>
        </div>
        <div class="templatedivflex2 menuflex">
            <label for="4" class="templatedivflex2left unitcard">

                <ul class="bold medium">Fighter Jets</ul>
                <ul>{{ units["fighters"] }}</ul>
                <img class="unitimage" src="{{ url_for('static', filename='images/fighterjet.jpg') }}" />

                <input type="checkbox" id="4" class="warcheckbox hidden">
                <span class="material-icons-outlined unitcardcheck">
                    check_circle
                </span>

            </label>
            <label for="5" class="templatedivflex2left unitcard">

                <ul class="bold medium">Bombers</ul>
                <ul>{{ units["bombers"] }}</ul>
                <img class="unitimage" src="{{ url_for('static', filename='images/bomber.jpg') }}" />

                <input type="checkbox" id="5" class="warcheckbox hidden">
                <span class="material-icons-outlined unitcardcheck">
                    check_circle
                </span>

            </label>
            <label for="6" class="templatedivflex2left unitcard">

                <ul class="bold medium">Apaches</ul>
                <ul>{{ units["apaches"] }}</ul>
                <img class="unitimage" src="{{ url_for('static', filename='images/apache.jpg') }}" />

                <input type="checkbox" id="6" class="warcheckbox hidden">
                <span class="material-icons-outlined unitcardcheck">
                    check_circle
                </span>

            </label>
        </div>
        <div class="templatedivflex2 menuflex">
            <label for="7" class="templatedivflex2left unitcard">

                <ul class="bold medium">Submarines</ul>
                <ul>{{ units["submarines"] }}</ul>
                <img class="unitimage" src="{{ url_for('static', filename='images/submarine.jpg') }}" />

                <input type="checkbox" id="7" class="warcheckbox hidden">
                <span class="material-icons-outlined unitcardcheck">
                    check_circle
                </span>

            </label>
            <label for="8" class="templatedivflex2left unitcard">

                <ul class="bold medium">Cruisers</ul>
                <ul>{{ units["cruisers"] }}</ul>
                <img class="unitimage" src="{{ url_for('static', filename='images/cruiser.jpg') }}" />

                <input type="checkbox" id="8" class="warcheckbox hidden">
                <span class="material-icons-outlined unitcardcheck">
                    check_circle
                </span>

            </label>
            <label for="9" class="templatedivflex2left unitcard">

                <ul class="bold medium">Destroyers</ul>
                <ul>{{ units["destroyers"] }}</ul>
                <img class="unitimage" src="{{ url_for('static', filename='images/destroyer.jpg') }}" />

                <input type="checkbox" id="9" class="warcheckbox hidden">
                <span class="material-icons-outlined unitcardcheck">
                    check_circle
                </span>

            </label>
        </div>

        <h2 id="chosenAmountChecked" class="templatecontentheadercenter">0 / 3</h2>
        <script>
            // $(document).ready(function () {
            //     var limit = 3;
            //     $('input.warcheckbox').on('change', function (evt) {
            //         let checkLength = $(this).siblings(':checked').length; // this is always 0 -- needs fixed
            //         console.log(checkLength) 
            //         if ($(this).siblings(':checked').length >= limit) {
            //             this.checked = false;
            //         }
            //         let checkElement = document.getElementById("chosenAmountChecked");
            //         checkElement.innerHTML = $(this).siblings(':checked').length + " / 3";
            //     });
            // });
            $(document).ready(function () {
                $('input.warcheckbox').on('change', function (e) {
                    let checkNum = Array.from(document.querySelectorAll('input[type=checkbox]')).filter(({ checked }) => checked).length;
                    if (checkNum > 3) {
                        this.checked = false;
                    }
                    let checkElement = document.querySelector('#chosenAmountChecked');
                    checkElement.innerHTML = checkNum;
                    console.log('this is showingasdf')
                })
            });

        </script>

        <div class="templatedivflex2 divflex2center">
            <div class="templatedivflex2left">

                <a class="templatedivbutton templatecenteredbutton" href="/wars"><span class="material-icons-outlined">
                        arrow_back
                    </span>Back</a>

            </div>
            <div class="templatedivflex2left">

                <!--SEND USER TO NEXT PAGE AS WELL-->
                <button id="templatedivbutton" class="templatedivbutton templatecenteredbutton" type="submit"><span
                        class="material-icons-outlined">
                        arrow_forward
                    </span>Next</button>

            </div>
        </div>
    </div>
</div>
{% endblock %}