{% extends "layout.html"%} {% block title %} Attack Result {% endblock %} {% block body %}

<div class="templatediv">

    <div class="templatedivtopper wartopper">
        <h1 class="templatedivtitle"><span class="material-icons-outlined iconlarge">
            
            </span>[[aggressor]] VS [[Defender]]</h1>
        <div class="templatedivad"></div>
    </div>

    <div class="templatedivcontent">

        <div class="templatedivflex2 menuflex">
            <div class="templatedivflex2left">

                <h2 class="templatecontentheadercenter">[[ attackResult ]]</h2>
                <!--exerpt on war result - randomized-->
                <p class="templatecontentpleft">
                    <!--this is an example-->
                    your soldiers, tanks, and destroyers marched to [[ defender ]] and annihilated 80 aircraft, 60 artillery, and 0 cuirsers. Furthermore they destroyed 5 infrastructure buildings, killed 800,000 people.
                </p>

            </div>
            <div class="templatedivflex2left">

                <!--gif of war result - MAKE IF STATEMENTS TO DETERMINE WHAT GIF TO SHOW-->
                <img tabindex="0"="unitimage" src="{{ url_for('static', filename='images/indexcoalition.png') }}" />

            </div>
        </div>

        <table class="templatetable">
            <tr>
                <th><span class="material-icons-outlined">
                    article
                    </span>Spoils of War</th>
            </tr>
            <tr>
                <td>Money</td>
                <td>$ [[ amount ]]</td>
            </tr>
            <tr>
                <td>resource</td>
                <td>[[ amount ]]</td>
            </tr>
            <tr>
                <td>resource</td>
                <td>[[ amount ]]</td>
            </tr>
            <tr>
                <td>resource</td>
                <td>[[ amount ]]</td>
            </tr>
            <tr>
                <td>resource</td>
                <td>[[ amount ]]</td>
            </tr>
            <tr>
                <td>resource</td>
                <td>[[ amount ]]</td>
            </tr>
            <tr>
                <td>resource</td>
                <td>[[ amount ]]</td>
            </tr>
        </table>


        <a class="templatedivbutton templatecenteredbutton" href="/warchoose"><span class="material-icons-outlined">
            arrow_forward
            </span>Confirm</a>

    </div>
</div>
{% endblock %}