{% extends "layout.html"%} {% block title %} Attack Result {% endblock %} {% block body %}

<div class="templatediv">

    <div class="templatedivtopper wartopper">
        <h1 class="templatedivtitle"><span class="material-icons-outlined iconlarge">

            </span>{{attacker_result["nation_name"]}} VS {{defender_result["nation_name"]}}</h1>
        <div class="templatedivad"></div>
    </div>

    <div class="templatedivcontent">

        {% if win_condition == None %}
        <h3 class="templatecontentheaderleft">Special attack</h3>
        {% else %}
        <h3 class="templatecontentheaderleft">{{win_condition}}</h3>
        {% endif %}
        <div class="templatedivflex2 menuflex">
            <div class="templatedivflex2left">

                {% if winner == None %}
                <h2 class="templatecontentheadercenter">There is no winner</h2>
                {% else %}
                <h2 class="templatecontentheadercenter">{{winner}} is the winner</h2>
                {% endif %}

                <p class="templatecontentpleft landingpagecontent">
                    {{attacker_result["nation_name"]}} Ambushed {{defender_result["nation_name"]}}, obliterating {% if defender_result.get("unit_loss", 0) %} {% for key,value in defender_result["unit_loss"].items() %} {{value}} {{key}} {% endfor %}. Your units destroyed
                    {% if defender_result.get("infra_damage", 0) %} {% for key,value in defender_result["infra_damage"].items() %} {{value[1]}} {{key}} is {{value[0]}} {% endfor %} {% endif %} {% endif %}

                    <br /><br /> {{attacker_result["nation_name"]}} Suffered {% if attacker_result.get("unit_loss", 0) %} {% for key,value in attacker_result["unit_loss"].items() %} {{value}} {{key}} and {% endfor %} {% if attacker_result.get("infra_damage",
                    0) %} {% for key,value in attacker_result["infra_damage"].items() %} {{value[1]}} {{key}} is {{value[0]}} {% endfor %} {% endif %} {% endif %}
                </p>

            </div>
            <div class="templatedivflex2left">

                <table class="templatetable">
                    <!--Your losses-->
                    <tr>
                        <th><span class="material-icons-outlined">
                            outlined_flag
                            </span>{{ attacker_result["nation_name"] }}</th>
                    </tr>
                    {% if attacker_result.get("unit_loss", 0) %} {% for key,value in attacker_result["unit_loss"].items() %}
                    <tr>
                        <td>{{key}} killed:</td>
                        <td>{{value}}</td>
                    </tr>
                    {% endfor %} {% if attacker_result.get("infra_damage", 0) %} {% for key,value in attacker_result["infra_damage"].items() %}
                    <tr>
                        <td>{{value[1]}} {{value[0]}}</td>
                        <td>{{key}}</td>
                    </tr>
                    {% endfor %} {% endif %} {% endif %}
                    
                    {% if attacker_result.get("loot") != None %}
                    <tr>
                        <td>Looted money:</td>
                        <td>{{attacker_result["loot"]["money"] | commas }}</td>
                    </tr>
                    {% endif %}
                    
                    <!-- Defender losses -->
                    <tr>
                        <th><span class="material-icons-outlined">
                            outlined_flag
                            </span>{{ defender_result["nation_name"] }}</th>
                    </tr>
                    {% if defender_result.get("unit_loss", 0) %} {% for key,value in defender_result["unit_loss"].items() %}
                    <tr>
                        <td>{{key}} killed:</td>
                        <td>{{value}}</td>
                    </tr>
                    {% endfor %} {% if defender_result.get("infra_damage", 0) %} {% for key,value in defender_result["infra_damage"].items() %}
                    <tr>
                        <td>{{key}} {{value[0]}}:</td>
                        <td>{{value[1]}}</td>
                    </tr>
                    {% endfor %} {% endif %} {% endif %}
                </table>

            </div>
        </div>

        <a class="templatedivbutton templatecenteredbutton" href="/wars"><span class="material-icons-outlined">
            arrow_forward
            </span>Confirm</a>

    </div>
</div>
{% endblock %}
