{% extends "layout.html"%} {% block title %} Attack Result {% endblock %} {% block body %}

<div class="templatediv">

    <div class="templatedivtopper wartopper">
        <h1 class="templatedivtitle"><span class="material-icons-outlined iconlarge">

            </span>{{attacker_result["nation_name"]}} VS {{defender_result["nation_name"]}}</h1>
        <div class="templatedivad"></div>
    </div>

    <div class="templatedivcontent">

        <div class="templatedivflex2 menuflex">
            <div class="templatedivflex2left">

                {% if winner %}
                  <h2>The winner of the fight: {{winner}}</h2>
                  <h2>Win type: {{win_condition}}</h2>
                {% endif %}

                <h3 class="templatecontentheadercenter">Attack effects</h3>

                <!-- Attcker results -->
                <p class="templatecontentpleft">
                  {{attacker_result["nation_name"]}}<br>
                  {% if attacker_result.get("unit_loss", 0) %}
                    {% for key,value in attacker_result["unit_loss"].items() %}
                    Losed {{value}} from {{key}}<br>
                    {% endfor %}

                    {% if attacker_result.get("infra_damage", 0) %}
                      {% for key,value in attacker_result["infra_damage"].items() %}
                      {{value[1]}} {{key}} is {{value[0]}}<br>
                      {% endfor %}
                    {% endif %}
                  {% endif %}
                </p>

                <!-- Defender results -->
                <p class="templatecontentpleft">
                  {{defender_result["nation_name"]}}<br>
                  {% if defender_result.get("unit_loss", 0) %}
                    {% for key,value in defender_result["unit_loss"].items() %}
                    Losed {{value}} from {{key}}<br>
                    {% endfor %}

                    {% if defender_result.get("infra_damage", 0) %}
                      {% for key,value in defender_result["infra_damage"].items() %}
                      {{value[1]}} {{key}} is {{value[0]}}<br>
                      {% endfor %}
                    {% endif %}
                  {% endif %}
                </p>

            </div>
            <div class="templatedivflex2left">

                <!--gif of war result - MAKE IF STATEMENTS TO DETERMINE WHAT GIF TO SHOW-->
                <img tabindex="0" class="unitimage" src="{{ url_for('static', filename='images/indexcoalition.png') }}" />

            </div>
        </div>

        <table class="templatetable">
            <tr>
                <th><span class="material-icons-outlined">
                    article
                    </span>Spoils of War</th>
            </tr>
            <tr>
                <td>Money</td>
                <td>$ {{resStolen}}</td>
            </tr>
            <tr>
                <td>resource</td>
                <td>{{resStolen}}</td>
            </tr>
            <tr>
                <td>resource</td>
                <td>{{resStolen}}</td>
            </tr>
            <tr>
                <td>resource</td>
                <td>{{resStolen}}</td>
            </tr>
            <tr>
                <td>resource</td>
                <td>{{resStolen}}</td>
            </tr>
            <tr>
                <td>resource</td>
                <td>{{resStolen}}</td>
            </tr>
            <tr>
                <td>resource</td>
                <td>{{resStolen}}</td>
            </tr>
        </table>
        <a class="templatedivbutton templatecenteredbutton" href="/warchoose"><span class="material-icons-outlined">
            arrow_forward
            </span>Confirm</a>

    </div>
</div>
{% endblock %}
