{% extends "layout.html"%} {% block title %} Attack Choose {% endblock %} {% block body %}

<div class="templatediv">

    <div class="templatedivtopper wartopper">
        <h1 class="templatedivtitle"><span class="material-icons-outlined iconlarge">

            </span>Attack</h1>
        <div class="templatedivad"></div>
    </div>

    <div class="templatedivcontent">

        <h2 class="templatecontentheaderleft">Attack 3 Units</h2>
        <p class="templatecontentpleft">Choose what units you want to attack!</p>

        <!--only show enemy unit amount if you have spied on those units in the past 7 days-->
        <div class="templatedivflex2 menuflex">
            <div class="templatedivflex2left unitcard">

                <ul class="bold medium">Soldiers</ul>
                <ul>[[ amount ]]</ul>
                <img class="unitimage" src="{{ url_for('static', filename='images/soldier.jpg') }}" />

            </div>
            <div class="templatedivflex2left unitcard">

                <ul class="bold medium">Tanks</ul>
                <ul>[[ amount ]]</ul>
                <img class="unitimage" src="{{ url_for('static', filename='images/tank.jpg') }}" />

            </div>
            <div class="templatedivflex2left unitcard">

                <ul class="bold medium">Artillery</ul>
                <ul>[[ amount ]]</ul>
                <img class="unitimage" src="{{ url_for('static', filename='images/artillery.jpg') }}" />

            </div>
        </div>
        <div class="templatedivflex2 menuflex">
            <div class="templatedivflex2left unitcard">

                <ul class="bold medium">Fighter Jets</ul>
                <ul>[[ amount ]]</ul>
                <img class="unitimage" src="{{ url_for('static', filename='images/fighterjet.jpg') }}" />

            </div>
            <div class="templatedivflex2left unitcard">

                <ul class="bold medium">Bombers</ul>
                <ul>[[ amount ]]</ul>
                <img class="unitimage" src="{{ url_for('static', filename='images/bomber.jpg') }}" />

            </div>
            <div class="templatedivflex2left unitcard">

                <ul class="bold medium">Apaches</ul>
                <ul>[[ amount ]]</ul>
                <img class="unitimage" src="{{ url_for('static', filename='images/apache.jpg') }}" />

            </div>
        </div>
        <div class="templatedivflex2 menuflex">
            <div class="templatedivflex2left unitcard">

                <ul class="bold medium">Submarines</ul>
                <ul>[[ amount ]]</ul>
                <img class="unitimage" src="{{ url_for('static', filename='images/submarine.jpg') }}" />

            </div>
            <div class="templatedivflex2left unitcard">

                <ul class="bold medium">Cruisers</ul>
                <ul>[[ amount ]]</ul>
                <img class="unitimage" src="{{ url_for('static', filename='images/cruiser.jpg') }}" />

            </div>
            <div class="templatedivflex2left unitcard">

                <ul class="bold medium">Destroyers</ul>
                <ul>[[ amount ]]</ul>
                <img class="unitimage" src="{{ url_for('static', filename='images/destroyer.jpg') }}" />

            </div>
        </div>

        <h2 class="templatecontentheadercenter">[[ chosenAmount ]] / 3</h2>

        <div class="templatedivflex2 divflex2center">
            <div class="templatedivflex2left">

                <a class="templatedivbutton templatecenteredbutton" href="/waramount"><span
                        class="material-icons-outlined">
                        arrow_back
                    </span>Back</a>

            </div>
            <div class="templatedivflex2left">

                <!--SEND USER TO NEXT PAGE AS WELL-->
                <button id="templatedivbutton" class="templatedivbutton templatecenteredbutton" type="submit"><span
                        class="material-icons-outlined">
                        arrow_forward
                    </span>Attack</button>

            </div>
        </div>
    </div>
</div>
{% endblock %}